<%# app/views/help/show.html.erb -%>
<%-
  # EMMA topic help page.

  view_debug(__FILE__)

  item  ||= @topic
  entry   = help_topic_entry(item)

  cfg   ||= current_config_page_section(**entry)
  title ||= entry[:label] || cfg[:title]
  intro ||= entry[:intro] || cfg[:intro]

  unless modal?
    label = cfg[:label] || title
    set_page_meta_title(label)
    set_page_description(title)
  end

  opt = { item: item, skip: :title }

-%>

<%= page_heading(title) %>

<%= help_element(intro, class: 'help-intro') %>

<%= render 'help/details', opt %>

<div class="help-toc">
  <%= help_toc(type: :path) %>
</div>
