<%# app/views/help/show.html.erb -%>
<%-
  # EMMA topic help page.

  view_debug(__FILE__)

  item  ||= @topic

  entry   = help_topic(item)
  title ||= entry[:label] || t('emma.help.show.title', **entry)
  intro ||= entry[:intro] || t('emma.help.show.intro', default: '', **entry)

  unless modal?
    label = t('emma.help.show.label', default: title, **entry)
    set_page_meta_title(label)
    set_page_description(title)
  end

  intro = intro.presence && help_element(intro, class: 'help-intro')

  opt = { item: item, skip: :title }

-%>

<%= page_heading(title) %>

<%= intro %>

<%= render 'help/details', opt %>

<div class="help-toc">
  <%= help_toc(type: :path) %>
</div>
