// app/assets/stylesheets/shared/feature/_icons.scss
//
// Shared definitions supporting Unicode symbols as icons.


//=============================================================================
// Constants
//=============================================================================

$HEAVY_X:   "\2716";    // ✖ HEAVY MULTIPLICATION X
$MAGNIFIER: "\1F50D";   // 🔍 LEFT-POINTING MAGNIFYING GLASS
$PEN:       "\1F58A";   // 🖊 LOWER LEFT BALLPOINT PEN

//=============================================================================
// Mixins
//=============================================================================

@mixin element {

    display:         inline-block;
    vertical-align:  middle;
    text-decoration: none;

    .symbol {
        display:     inline-block; // Needed for transform
        font-weight: bold;
    }

    // NOTE: For future use:

    .symbol.magnifying_glass_icon::before { content: $MAGNIFIER; }
    .symbol.pen_icon::before              { content: $PEN; }
    .symbol.X_icon::before                { content: $HEAVY_X; }
}

@mixin show {

    @include element;

    padding: 0.125rem 0.0625rem;

    .symbol { // $MAGNIFIER
        transform: scaleX(-1); // reverse left-to-right
    }
}

@mixin edit {

    @include element;

    padding: 0.0375rem 0.125rem;

    .symbol { // $PEN
        font-size: larger;
        transform: rotate(-5deg); // align with $MAGNIFIER
    }
}

@mixin delete {

    @include element;

    padding: 0 0.25rem;

    .symbol { // $HEAVY_X
        font-size: larger;
    }
}
