// app/assets/stylesheets/shared/feature/_images.scss
//
// Shared definitions supporting `feature/_images.scss`.

@use 'shared/variables' as v;

//=============================================================================
// Constants
//=============================================================================

$border-width:      1px;
$border-color:      gray;

$thumbnail-max-x:   var(--thumbnail-max-x);
$thumbnail-max-y:   var(--thumbnail-max-y);

//=============================================================================
// Mixins
//=============================================================================

@mixin thumbnail-dimensions {

    max-width:  $thumbnail-max-x;
    max-height: $thumbnail-max-y;
    height:     $thumbnail-max-y;

    @media #{v.$narrow-screen} {
        max-height: unset;
        height:     auto;
    }
}
