// app/assets/stylesheets/shared/feature/_images.scss
//
// Shared definitions supporting `feature/_images.scss`.

@use 'shared/variables' as v;

//=============================================================================
// Constants
//=============================================================================

$border-width: 1px;
$border-color: gray;

//=============================================================================
// Mixins
//=============================================================================

@mixin thumbnail-dimensions {

    max-width:      var(--thumbnail-max-x);

    @media #{v.$not-narrow-screen} {
        max-height: var(--thumbnail-max-y);
        height:     var(--thumbnail-max-y);
    }

    @media #{v.$narrow-screen} {
        max-height: unset;
        height:     auto;
    }
}
