<%# app/views/manifest_item/bulk_reindex.html.erb -%>
<%-
  # Results of re-indexing.

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')
  view_debug(__FILE__)

  list  ||= @list || []

  title ||= t('emma.manifest_item.bulk_reindex.title')

-%>

<%= render 'fallback', title: title, error: 'Items:' %>

<ul>
  <%- list.each do |item| -%>
    <li><%= ManifestItem.sid_value(item) -%></li>
  <%- end -%>
</ul>
