<%# app/views/user/omniauth_callbacks/passthru.html.erb -%>
<%-
  # NOTE: This will only be displayed for a fixed user identity.

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')

  title ||= "PASSTHRU USER #{current_user}"

  unless modal?
    set_page_meta_title(title)
    set_page_description(title)
  end

-%>

<%= page_heading(title) %>

<%= sign_out_link %>
<p>current_user = <%= current_user.pretty_inspect -%></p>
