<%# app/views/user/omniauth_callbacks/passthru.html.erb -%>
<%-
  # NOTE: This will only be displayed for a fixed user identity.
  title ||= "PASSTHRU USER #{current_user}"

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end
-%>

<h1 class="heading"><%= title -%></h1>

<a href="<%= api_index_path -%>">GO TO /api</a>
<%= sign_out_link %>
<p>current_user = <%= current_user.pretty_inspect -%></p>

<%-
  abort 'user/omniauth_callbacks/passthru - This is not expected to be used'
-%>
