<%# app/views/search/show.html.erb -%>
<%-
  # A EMMA Federated Search metadata record show page.
  item  ||= @item
  image ||= nil
  title ||= item&.label || t('emma.search.show.title')
  logo  ||= repository_source_logo(item)

  set_page_title(title)
  set_page_description(Search: title)
-%>

<div class="heading container">
  <h1 class="heading"><%= title -%></h1>
  <%= logo %>
</div>

<%= render 'search/details', item: item, image: image %>
