<%# app/views/devise/shared/_error_messages.html.erb -%>
<%-
  # Devise-controller-related errors.

  resource ||= current_user
  errors   ||= resource&.errors

  return unless errors.present?

  errors = Array.wrap(errors)

  heading ||= t(
    'errors.messages.not_saved',
    count:    errors.count,
    resource: resource.class.model_name.human.downcase
  )

-%>

<div id="error_explanation">
  <h2><%= heading -%></h2>
  <ul>
    <%- errors.full_messages.each do |message| -%>
      <li><%= message -%></li>
    <%- end -%>
  </ul>
</div>
