<%# app/views/devise/shared/_links.html.erb -%>
<%-
  # Link(s) displayed at the bottom of many Devise-controller-related page.

  view_debug(__FILE__)

  c = controller_name
  m = devise_mapping

  links    = []
  link_opt = { class: 'sign-in-link', role: 'button' }

  unless c == 'sessions'
    label  = t('emma.user.sessions.sign_in.label')
    path   = sign_in_local_path
    links << make_link(path, label, **link_opt)
  end

  registerable = m.registerable? && (c != 'registrations')
  recoverable  = m.recoverable?  && !%w[passwords registrations].include?(c)
  confirmable  = m.confirmable?  && (c != 'confirmations')
  lockable     = m.lockable?     && (c != 'unlocks')
  lockable   &&= resource_class.unlock_strategy_enabled?(:email)

  devise_modules = []
  devise_modules << 'registration' if registerable
  devise_modules << 'password'     if recoverable
  devise_modules << 'confirmation' if confirmable
  devise_modules << 'unlock'       if lockable
  devise_modules.map! { |devise_module|
    ctrlr = devise_module.pluralize
    label = t("emma.user.#{ctrlr}.new.label")
    path  = send("new_user_#{devise_module}_path")
    make_link(path, label, **link_opt)
  }
  links.concat(devise_modules)

-%>

<div class="sign-in-links">
  <%= render 'user/sessions/omniauth' %>
  <%= safe_join(links, "\n") %>
</div>
