<%# app/views/devise/shared/_links.html.erb -%>
<%-
  # Link(s) displayed at the bottom of many Devise-controller-related page.

  c = controller_name
  m = devise_mapping

  registerable = m.registerable? && (c != 'registrations')
  recoverable  = m.recoverable?  && !%w(passwords registrations).include?(c)
  confirmable  = m.confirmable?  && (c != 'confirmations')
  lockable     = m.lockable?     && (c != 'unlocks')
  lockable   &&= resource_class.unlock_strategy_enabled?(:email)

  mods = []
  mods << :sessions      unless c == 'sessions'
  mods << :registrations if registerable
  mods << :passwords     if recoverable
  mods << :confirmations if confirmable
  mods << :unlocks       if lockable

  links =
    mods.map { |devise_module|
      label = t("emma.user.#{devise_module}.new.label")
      path  = send("new_#{devise_module}_path", resource_name)
      [label, path]
    }

  if devise_mapping.omniauthable?
    links +=
      resource_class.omniauth_providers.map { |provider|
        name  = OmniAuth::Utils.camelize(provider)
        label = t('emma.user.omniauth_callbacks.new.label', provider: name)
        path  = omniauth_authorize_path(resource_name, provider)
        [label, path]
      }
  end

  # NOTE: Temporary sign-in-as links.
  if defined?(OmniAuth::Strategies::Bookshare::CONFIGURED_AUTH)
    links +=
      OmniAuth::Strategies::Bookshare::CONFIGURED_AUTH.map { |id, _|
        label = t('emma.user.omniauth_callbacks.sign_in_as.label', user: id)
        path  = sign_in_as_path(id: id)
        [label, path]
      }
  end
-%>

<%- links.to_h.each_pair do |label, path| -%>
  <p>
    <%= link_to(label, path, 'data-turbolinks': false) %>
  </p>
<%- end -%>
