<%# app/views/layouts/_selected.html.erb -%>
<%-
  # Display the selected item in an expandable panel.

  item  ||= nil or return
  force ||= @force
  row   ||= 0

  toggle = classes = nil
  if item.is_a?(Upload)
    heading = "Selected item #{item.id} record details:" # TODO: I18n
    classes = "selected-details row-#{row}"
    toggle  = toggle_button(selector: ".#{classes.tr(' ', '.')}")
  elsif !force
    name    = html_span(item, class: 'item')
    heading = "Item #{name} is not in the database".html_safe # TODO: I18n
  elsif item.include?('-')
    name    = html_span(item, class: 'item')
    heading = "Removing index entry #{name}".html_safe # TODO: I18n
  else
    repo  ||= EmmaRepository.default
    name    = html_span("#{repo}-#{item}-*", class: 'item')
    heading = "No index entries match #{name}".html_safe # TODO: I18n
  end

-%>

<div class="selected-upload">

  <div class="toggle-panel-title">
    <h2 class="selected-header"><%= heading -%></h2>
    <%= toggle %>
  </div>

  <%- if toggle -%>
    <div class="<%= classes -%>">
      <%= render 'upload/entry', item: item, skip: :number %>
    </div>
  <%- end -%>

</div>
