<%# app/views/upload/bulk_index.html.erb -%>
<%-
  # Bulk operation information. # TODO: ???

  view_debug(__FILE__)

  list  ||= @list
  dec     = UploadsDecorator.new(list: list, **context)

  title ||= dec.page_heading
  help  ||= dec.help_topic

  unless modal?
    label = dec.page_meta_title(default: title)
    set_page_meta_title(label)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

-%>

<div class="heading container">
  <%= page_heading(title, help: help) %>
</div>

TODO
