<%# app/views/title/page_controls/_show.html.erb -%>
<%-
  # Page controls on a Catalog Title show page for an authorized user.
  actions = page_control_actions(Title, :history, :edit, :delete)
  return if actions.blank?
  id ||= params[:id]
  path_opt = { id: id, ids: [id] }
-%>

<label class="label"><%= page_controls_label -%>:</label>
<div class="controls"><%= page_controls(*actions, **path_opt) %></div>
