<%# app/views/bs_api/v2.html.erb -%>
<%-
  # Display of results from an individual API call.

  view_debug(__FILE__)

  result ||= @api_result || {}

  help   ||= nil # %i[bs_api v2]
  title  ||= t('emma.bs_api.v2.title')

  unless modal?
    set_page_meta_title(title, result[:url].inspect)
    set_page_description(title)
  end

  result, info = partition_hash(result, :exception, :result)

-%>

<%= page_heading(title, help: help) %>

<div class="session-debug">
  <table role="table">
    <tbody role="rowgroup">
      <%- info.each_pair do |k, v| -%>
        <%- v = v.inspect unless v.is_a?(String) -%>
        <tr role="row">
          <th role="rowheader" class="key"><%= k -%></th>
          <td role="cell" class="value"><%= v -%></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

<div class="trials">
  <div class="value">
    <%= format_api_result(result.values.first) %>
  </div>
</div>
