<%# app/views/title/_details.html.erb -%>
<%-
  # A Catalog Title metadata listing.
  item  ||= nil
  image ||= nil
  return if item.blank?

  append_page_description(
    Series:   item.seriesTitle,
    ISBN:     item.isbn,
    Language: item.languages&.first(3),
    Author:   item.authors&.first(3),
  )
-%>

<div class="title-details-container">
  <div class="title-details">
    <%= title_field_values(item) %>
  </div>
  <%= image || cover_image(item) %>
</div>
