<%# app/views/title/_details.html.erb -%>
<%-
  # A catalog Title metadata listing with cover image.

  item  ||= nil or return
  image ||= nil
  add   ||= nil
  level ||= 1
  skip  ||= nil

  # noinspection RubyResolve
  append_page_description(
    Series:   item.seriesTitle,
    ISBN:     item.isbn,
    Language: item.languages&.first(3),
    Author:   item.authors&.first(3),
  ) unless modal?

  skip = Array.wrap(skip)
  role = ('role="article"'.html_safe if level == 1)

-%>

<div <%= role -%> class="title-container">
  <%= title_details(item, pairs: add) %>
  <%= image || cover_image(item) unless skip.include?(:cover_image) %>
</div>
