<%# app/views/title/edit.html.erb -%>
<%-
  # Catalog Title edit form.

  # NOTE: Currently this is a fall-back in case there was a problem with the
  # link to Bookshare.  Normally, it would only be seen if going directly to
  # the EMMA endpoint.

  title ||= t('emma.title.edit.title')
  id    ||= @bookshare_id

  click_to =
    if can?(:edit, Title)
      'Click %s to' % link_to_action(label: 'here', id: id)
    else
      'User %s cannot' % current_user.to_s.inspect
    end.html_safe

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex, :nofollow)
-%>

<h1 class="heading"><%= title -%></h1>

<p><%= click_to -%> modify catalog title metadata.</p>
