<%# app/views/title/history.html.erb -%>
<%-
  # Catalog Title history.
  title ||= t('emma.title.history.title')
  id    ||= @bookshare_id

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex)

  # NOTE: Currently this is a fall-back in case there was a problem with the
  # link to Bookshare.  It shouldn't normally be seen.
  here = link_to_action(label: 'here', id: id)
-%>

<h1 class="heading"><%= title -%></h1>

<p>Click <%= here -%> for catalog title update history.</p>
