<%# app/views/title/show.html.erb -%>
<%-
  # Catalog Title show page.
  item  ||= @item
  title ||= item&.label || t('emma.title.show.title')
  @page_title = title
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'title/details', item: item %>
