<%# app/views/title/show.html.erb -%>
<%-
  # A Catalog Title show page.

  item  ||= @item
  image ||= nil
  title ||= item&.label || t('emma.title.show.title')
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(Title: title)
  end

  template_opt = { item: item, image: image }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= render 'title/details', template_opt %>
