<%# app/views/user/registrations/_resignation.html.erb -%>
<%-
  # Section including a link to delete your account.
  #
  # NOTE: Not currently enabled by default.

  view_debug(__FILE__)

  show_resign ||= false
  show_resign &&= current_user && !administrator?

  return unless show_resign

  label   = t('emma.user.registrations.destroy.label')
  confirm = config_text(:user, :confirmation)
  opt     = { method: :delete }
  opt[:data] = { confirm: confirm } if confirm.present?
  button  = button_to(label, registration_path(resource_name), opt)
  link    = t('emma.user.registrations.destroy.link', button: button).html_safe

-%>

<h3><%= label -%></h3>
<p><%= link -%></p>
