<%# app/views/edition/_details.html.erb -%>
<%-
  # A periodical Edition metadata listing.
  item ||= nil
  return if item.blank?
-%>

<div class="edition-container">
  <%= render 'edition/metadata', item: item %>
</div>
