<%# app/views/edition/download.html.erb -%>
<%-
  # Fall-back page for a failed Edition download.
  title ||= t('emma.edition.download.title')
  error ||= @error

  error &&= t('emma.download.error.server')
  error ||= t('emma.download.error.javascript')

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end
-%>

<h1 class="heading"><%= title -%></h1>

<p><%= error -%></p>
