<%# app/views/edition/show.html.erb -%>
<%-
  # Edition show page.
  item  ||= @item
  title ||= item&.label || t('emma.edition.show.title')
  @page_title = title
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'edition/details', item: item %>
