<%# app/views/edition/show.html.erb -%>
<%-
  # A periodical Edition show page.
  item  ||= @item
  title ||= item&.label&.presence || t('emma.edition.show.title')

  unless modal?
    set_page_title(title)
    set_page_description(title)
  end
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'edition/details', item: item %>
