<%# app/views/edition/show.html.erb -%>
<%-
  # Edition show page.
  item  ||= @item
  title ||= item&.label || t('emma.edition.show.title')

  set_page_title(title)
  set_page_description(title)
-%>

<h1 class="heading"><%= title -%></h1>

<div class="edition-container">
  <%= render 'edition/details', item: item %>
</div>
