<%# app/views/api/v2.html.erb -%>
<%-
  # Display of results from an individual API call.
  title ||= t('emma.api.v2.title')

  unless modal?
    set_page_title(title, @api_result[:url].inspect)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end
-%>

<h1 class="heading"><%= title -%></h1>

<div class="session-debug">
  <table>
    <tbody>
      <%- @api_result.except(:exception, :result).each_pair do |k, v| -%>
        <tr>
          <th class="key"><%= k -%></th>
          <td class="value"><%= v.is_a?(String) ? v : v.inspect -%></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

<div class="trials">
  <div class="value">
    <%= api_format_result(@api_result[:exception] || @api_result[:result]) %>
  </div>
</div>
