<%# app/views/api/v2.html.erb -%>
<%-
  # Display of results from an individual API call.
  title ||= t('emma.api.v2.title')
  @page_title = "#{title} #{@result[:url].inspect}"
-%>

<h1 class="heading"><%= title -%></h1>

<div class="session-debug">
  <table>
    <tbody>
      <%- @result.except(:exception, :result).each_pair do |k, v| -%>
        <tr>
          <th class="key"><%= k -%></th>
          <td class="value"><%= v.is_a?(String) ? v : v.inspect -%></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

<div class="trials">
  <div class="value">
    <%= api_format_result(@result[:exception] || @result[:result]) %>
  </div>
</div>
