// app/assets/stylesheets/shared/_common.scss

//=============================================================================
// Common definitions.
//=============================================================================

// Make an actionable item (e.g. <a>) appear non-functional.
// NOTE: The link should also have attribute 'tab-index="-1"'.
%disabled {
    &:active { pointer-events:  none; }
    &:hover  { text-decoration: none; }
    &:focus  { outline:         none; }
}

// Counteract the effects of .sr-only (except for position and border).
%not-sr-only {
    width:       unset;
    height:      unset;
    padding:     unset;
    margin:      unset;
    white-space: unset;
    overflow:    unset;
    clip:        unset;
}

// An element that spans the entire width of the display.
%banner {

    display:          flex;
    flex-direction:   row;
    justify-content:  space-between;
    margin:           0;
    padding:          1rem 2rem;
    color:            white;
    background-color: #24408e;

    * {
        margin: auto 0;
        color:  white;
    }

    a {

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: 2px dotted white;
        }
    }

    .disabled {
        color: lightgray;
    }
}

//=============================================================================
// Common settings.
//=============================================================================

// Make focus outline more easily seen.
:focus {
    outline:        2px solid rgba(77, 144, 254, 0.5);
    outline-offset: 2px;
}

/*
// Convenience definition for Bootstrap "hidden on all" class.
.hidden {
    @extend .d-none;
}
*/

.disabled {
    @extend %disabled;
    cursor: default;
}

.forbidden {
    @extend %disabled;
    cursor: not-allowed;
}

//=============================================================================
// General layout.
//=============================================================================

body {
    margin:  0;
    padding: 0;
}

// The <header> at the top of every page.
.layout-header {

    @extend %banner;

    font-size: x-large;

    //=========================================================================
    // Header sections
    //=========================================================================

    > * {
        display:        flex;
        flex-direction: row;
    }

    .logo-area > * {
        margin: auto 1rem auto 0;
    }

    .control-area > * {
        margin: auto 0 auto 1rem;
    }

    //=========================================================================
    // Header elements
    //=========================================================================

    .logo {
        font-size: xx-large;
    }

    .tagline {
        font-size:    smaller;
        font-variant: small-caps;
    }

    .user {
        font-size: smaller;
    }

    .session {
        padding:       0.25rem 0.375rem;
        border:        1px solid;
        border-radius: 0.5rem;
    }

    .session-link:focus {
        outline-offset: 1px;
    }
}

// Navigation bar (<nav>) at the top of every page just below <header>.
.layout-navbar {

    @extend %banner;

    //=========================================================================
    // Navbar sections
    //=========================================================================

    .links {

        display:        flex;
        flex-direction: row;
        font-size:      x-large;

        > * {
            margin-right: 0.5rem;
        }
    }
}

// The <main> content area of the page.
.layout-content {
    margin: 0 2rem;
}

// The <footer> at the bottom of every page.
.layout-footer {
    @extend %banner;
}

//=============================================================================
// Flash message display.
//=============================================================================

.flash-messages {

    > * {
        margin:        1rem 0;
        padding:       1rem;
        border:        2px solid gray;
        border-radius: 8px;
    }

    .notice {
        background-color: #00ff0060;
    }

    .alert {
        background-color: #ff000060;
    }
}
