// app/assets/stylesheets/shared/_common.scss

// @use 'shared/variables'; // TODO: SASS 4.0

//=============================================================================
// Common definitions.
//=============================================================================

// Make an actionable item (e.g. <a>) appear non-functional.
// NOTE: The link should also have attribute 'tab-index="-1"'.
%disabled {
    &:active { pointer-events:  none; }
    &:hover  { text-decoration: none; }
    &:focus  { outline:         none; }
}

// Counteract the effects of .sr-only (except for position and border).
%not-sr-only {
    width:       unset;
    height:      unset;
    padding:     unset;
    margin:      unset;
    white-space: unset;
    overflow:    unset;
    clip:        unset;
}

// An element that spans the entire width of the display.
%banner {

    display:          flex;
    flex-direction:   row;
    justify-content:  space-between;
    margin:           0;
    padding:          $page-padding;
    color:            white;
    background-color: #24408e;

    * {
        margin: auto 0;
        color:  white;
    }

    a {

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: 2px dotted white;
        }
    }

    .disabled {
        color: lightgray;
    }
}

//=============================================================================
// Common settings.
//=============================================================================

// Make focus outline more easily seen.
:focus {
    outline:        2px solid rgba(77, 144, 254, 0.5);
    outline-offset: 2px;
}

/*
// Convenience definition for Bootstrap "hidden on all" class.
.hidden {
    @extend .d-none;
}
*/

.disabled {
    @extend %disabled;
    cursor: default;
}

.forbidden {
    @extend %disabled;
    cursor: not-allowed;
}

//=============================================================================
// General layout.
//=============================================================================

body {
    margin:  0;
    padding: 0;
}

// The <main> content area of the page.
.layout-content {
    margin: 0 $page-padding-x;
}
