// app/assets/stylesheets/shared/_debug.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Debugging.
//=============================================================================

.session-debug {

    width:      100%;
    word-break: break-word;

    .key,
    .value {
        text-align:     left;
        vertical-align: top;
    }

    .key {
        word-break: keep-all;
    }
}

// noinspection SassScssResolvedByNameOnly
.ability-debug {

    width:         50%;
    margin-bottom: $page-padding;

    @media #{$narrow-screen} {
        width: 100%;
    }

    @media #{$browser-ie} {
        margin-bottom: $ie-page-padding;
    }

    .ability-list {
        @extend .toggle-panel;
    }

    table {

        width:        100%;
        border:       2px solid $uva-accent-orange;
        table-layout: fixed;

        thead {
            color:            white;
            background-color: gray;
        }

        tbody {
            .blank-row {

                height: 0.5rem;

                td                { border-bottom: 2px solid gray; }
                &:last-of-type td { border-bottom: 2px solid transparent; }
            }
        }

        .model,
        .action,
        .status {
            padding-left: 0.25rem;
            text-align:   left;
        }

        .can {
            font-weight:      bold;
            background-color: $success-bg;
        }
    }
}
