// app/assets/stylesheets/shared/_header.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Page header.
//=============================================================================

// The <header> area of the page.
.layout-header {
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0;
    padding:         0;
}

//=============================================================================
// Variables
//=============================================================================

// noinspection SassScssResolvedByNameOnly
$label-gap: calc(#{$flex-gap-x} / 2);

//=============================================================================
// Placeholder classes
//=============================================================================

// noinspection SassScssResolvedByNameOnly
%header-section {
    display:        flex;
    flex-direction: row;
    width:          100%;
}

// noinspection SassScssResolvedByNameOnly
%header-search-section {

    @extend %header-section;

    width:     33%;
    min-width: calc(#{$sm-width} - (2 * #{$page-padding-x}));
    max-width: calc(#{$lg-width} - (2 * #{$page-padding-x}));

    @media #{$narrow-screen} {
        width:     100%;
        min-width: unset;
        max-width: unset;
    }
}

%inside-text-black {
    * { color: black; }
}

//=============================================================================
// Sections
//=============================================================================

// The content at the top of every page.
//
// noinspection SassScssResolvedByNameOnly
.layout-banner {

    @extend %banner;

    font-size: x-large;

    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    > * {
        display:        flex;
        flex-direction: row;
        flex:           0 1 auto;
    }

    // The logo (home link) and tagline on the left-hand side of the header.
    .logo-area {

        justify-content: flex-start;
        margin-top:      0;
        flex:            0 1 auto;

        > * {
            margin: auto $flex-gap-x auto 0;
        }

        @media #{$narrow-screen} {

            flex-direction: column;

            > * {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    // Action controls on the right-hand side of the header, particularly the
    // "Sign in"/"Sign out" button, which appears in the upper-right corner of
    // the display regardless of the width of the display.
    .control-area {

        flex-wrap:       wrap-reverse;
        justify-content: flex-end;
        margin-top:      auto;
        overflow:        hidden;
        flex:            1 1 auto;

        > * {
            margin: auto 0 auto $flex-gap-x;
        }

        @media #{$narrow-screen} {

            flex-direction: column-reverse;
            margin-top:     0;
            margin-bottom:  $flex-gap-y;

            > * {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // The fixed-size EMMA logo element.
    .logo {
        margin-top: 0;
        font-size:  xx-large;
        flex:       0 0 auto;
    }

    // The EMMA tagline next to the logo.
    //
    // This is reformatted to fit within the available display width, and is
    // not shown at all on small (narrow) displays due to insufficient screen
    // real estate.
    //
    .tagline {

        font-size:    smaller;
        font-variant: small-caps;
        flex:         0 1 auto;

        @media #{$medium-width} {
            font-size: small;
        }

        @media #{$narrow-screen} {
            display: none;
        }
    }

    // The name of the signed-in user.
    //
    // This is truncated with ellipses in cases where the display width is not
    // sufficient to show the whole name.
    //
    .user {
        width:         min-content;
        max-width:     100%;
        font-size:     smaller;
        overflow:      hidden;
        text-overflow: ellipsis;
        flex:          0 1 auto;
    }

    // The "Sign in"/"Sign out" button.
    //
    // This always appears in the upper-right corner of the display due to the
    // .content-area settings.
    //
    .session {

        min-width:     max-content;
        max-width:     max-content;
        padding:       0.25rem 0.375rem;
        border:        1px solid;
        border-radius: 0.5rem;
        flex:          0 0 auto;

        @media #{$narrow-screen} {
            margin-top: $flex-gap-y;
        }
    }

    // Sign-in button link element.
    .session-link:focus {
        outline-offset: 1px;
    }
}

// Navigation bar (<nav>) at the top of every page just below the top banner.
//
// noinspection SassScssResolvedByNameOnly
.layout-navbar {

    @extend %banner;

    //=========================================================================
    // Sections
    //=========================================================================

    .links {

        @extend %header-section;

        font-size: x-large;

        > * {
            width:        max-content;
            margin-right: 0.5rem;
        }

        a:active {
            outline: 2px dotted white;
        }

        .active {
            text-decoration: underline;
        }

        // TODO: prefer hamburger menu for small screens?
        @media #{$narrow-screen} {
            .separator {
                display: none;
            }
        }
    }
}

// noinspection SassScssResolvedByNameOnly
.layout-section {

    @extend %banner;

    padding-top: 0;
}

// Search input.
.layout-section {
    .search-bar {

        @extend %header-search-section;
        @extend %inside-text-black;

        .search-input {
            flex: 1 1 auto;
        }

        .search-button {
            margin-left: $label-gap;
            flex:        0 0 auto;
        }
    }
}

// Search controls (sort, per-page).
.layout-section {
    .search-controls {

        @extend %header-search-section;

        .control-label {
            margin-right: $label-gap;
            flex:         0 0 auto;
        }

        * + .control-label {
            margin-left:  $label-gap;
        }

        .sort-menu {
            @extend %inside-text-black;
            flex: 1 0 auto;
        }

        .size-menu {
            @extend %inside-text-black;
            flex: 1 0 auto;
        }

        .language-menu {
            @extend %inside-text-black;
            flex: 0 1 auto;
        }
    }
}
