// app/assets/stylesheets/shared/_header.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Page header.
//=============================================================================

// The <header> area of the page.
// noinspection SassScssResolvedByNameOnly,CssReplaceWithShorthandSafely
.layout-header {
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0;
    margin-bottom:   -$hcm-divider-width;
    padding:         0;
    border-bottom:   $hcm-divider-width solid $hcm-color;
}

//=============================================================================
// Placeholder classes
//=============================================================================

// noinspection SassScssResolvedByNameOnly
%header-section {
    display:        flex;
    flex-direction: row;
    width:          100%;
}

// noinspection SassScssResolvedByNameOnly
%header-search-section {

    @extend %header-section;

    max-width: calc(#{$lg-width} - (2 * #{$page-padding-x}));

    @media #{$browser-ie} {
        max-width: calc(#{$lg-width} - (2 * #{$ie-page-padding-x}));
    }

    @media #{$narrow-screen} {
        width:     100%;
        min-width: unset;
        max-width: unset;
    }
}

%header-control-interior {
    * {
        color:     black;
        font-size: large;
    }
}

//=============================================================================
// Sections
//=============================================================================

// The content at the top of every page.
//
// noinspection SassScssResolvedByNameOnly
.layout-banner {

    @extend %banner;

    font-size: x-large;

    //=========================================================================
    // Sections
    //=========================================================================

    > * {
        display:        flex;
        flex-direction: row;
        flex:           0 1 auto;
    }

    // The logo (home link) and tagline on the left-hand side of the header.
    .logo-area {

        justify-content: flex-start;
        margin-top:      0;
        flex:            0 1 auto;

        @media #{$narrow-screen} {
            flex-direction: column;
        }

        > * {

            margin: auto $flex-gap-x auto 0;

            @media #{$browser-ie} {
                margin: auto $ie-flex-gap-x auto 0;
            }

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    // Action controls on the right-hand side of the header, particularly the
    // "Sign in"/"Sign out" button, which appears in the upper-right corner of
    // the display regardless of the width of the display.
    .control-area {

        flex-wrap:       wrap-reverse;
        justify-content: flex-end;
        margin-top:      auto;
        margin-left:     $page-padding-x;
        flex:            1 1 auto;

        @media #{$browser-ie} {
            margin-left: $ie-page-padding-x;
        }

        @media #{$narrow-screen} {
            flex-direction: column-reverse;
            margin-top:     0;
            margin-bottom:  $flex-gap-y;
        }

        > * {

            margin: auto 0 auto $flex-gap-x;

            @media #{$browser-ie} {
                margin: auto 0 auto $ie-flex-gap-x;
            }

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // The fixed-size EMMA logo element.
    //
    // @see LayoutHelper#logo_element
    //
    .logo {

        margin-top: 0;
        max-height: 3rem;
        font-size:  xx-large;
        flex:       0 0 auto;

        @media #{$narrow-screen} {
            max-height: 5rem;
        }

        &:hover {
            box-shadow: 0 0 1rem 0.25rem $uva-accent-orange;
        }

        * {
            display:    block;
            max-height: inherit;
            max-width:  100%;
        }

        a:focus {
            outline-offset: 3px;
        }
    }

    // The EMMA tagline next to the logo.
    //
    // This is reformatted to fit within the available display width, and is
    // not shown at all on small (narrow) displays due to insufficient screen
    // real estate.
    //
    .tagline {

        font-size:    smaller;
        font-variant: small-caps;
        flex:         0 1 auto;

        @media #{$browser-ie} {
            margin-top: 0.75rem;
        }

        @media #{$medium-width} {
            font-size: small;
        }

        @media #{$narrow-screen} {
            display: none;
        }
    }

    // The name of the signed-in user.
    //
    // This is truncated with ellipses in cases where the display width is not
    // sufficient to show the whole name.
    //
    .user {
        width:         min-content;
        max-width:     100%;
        font-size:     smaller;
        overflow:      hidden;
        text-overflow: ellipsis;
        flex:          0 1 auto;
    }

    // The "Sign in"/"Sign out" button.
    //
    // This always appears in the upper-right corner of the display due to the
    // .content-area settings.
    //
    // Note that .session-link doesn't underline on hover because .session is
    // set up to do that.  The font size adjustments keep the underline from
    // being overly thick.
    //
    // @see SessionsHelper#sign_in_link
    // @see SessionsHelper#sign_out_link
    //
    .session {

        @extend %button;

        min-width:     max-content;
        max-width:     max-content;
        padding:       0.25rem 0.375rem;
        font-size:     smaller;
        border:        1.5px solid;
        border-radius: 0.5rem;
        flex:          0 0 auto;

        @media #{$browser-ie} {
            padding: 0.5rem;
        }

        @media #{$narrow-screen} {
            margin-top: $flex-gap-y;
        }

        //=====================================================================
        // Components
        //=====================================================================

        .session-link {

            font-size: larger;

            &:focus { outline-offset:  0.575rem; }
            &:hover { text-decoration: none; }
        }
    }
}

// Navigation bar (<nav>) at the top of every page just below the top banner.
//
// noinspection SassScssResolvedByNameOnly
.layout-navbar {

    @extend %banner;

    // TODO: prefer hamburger menu for small screens?
    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    .links {

        @extend %header-section;

        flex-wrap: wrap;
        font-size: x-large;

        > * {

            width:        max-content;
            margin-right: 0.5rem;

            @media #{$narrow-screen} {
                margin-top:    0;
                margin-bottom: 0.5rem;
            }
        }

        .active {
            text-decoration: underline;
        }
    }
}

// Other header sections.
//
// noinspection SassScssResolvedByNameOnly
.layout-section {

    @extend %banner;

    padding-top: 0;
}

// Search input bar and search controls (sort, per-page, language).
.layout-section.search {

    // noinspection SassScssResolvedByNameOnly
    &.input {

        display:         grid;
        justify-content: start;

        @media #{$wide-screen} {
            grid-template-columns: [input-bar] 0.50fr [adv-toggle] max-content;
        }

        @media #{$medium-width} {
            grid-template-columns: [input-bar] 0.75fr [adv-toggle] max-content;
        }

        @media #{$narrow-screen} {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // @see LayoutHelper#search_input
    .search-input {
    }

    // @see LayoutHelper#search_button
    // noinspection SassScssResolvedByNameOnly
    .search-button {
        @extend %button;
    }

    // @see LayoutHelper#advanced_search_button
    // noinspection SassScssResolvedByNameOnly
    .advanced-search-toggle {

        @extend %button;

        display:          block;
        padding:          2px 6px;
        line-height:      1.125;
        text-decoration:  none;
        font-size:        large;
        border-radius:    6px;
        border:           1.5px solid;
        background-color: $panel-accent;
    }

    // @see LayoutHelper#menu_container
    .menu-label {
        font-size: large;
    }

    // @see LayoutHelper#menu_control
    .menu-control {
        @extend %header-control-interior;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    // @see LayoutHelper#search_bar
    // noinspection SassScssResolvedByNameOnly
    .search-bar {

        @extend %header-search-section;
        @extend %header-control-interior;

        flex-wrap: wrap;
        margin:    $gap-y 0;

        @media #{$browser-ie} {
            margin: $ie-gap-y 0;
        }

        @media #{$narrow-screen} {

            justify-content: flex-end;
            grid-column:     1 / -1;

            * { font-size: larger; }
        }

        // @see LayoutHelper#search_input
        .search-input {

            max-width:    100%;
            margin-right: $gap-x;
            flex:         1 1;

            @media #{$browser-ie} {
                margin-right: $ie-gap-x;
            }

            @media #{$narrow-screen} {
                margin-right: 0;
            }
        }

        // @see LayoutHelper#search_button
        .search-button {

            flex: 0 0;

            @media #{$narrow-screen} {
                margin-top: $gap-y;
            }
        }
    }

    // noinspection SassScssResolvedByNameOnly
    .advanced-search-toggle {

        margin: auto 0;

        @media #{$wide-screen} {
            margin-left: calc(2 * #{$gap-x});
        }

        @media #{$medium-width} {
            margin-left: calc(3 * #{$gap-x});
        }

        @media #{$narrow-screen} {
            margin-top:  $gap-y;
            margin-left: 0;
            grid-row:    2;
        }
    }

    // noinspection SassScssResolvedByNameOnly
    .search-controls {

        @extend %header-search-section;

        display:   grid;
        width:     max-content;
        max-width: 100%;

        @media #{$wide-screen} {
            @media #{$browser-ie} {
                width: 50%;
            }
        }

        @media #{$narrow-screen} {
            padding-top: $gap-y;
        }

        //=====================================================================
        // Grid definition
        //=====================================================================

        grid-gap:    $gap-y $gap-x;
        align-items: baseline;

        $menu-template: "[label] max-content [menu] minmax(25%,100%)";

        @for $n from 1 through 6 {
            &.columns-#{$n} {

                grid-template-columns: repeat(#{$n}, #{$menu-template});

                @media #{$medium-width} {
                    @if $n >= 2 {
                        grid-template-columns: repeat(2, #{$menu-template});
                    }
                }

                @media #{$narrow-screen} {
                    @if $n >= 1 {
                        grid-template-columns: #{$menu-template};
                    }
                }
            }
        }

        //=====================================================================
        // Sections
        //=====================================================================

        // TODO: Currently unused -- probably remove.
        // @see LayoutHelper#menu_container
        .menu-container {

            display:               grid;
            grid-template-columns: [label] 0.2fr [control] 1fr;
            margin:                $gap-y 0;

            @media #{$narrow-screen} {
                grid-template-columns: [label] 0.5fr [control] 1fr;
            }

            @media #{$wide-screen} {

                grid-template-columns: [label] auto [control] 1fr;
                margin:                auto;

                &:first-of-type { margin-left: 0; }
            }

            @media #{$browser-ie} {
                display:        flex;
                flex-direction: row;
                margin:         $ie-gap-y 0 $ie-gap-y $ie-flex-gap-y;
            }
        }

        //=====================================================================
        // Elements
        //=====================================================================

        // @see LayoutHelper#menu_container
        .menu-label {

            @media #{$browser-ie} {
                margin-right: $ie-gap-x;
            }

            &.col1 {
                @media #{$wide-screen} {
                    grid-column: 1;
                }
            }
        }

        // @see LayoutHelper#menu_control
        .menu-control {

            margin-right: calc(3 * #{$gap-x});

            select {

                width: 100%;

                @media #{$browser-ie} {
                    margin-right: $ie-gap-x;
                }
            }
        }

        //=====================================================================
        // Conditions
        //=====================================================================

        &:not(.open) {
            > *:not(.row1) {
                display: none;
            }
        }

        // Add this class to display the full ("advanced search") view.
        &.open {
            > * {
                display: initial;
            }
        }
    }
}

// Controller- and action-specific page controls.
//
// noinspection SassScssResolvedByNameOnly
.layout-section.page {

    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     baseline;

    //=========================================================================
    // Sections
    //=========================================================================

    $page-control-gap-x: 0.5rem;
    $page-control-gap-y: $page-control-gap-x / 2;

    .label {
        display: block;
        margin:  $page-control-gap-y $page-control-gap-x $page-control-gap-y 0;
        font-size: larger;
    }

    .controls {

        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        margin:         0;

        > * {

            margin: 0 $page-control-gap-x 0 0;

            @media #{$narrow-screen} {
                margin-top:    $page-control-gap-y;
                margin-bottom: $page-control-gap-y;
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    .control {

        @extend %button;

        display:         block;
        padding:         2px 6px;
        line-height:     1;
        text-decoration: none;
        font-size:       larger;
        border-radius:   6px;
        border:          1.5px solid;
    }
}
