// app/assets/stylesheets/shared/_header.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Page header.
//=============================================================================

// The <header> area of the page.
.layout-header {
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0;
    padding:         0;
}

//=============================================================================
// Placeholder classes
//=============================================================================

// noinspection SassScssResolvedByNameOnly
%header-section {
    display:        flex;
    flex-direction: row;
    width:          100%;
}

// noinspection SassScssResolvedByNameOnly
%header-search-section {

    @extend %header-section;

    max-width: calc(#{$lg-width} - (2 * #{$page-padding-x}));

    @media #{$browser-ie} {
        max-width: calc(#{$lg-width} - (2 * #{$ie-page-padding-x}));
    }

    @media #{$narrow-screen} {
        width:     100%;
        min-width: unset;
        max-width: unset;
    }
}

%control-interior {
    * {
        color:     black;
        font-size: large;
    }
}

//=============================================================================
// Sections
//=============================================================================

// The content at the top of every page.
//
// noinspection SassScssResolvedByNameOnly
.layout-banner {

    @extend %banner;

    font-size: x-large;

    //=========================================================================
    // Sections
    //=========================================================================

    > * {
        display:        flex;
        flex-direction: row;
        flex:           0 1 auto;
    }

    // The logo (home link) and tagline on the left-hand side of the header.
    .logo-area {

        justify-content: flex-start;
        margin-top:      0;
        flex:            0 1 auto;

        @media #{$narrow-screen} {
            flex-direction: column;
        }

        > * {

            margin: auto $flex-gap-x auto 0;

            @media #{$browser-ie} {
                margin: auto $ie-flex-gap-x auto 0;
            }

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    // Action controls on the right-hand side of the header, particularly the
    // "Sign in"/"Sign out" button, which appears in the upper-right corner of
    // the display regardless of the width of the display.
    .control-area {

        flex-wrap:       wrap-reverse;
        justify-content: flex-end;
        margin-top:      auto;
        margin-left:     $page-padding-x;
        overflow:        hidden;
        flex:            1 1 auto;

        @media #{$browser-ie} {
            margin-left: $ie-page-padding-x;
        }

        @media #{$narrow-screen} {
            flex-direction: column-reverse;
            margin-top:     0;
            margin-bottom:  $flex-gap-y;
        }

        > * {

            margin: auto 0 auto $flex-gap-x;

            @media #{$browser-ie} {
                margin: auto 0 auto $ie-flex-gap-x;
            }

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // The fixed-size EMMA logo element.
    //
    // @see LayoutHelper#logo_element
    //
    .logo {

        margin-top: 0;
        max-height: 3rem;
        font-size:  xx-large;
        flex:       0 0 auto;

        @media #{$narrow-screen} {
            max-height: 5rem;
        }

        * {
            max-height: inherit;
            max-width:  100%;
        }
    }

    // The EMMA tagline next to the logo.
    //
    // This is reformatted to fit within the available display width, and is
    // not shown at all on small (narrow) displays due to insufficient screen
    // real estate.
    //
    .tagline {

        font-size:    smaller;
        font-variant: small-caps;
        flex:         0 1 auto;

        @media #{$browser-ie} {
            margin-top: 0.75rem;
        }

        @media #{$medium-width} {
            font-size: small;
        }

        @media #{$narrow-screen} {
            display: none;
        }
    }

    // The name of the signed-in user.
    //
    // This is truncated with ellipses in cases where the display width is not
    // sufficient to show the whole name.
    //
    .user {
        width:         min-content;
        max-width:     100%;
        font-size:     smaller;
        overflow:      hidden;
        text-overflow: ellipsis;
        flex:          0 1 auto;
    }

    // The "Sign in"/"Sign out" button.
    //
    // This always appears in the upper-right corner of the display due to the
    // .content-area settings.
    //
    .session {

        min-width:     max-content;
        max-width:     max-content;
        padding:       0.25rem 0.375rem;
        border:        1px solid;
        border-radius: 0.5rem;
        flex:          0 0 auto;

        @media #{$browser-ie} {
            padding: 0.5rem;
        }

        @media #{$narrow-screen} {
            margin-top: $flex-gap-y;
        }
    }

    // Sign-in button link element.
    //
    // @see SessionsHelper#sign_in_link
    // @see SessionsHelper#sign_out_link
    //
    .session-link:focus {
        outline-offset: 1px;
    }
}

// Navigation bar (<nav>) at the top of every page just below the top banner.
//
// noinspection SassScssResolvedByNameOnly
.layout-navbar {

    @extend %banner;

    // TODO: prefer hamburger menu for small screens?
    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    .links {

        @extend %header-section;

        flex-wrap: wrap;
        font-size: x-large;

        > * {

            width:        max-content;
            margin-right: 0.5rem;

            @media #{$narrow-screen} {
                margin-top:    0;
                margin-bottom: 0.5rem;
            }
        }

        a:active {
            outline: 2px dotted white;
        }

        .active {
            text-decoration: underline;
        }
    }
}

// Other header sections.
//
// noinspection SassScssResolvedByNameOnly
.layout-section {

    @extend %banner;

    padding-top: 0;
}

// Search input bar and search controls (sort, per-page, language).
.layout-section.search {

    //=========================================================================
    // Sections
    //=========================================================================

    // @see LayoutHelper#search_bar
    // noinspection SassScssResolvedByNameOnly
    .search-bar {

        @extend %header-search-section;
        @extend %control-interior;

        flex-wrap: wrap;
        margin:    $gap-y 0;

        @media #{$browser-ie} {
            margin: $ie-gap-y 0;
        }

        @media #{$narrow-screen} {
            * { font-size: larger; }
        }

        // @see LayoutHelper#search_input
        .search-input {

            max-width:    100%;
            margin-right: $gap-x;
            flex:         0 1 50%;

            @media #{$browser-ie} {
                margin-right: $ie-gap-x;
            }

            @media #{$narrow-screen} {
                margin-right: 0;
                flex:         0 1 100%;
            }
        }

        // @see LayoutHelper#search_button
        .search-button {

            height: auto;
            flex:   0 0 auto;

            @media #{$narrow-screen} {
                margin-top: $gap-y;
            }
        }
    }

    // noinspection SassScssResolvedByNameOnly
    .search-controls {

        @extend %header-search-section;

        display:               grid;
        grid-template-columns: auto;
        grid-template-rows:    [sort] auto [limit] auto [language] auto;
        width:                 100%;

        @media #{$wide-screen} {

            grid-template-columns: [sort] 1fr [limit] 1fr [language] 1fr;
            grid-template-rows:    auto;
            width:                 auto;

            @media #{$browser-ie} {
                width: 50%;
            }
        }

        //=====================================================================
        // Sections
        //=====================================================================

        // @see LayoutHelper#menu_container
        .menu-container {

            display:               grid;
            grid-template-columns: [label] 0.33fr [control] 1fr;
            margin:                $gap-y 0;

            @media #{$wide-screen} {

                grid-template-columns: [label] auto [control] 1fr;
                margin:                auto;

                &:first-of-type { margin-left: 0; }
            }

            @media #{$browser-ie} {
                display:        flex;
                flex-direction: row;
                margin:         $ie-gap-y 0 $ie-gap-y $ie-flex-gap-y;
            }
        }

        //=====================================================================
        // Elements
        //=====================================================================

        // @see LayoutHelper#menu_container
        .menu-label {

            margin:    0;
            font-size: large;

            @media #{$wide-screen} {
                margin-right: $gap-x;
            }

            @media #{$browser-ie} {
                margin-right: $ie-gap-x;
            }
        }

        // @see LayoutHelper#menu_control
        .menu-control {

            @extend %control-interior;

            &:focus-within {
                outline-offset: 2px;
                outline:        1px solid white;
            }

            select {
                @media #{$narrow-screen} {
                    width: 100%;
                }
            }
        }
    }
}

// Controller- and action-specific page controls.
//
// noinspection SassScssResolvedByNameOnly
.layout-section.page {

    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     baseline;

    //=========================================================================
    // Sections
    //=========================================================================

    $page-control-gap-x: 0.5rem;
    $page-control-gap-y: $page-control-gap-x / 2;

    .label {
        display: block;
        margin:  $page-control-gap-y $page-control-gap-x $page-control-gap-y 0;
        font-size: larger;
    }

    .controls {

        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        margin:         0;

        > * {

            margin: 0 $page-control-gap-x 0 0;

            @media #{$narrow-screen} {
                margin-top:    $page-control-gap-y;
                margin-bottom: $page-control-gap-y;
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    .control {

        display:         block;
        padding:         2px 6px;
        line-height:     1;
        text-decoration: none;
        font-size:       larger;
        border-radius:   6px;
        border:          1px solid white;
        cursor:          pointer;

        &:hover {
            text-decoration:  underline;
            background-color: #ffffff40;
        }
    }
}
