// app/assets/stylesheets/shared/_variables.scss

@use 'shared/functions' as *;

//=============================================================================
// Colors.
//=============================================================================

$green:      #00ff00;
$red:        #ff0000;
$blue:       #0000ff;

$text-green: $green;
$text-red:   #a80000;   // Passes WCAG AAA on "background-color: snow".
//$text-red: #b30000;   // Passes WCAG AAA on "background-color: white".
$text-blue:  $blue;

// Observed Bookshare site colors.
$bookshare-blue:   #24408e;
$bookshare-orange: #e65d24;
$bookshare-button: #445f9e;
$bookshare-border: #3c548c;

// @see https://brand.virginia.edu/brand-essentials/colors
$uva-blue:           #232d4b;
$uva-orange:         #e57200;

// UVA text colors.
// @see https://brand.virginia.edu/brand-essentials/colors/web-palette
$uva-text-blue:      $uva-blue;
$uva-text-orange:    $uva-orange; // >= 24px normal; >= 18px bold

// UVA accent colors.
// @see https://brand.virginia.edu/brand-essentials/colors/web-palette
$uva-accent-blue:    #141e3c;
$uva-accent-cyan:    #008fdf;
$uva-accent-green:   #62bb46;
$uva-accent-magenta: #ef3f6b;
$uva-accent-orange:  #eb5f0c;
$uva-accent-teal:    #25cad3;
$uva-accent-yellow:  #fdda24;
$uva-light-gray:     #f1f1ef;
$uva-medium-gray:    #dadada;
$uva-text-gray:      #666666;
$uva-emergency-red:  #df1e43;

// Uppy colors.
// @see file:node_modules/uppy/dist/uppy.css
$uppy-white:               #fff;
$uppy-blue:                #2275d7;
$uppy-green:               #1bb240;
$uppy-red:                 #e32437;
$uppy-orange:              #f6a623;
$uppy-light-gray:          #eaeaea;
$uppy-dark-gray:           #939393;
$uppy-bg-light:            #fafafa;
$uppy-bg-dark:             rgba(0, 0, 0, 0.3);
$uppy-focus-bg-light:      #eceef2;
$uppy-text:                $uppy-dark-gray;
$uppy-link-text:           #525252;
$uppy-hover-text:          #1b5dab;
$uppy-shadow:              rgb(34, 117, 215);
$uppy-border:              $uppy-light-gray;
$uppy-file-input:          #14457f;
$uppy-file-input-accent:   $uppy-file-input;
$uppy-file-input-text:     $uppy-file-input;
$uppy-file-input-bg:       none;
$uppy-file-input-text-rev: $uppy-white;
$uppy-file-input-bg-rev:   $uppy-file-input;

// Text colors.
$error-fg:          $uva-emergency-red;
$alert-fg:          $uva-emergency-red;
$debug-fg:          hotpink;

// Status backgrounds.
$failure-bg:        lighter($uva-accent-magenta, 50%);
$success-bg:        lighter($uva-accent-green,   50%);
$selected-bg:       lighter($uva-accent-green,   75%);

// Input field backgrounds.
$input-error-bg:    lighter($uva-emergency-red, 90%);
$input-sealed-bg:   $uva-light-gray;
$input-readonly-bg: $uva-medium-gray;
$input-disabled-bg: $input-readonly-bg;
$input-sealed-fg:   $uva-text-gray;
$input-readonly-fg: $uva-text-gray;
$input-disabled-fg: $input-readonly-fg;

// Control colors.
$control-text:      $uppy-file-input-text;
$control-accent:    $control-text;

// Flash backgrounds.
$alert-bg:          $failure-bg;
$notice-bg:         $success-bg;
$failure-bg:        $alert-bg;
$success-bg:        $notice-bg;

// Other colors.
$debug-bg:          lighter($debug-fg,          75%);
$header-bg:         $uva-blue;
$panel-bg:          lighter($uva-accent-orange, 90%);
$panel-border:      lighter($uva-accent-orange, 50%);
$panel-accent:      $uva-accent-orange;
$button-accent:     lighter($uva-accent-teal,   35%);
$focus-accent:      $button-accent;
$ro-focus-accent:   lighter($uva-accent-teal,   70%);
$text-focus:        darker($uva-accent-teal,    10%);

//=============================================================================
// Box shadow components.
//=============================================================================

$block-shadow:      0.25rem 0.25rem 0.25rem -0.0625rem lightgray;
$control-shadow:    0.25rem 0.25rem 0.25rem -0.125rem  lightgray;
$popup-shadow:      0.25rem 0.25rem    1rem  0.125rem  gray;

//=============================================================================
// Fonts.
//=============================================================================

$font-normal:       "franklin-gothic-urw", "Arial", sans-serif;
$font-condensed:    "franklin-gothic-urw-cond", "Arial Narrow", sans-serif;

//=============================================================================
// High-contrast mode.
//=============================================================================

$hcm-divider-width: 2px;
$hcm-color:         transparent;

//=============================================================================
// Z-order planes.
//=============================================================================

$z-hidden:         -1;
$z-visible:         0;
$z-raised:          1;
$z-controls:        100;
$z-tooltip:         200;
$z-scroll-to-top:   300;
$z-popup:           400;
$z-uppy-progress:   500;
$z-uppy-informer:   600;
$z-overlay:         10000;

//=============================================================================
// Screen dimension definitions.
//=============================================================================

$sm-width:  420px;      // All phones appear to be <= 414px in portrait mode.
$lg-width:  1290px;     // E.g. 1280x800 laptop.

$sm-height: $sm-width;  // Phone in landscape mode.
$lg-height: 900px;      // 1440x900 laptop.

//=============================================================================
// Horizontal dimension @media query interpolation strings.
//=============================================================================

$narrow-upper-bound: "(max-width: #{$sm-width})";
$med-wd-lower-bnd:   "(min-width: #{$sm-width})";
$med-wd-upper-bnd:   "(max-width: #{$lg-width})";
$wide-lower-bound:   "(min-width: #{$lg-width})";

// * Small-screen portrait mode.
$narrow-screen:     "screen and #{$narrow-upper-bound}";

// * In-between screen width.
$medium-width:      "screen and #{$med-wd-lower-bnd} and #{$med-wd-upper-bnd}";

// * Large-screen landscape mode.
$wide-screen:       "screen and #{$wide-lower-bound}";

// * Medium width OR large-screen landscape mode.
$not-narrow-screen: "screen and #{$med-wd-lower-bnd}";

// * Medium width OR small-screen portrait mode.
$not-wide-screen:   "screen and #{$med-wd-upper-bnd}";

//=============================================================================
// Vertical dimension @media query interpolation strings.
//=============================================================================

$short-upper-bound: "(max-height: #{$sm-height})";
$med-ht-lower-bnd:  "(min-height: #{$sm-height})";
$med-ht-upper-bnd:  "(max-height: #{$lg-height})";
$tall-lower-bound:  "(min-height: #{$lg-height})";

// * Small-screen landscape mode.
$short-screen:      "screen and #{$short-upper-bound}";

// * In-between screen height.
$medium-height:     "screen and #{$med-ht-lower-bnd} and #{$med-ht-upper-bnd}";

// * Large-screen portrait mode.
$tall-screen:       "screen and #{$tall-lower-bound}";

// * Medium height OR large-screen portrait mode.
$not-short-screen:  "screen and #{$med-ht-lower-bnd}";

// * Medium height OR small-screen landscape mode.
$not-tall-screen:   "screen and #{$med-ht-upper-bnd}";

//=============================================================================
// Screen size @media query interpolation strings.
//=============================================================================

$small-screen:  $narrow-screen + "," + $short-screen;  // E.g., handheld mobile
$large-screen:  $wide-screen   + "," + $tall-screen;   // E.g., desktop
$medium-screen: $medium-width  + "," + $medium-height; // E.g., tablet

//=============================================================================
// Generic - baseline definitions.
//=============================================================================

// Allowance for the scroller in tablet and hand-held form factors.
$nominal-easement: 0.25rem;

// The typical thumbnail dimensions.
$nominal-thumbnail-x: 80px;
$nominal-thumbnail-y: 120px;

// The typical cover image dimensions.
$nominal-cover-x: 500px;

//=============================================================================
// Desktop - definitions specific to large screens.
//=============================================================================

@media #{$wide-screen} {
    :root {
        --page-padding:    2rem;
        --flex-gap:        1rem;
        --gap:             0.5rem;
        --scroll-easement: 0;
        --thumbnail-max-x: auto;
        --thumbnail-max-y: #{$nominal-thumbnail-y};
    }
}

//=============================================================================
// Tablet - definitions specific to medium screens.
//=============================================================================

@media #{$medium-width} {
    :root {
        --page-padding:    0.75rem;
        --flex-gap:        0.25rem;
        --gap:             0.25rem;
        --scroll-easement: #{$nominal-easement};
        --thumbnail-max-x: #{$nominal-thumbnail-x};
        --thumbnail-max-y: #{$nominal-thumbnail-x};
    }
}

//=============================================================================
// Mobile - definitions specific to small screens.
//=============================================================================

@media #{$narrow-screen} {
    :root {
        --page-padding:    0.75rem;
        --flex-gap:        0.25rem;
        --gap:             0.25rem;
        --scroll-easement: #{$nominal-easement};
        --thumbnail-max-x: #{$nominal-thumbnail-x};
        --thumbnail-max-y: #{$nominal-thumbnail-x};
    }
}

//=============================================================================
// Responsive definitions.
//=============================================================================

:root {
    --page-padding-x:    var(--page-padding);
    --page-padding-y:    calc(var(--page-padding) / 2);
    --flex-gap-x:        var(--flex-gap);
    --flex-gap-y:        var(--flex-gap);
    --gap-x:             var(--gap);
    --gap-y:             var(--gap);
    --scroll-easement-x: var(--scroll-easement);
    --scroll-easement-y: 0;
}

$page-padding:      var(--page-padding);
$flex-gap:          var(--flex-gap);
$gap:               var(--gap);
$thumbnail-max-x:   var(--thumbnail-max-x);
$thumbnail-max-y:   var(--thumbnail-max-y);
$scroll-easement:   var(--scroll-easement);

$page-padding-x:    var(--page-padding-x);
$page-padding-y:    var(--page-padding-y);
$flex-gap-x:        var(--flex-gap-x);
$flex-gap-y:        var(--flex-gap-y);
$gap-x:             var(--gap-x);
$gap-y:             var(--gap-y);
$scroll-easement-x: var(--scroll-easement-x);
$scroll-easement-y: var(--scroll-easement-y);
