// app/assets/stylesheets/shared/_variables.scss

//=============================================================================
// Colors.
//=============================================================================

$green: #00ff00;
$red:   #ff0000;
$blue:  #0000ff;

$notice-bg: rgba($green, 0.375);
$alert-bg:  rgba($red,   0.375);

//=============================================================================
// Screen dimension definitions.
//=============================================================================

$sm-width:  420px;      // All phones appear to be <= 414px in portrait mode.
$lg-width:  1200px;     // E.g. 1280x800 laptop.

$sm-height: $sm-width;  // Phone in landscape mode.
$lg-height: 900px;      // 1440x900 laptop.

//=============================================================================
// Horizontal dimension @media query interpolation strings.
//=============================================================================

$narrow-upper-bound: "(max-width: #{$sm-width})";
$med-wd-lower-bound: "(min-width: #{$sm-width})";
$med-wd-upper-bound: "(max-width: #{$lg-width})";
$wide-lower-bound:   "(min-width: #{$lg-width})";

// * Small-screen portrait mode.
$narrow-screen: "screen and #{$narrow-upper-bound}";

// * In-between screen width.
$medium-width:  "screen and #{$med-wd-lower-bound} and #{$med-wd-upper-bound}";

// * Large-screen landscape mode.
$wide-screen:   "screen and #{$wide-lower-bound}";

//=============================================================================
// Vertical dimension @media query interpolation strings.
//=============================================================================

$short-upper-bound:  "(max-height: #{$sm-height})";
$med-ht-lower-bound: "(min-height: #{$sm-height})";
$med-ht-upper-bound: "(max-height: #{$lg-height})";
$tall-lower-bound:   "(min-height: #{$lg-height})";

// * Small-screen landscape mode.
$short-screen:  "screen and #{$short-upper-bound}";

// * In-between screen height.
$medium-height: "screen and #{$med-ht-lower-bound} and #{$med-ht-upper-bound}";

// * Large-screen portrait mode.
$tall-screen:   "screen and #{$tall-lower-bound}";

//=============================================================================
// Screen size @media query interpolation strings.
//=============================================================================

$small-screen:  $narrow-screen + "," + $short-screen;  // E.g., handheld mobile
$large-screen:  $wide-screen   + "," + $tall-screen;   // E.g., desktop
$medium-screen: $medium-width  + "," + $medium-height; // E.g., tablet

//=============================================================================
// Internet Explorer 10+ detection
//=============================================================================

$browser-ie: "(-ms-high-contrast: none), (-ms-high-contrast: active)";

//=============================================================================
// Generic - baseline definitions.
//=============================================================================

$root-page-padding:    2rem;
$root-flex-gap:        1rem;
$root-gap:             0.5rem;
$root-thumbnail-max-x: auto;
$root-thumbnail-max-y: 120px;

//=============================================================================
// Desktop - definitions specific to large screens.
//=============================================================================

@media #{$wide-screen} {
    :root {
        --page-padding:    #{$root-page-padding};
        --flex-gap:        #{$root-flex-gap};
        --gap:             #{$root-gap};
        --thumbnail-max-x: #{$root-thumbnail-max-x};
        --thumbnail-max-y: #{$root-thumbnail-max-y};
    }
}

//=============================================================================
// Tablet - definitions specific to medium screens.
//=============================================================================

@media #{$medium-width} {
    :root {
        --page-padding:    0.75rem;
        --flex-gap:        0.25rem;
        --gap:             0.25rem;
        --thumbnail-max-x: 80px;
        --thumbnail-max-y: 80px;
    }
}

//=============================================================================
// Mobile - definitions specific to small screens.
//=============================================================================

@media #{$narrow-screen} {
    :root {
        --page-padding:    0.75rem;
        --flex-gap:        0.25rem;
        --gap:             0.25rem;
        --thumbnail-max-x: 80px;
        --thumbnail-max-y: 80px;
    }
}

//=============================================================================
// Internet Explorer definitions.
//=============================================================================

$ie-page-padding-x:  $root-page-padding;
$ie-page-padding-y:  ($root-page-padding / 2);
$ie-flex-gap-x:      $root-flex-gap;
$ie-flex-gap-y:      $root-flex-gap;
$ie-gap-x:           $root-gap;
$ie-gap-y:           $root-gap;
$ie-thumbnail-max-x: $root-thumbnail-max-x;
$ie-thumbnail-max-y: $root-thumbnail-max-y;

//=============================================================================
// Responsive definitions.
//=============================================================================

:root {
    --page-padding-x: var(--page-padding);
    --page-padding-y: calc(var(--page-padding) / 2);
    --flex-gap-x:     var(--flex-gap);
    --flex-gap-y:     var(--flex-gap);
    --gap-x:          var(--gap);
    --gap-y:          var(--gap);
}

$page-padding-x:    var(--page-padding-x);
$page-padding-y:    var(--page-padding-y);
$flex-gap-x:        var(--flex-gap-x);
$flex-gap-y:        var(--flex-gap-y);
$gap-x:             var(--gap-x);
$gap-y:             var(--gap-y);
$thumbnail-max-x:   var(--thumbnail-max-x);
$thumbnail-max-y:   var(--thumbnail-max-y);
