// app/assets/stylesheets/layouts/_common.scss
//
// General-use CSS classes and SCSS placeholder classes.

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Common settings.
//=============================================================================

// Make focus outline more easily seen.
a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus,
[tabindex]:not([tabindex="-1"]):focus {

    @include focus;

    &.disabled,
    &[aria-disabled="true"] {
        @include disabled;
    }
}

// Allow <fieldset> to be used like <div> by eliminating browser-defined
// styling.
fieldset {
    margin:  unset;
    padding: unset;
    border:  none;
}

// Have the cursor treat <details> as if it was a button.
details {
    summary {
        cursor:      default;
        user-select: none;
    }
}

//=============================================================================
// Classes for composition
//=============================================================================

// Include to remove an element from the display.
.hidden {
    @include hidden;
}

// Include to hide the contents of an element while maintaining the space it
// occupies on the display.
.invisible {

    @include invisible;

    &.preserve-width {
        @include invisible-height;
    }

    &.preserve-height {
        @include invisible-width;
    }
}

// Include to "de-activate" an active element like a button or link.
.disabled {
    @include disabled;
}

// Include to "de-activate" an active element because it is an invalid choice.
.forbidden {
    @include forbidden;
}

// Include to make an element only visible to screen readers.
.sr-only {
    @include sr-only;
}

// Include to have the contents of the element surrounded with quotation marks.
.quoted {
    @include quoted;
}

// Indicate that a link is not active because the user is not authorized.
.sign-in-required {
    &:hover { text-decoration: none; }
}

//=============================================================================
// Special classes
//=============================================================================

// Indicate that the contents of the element is just symbolic character(s) that
// should not be spoken by a screen reader.
.symbol {
    // See specific uses; no common definition.
}

// This is used to denote a [role="group"] container which is used to enclose
// one or more controls.
.control-group {
    display: contents;
}
