// app/assets/stylesheets/layouts/_common.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;

//=============================================================================
// General layout.
//=============================================================================

// Prevent modal pages rendered inside an <iframe> from allowing scroll events
// to chain to the underlying page (which happens when the page is scrolled to
// the end of the <iframe> and you keep attempting to scroll).
html.modal {
    overscroll-behavior: none;
}

body {

    display:        flex;
    flex-direction: column;
    min-height:     100vh;
    margin:         0;
    padding:        0;
    font-family:    $font-normal;

    @media #{$narrow-screen} {
        font-size: large;
    }

    // The <header> and <footer> areas of the page.
    .layout-header,
    .layout-footer {
        flex: 0 0 auto;
    }

    // The <main> content area of the page.
    .layout-content {
        flex: 1 1 auto;
    }
}
