// app/assets/stylesheets/layouts/_content.scss
//
// Classes related to generic page styles.

@use 'shared/variables' as *;

//=============================================================================
// Main content area.
//=============================================================================

// The <main> content area of the page.
.layout-content {

    margin:    $page-padding-y $page-padding-x;
    max-width: 100%;
    position:  relative;

    // Give a little extra clearance for the scroll bar.
    @media #{$not-wide-screen} {
        margin-right: calc(#{$page-padding-x} + #{$scroll-easement} );
        padding-top:  calc(#{$page-padding-y} / 2);
    }

    @media #{$narrow-screen} {
        padding-top:  $page-padding;
    }
}

// For the heading at the top of the content area.
.heading {

    display:     flex;
    align-items: center;
    margin:      $page-padding 0;
    word-break:  break-all;
    font-size:   $h1-font-size;

    @media #{$not-wide-screen} {
        margin:     calc(2 * #{$page-padding}) auto;
        word-break: break-word;
    }
}

// For enclosing the actual heading in a line with other items.
.heading.container {

    display: grid;
    gap:     $flex-gap-y $flex-gap-x;
    grid-template-columns: [text] 1fr [logo] auto;

    > * {
        margin: auto 0;
    }

    .heading {
        word-break: break-word;
    }

    @media #{$wide-screen} {
        margin-top:    0;
        margin-bottom: 0;
    }

    @media #{$narrow-screen} {

        grid-template-columns: 1fr;

        > .heading {

            margin-top: 0;
            overflow:   hidden;

            .inline-popup {

                $toggle-width: 3rem;

                width:       0;
                overflow:    visible;
                position:    relative;
                margin-left: $toggle-width;

                .popup-toggle {
                    position: relative;
                    left:     -$toggle-width;
                }
            }
        }

        > .repository {
            margin-top:   $flex-gap-y;
            margin-left:  auto;
            margin-right: auto;
        }
    }
}
