// app/assets/stylesheets/layouts/terminal/_debug.scss

@use 'shared/variables'        as *;
@use 'shared/controls/buttons' as button;
@use 'shared/controls/panels'  as panel;

//=============================================================================
// Debugging.
//=============================================================================

.session-debug {

    word-break: break-word;

    &.footer-section {
        padding-top: 0;
    }

    // Special control shown if RunState.unavailable? unless RunState::STATIC.
    .restore-availability {

        @include button.basic;

        width:         min-content;
        padding:       0.375rem 0.75rem;
        margin-bottom: 1rem;
        font-size:     medium;
        font-weight:   bold;
        background:    var(--bg-color);
    }

    // noinspection CssReplaceWithShorthandSafely
    .session-debug-table {

        display:     grid;
        margin:      0;
        padding:     0;
        padding-top: 1rem;
        word-break:  break-word;
        border-top:  1px solid;

        grid-template-columns: auto 1fr;
        gap:                   0.25rem 1rem;
    }

    .key,
    .value {
        text-align:  left;
    }

    .key {
        word-break:  keep-all;
        font-weight: bold;
    }

    .row-first {
        font-weight: bold;
    }

    @media #{$narrow-screen} {

        .session-debug-table {
            grid-template-columns: 1fr;
            gap:                   0.5rem;
        }

        .key:not(.row-first) {
            border-top:  1px solid;
            margin-top:  0.25rem;
            padding-top: 0.25rem;
        }

        .value:not(.row-first) {
            margin-left: 0.75rem;
        }

    }

    .note {
        color:       $debug-fg;
        margin-left: 0.5rem;
    }
}

.ability-debug {

    @media #{$wide-screen} {
        width:      50%;
    }

    @media #{$not-wide-screen} {
        width:      100%;
        margin-top: calc(2 * #{$page-padding-y});
    }

    .ability-header {
        @media #{$narrow-screen} {
            margin:    calc(2 * #{$flex-gap-y}) 0;
            font-size: x-large;
        }
    }

    .ability-list {
        @include panel.toggle-panel;
    }

    table {

        width:        100%;
        border:       2px solid $uva-accent-orange;
        table-layout: fixed;

        thead {
            color:            white;
            background-color: gray;
        }

        tbody {
            .blank-row {
                height:     0.1875rem;
                background: $uva-accent-orange;
            }
            .blank-row:last-of-type {
                display:    none;
            }
        }

        .model,
        .action,
        .status {
            padding-left: 0.25rem;
            text-align:   left;
        }

        .can {
            font-weight:      bold;
            background-color: $success-bg;
        }

        .error {
            font-weight:      bold;
            background-color: $failure-bg;
        }
    }
}

//=============================================================================
// WAVE
//=============================================================================

body > iframe#wave_sidebar_container {

    // This prevents help icons and the scroll-to-top button from growing to a
    // ridiculous size when the page is annotated by the WAVE plugin.
    & ~ .scroll-to-top,
    & ~ * .inline-popup,
    & ~ * .inline-popup .popup-toggle {
        height: 1em;
        width:  1em;
    }

}
