// app/assets/stylesheets/layouts/_flash.scss

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Flash message display.
//=============================================================================

// @see file:app/views/layouts/_messages.html.erb
.flash-messages {

    margin:    0 $page-padding;
    max-width: 100%;

    > * {

        @include block-shadow;

        margin:        1rem 0;
        padding:       1rem;
        overflow-wrap: break-word;
        border:        2px solid gray;
        border-radius: 8px;

        &:first-child { margin-top:    $page-padding; }
        &:last-child  { margin-bottom: 0; }
    }

    .notice {
        background-color: $notice-bg;
    }

    .alert {
        background-color: $alert-bg;
    }

    // A boxed area within the flash message.
    .box {
        display:    block;
        padding:    0.5rem;
        background: ghostwhite;
    }

    // A new line within a flash message.
    // @see FlashHelper::FlashPart#render
    .line {

        display: block;

        .part {
            display: inline-block;
        }

        .part + .part {
            margin-left: 0.5rem;
        }

        .first:not(.last) {
            font-weight: bold;
        }
    }

    .line + .line {
        margin-top: 0.5rem;
    }
}
