// app/assets/stylesheets/layouts/_footer.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Page footer.
//=============================================================================

// The <footer> at the bottom of every page.
//
// noinspection SassScssResolvedByNameOnly
.layout-footer {

    @extend %banner;

    $footer-margin-top: 1rem;

    margin-top: $footer-margin-top;
    border-top: $hcm-divider-width solid $hcm-color;

    @media #{$browser-not-ie} {
        margin-top: calc(#{$footer-margin-top} - #{$hcm-divider-width});
    }
}
