// app/assets/stylesheets/layouts/_footer.scss
//
// Classes related to generic page footer styles.

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Internal constants.
//=============================================================================

$footer-margin-top: 1rem;

//=============================================================================
// Page footer.
//=============================================================================

// The <footer> at the bottom of every page.
//
// noinspection CssReplaceWithShorthandSafely
.layout-footer {
    position:       relative;
    z-index:        $z-raised;
    display:        flex;
    flex-direction: column;
    margin:         0;
    margin-top:     calc(#{$footer-margin-top} - #{$hcm-divider-width});
    padding:        0;
    border-top:     $hcm-divider-width solid var(--rev-bg-color);
    box-shadow:     0 0 1rem -0.25rem var(--rev-bg-color);
}

.footer-section {

    @include banner;

    flex-direction: column;

    .footer-table {

        display: grid;
        margin:  0;
        padding: 0;

        @media #{$not-narrow-screen} {
            grid-template-columns: 1fr 1fr;
            gap:                   0.25rem 1rem;
        }

        @media #{$narrow-screen} {
            grid-template-columns: 1fr;
            gap:                   0.5rem;
        }

        @media print {
            grid-auto-flow:        column;
            margin:                0.5rem 0;
        }

        //=====================================================================
        // Components
        //=====================================================================

        // noinspection CssBrowserCompatibilityForProperties
        .entry {

            display:     flex;
            flex-wrap:   wrap;
            line-height: 1.25;
            word-break:  break-word;
            word-wrap:   break-word;

            @media #{$not-narrow-screen} {

                justify-content: center;

                &.col-first {
                    justify-content: flex-start;
                }

                &.col-last:not(.col-first) {
                    justify-content: flex-end;
                }
            }
        }
    }
}
