// app/assets/stylesheets/layouts/_header.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;

@import 'layouts/header/common';
@import 'layouts/header/banner';
@import 'layouts/header/navbar';
@import 'layouts/header/search';
@import 'layouts/header/page_controls';

//=============================================================================
// Page header.
//=============================================================================

// The <header> area of the page.
//
// noinspection CssReplaceWithShorthandSafely
.layout-header {

    position:        relative;
    z-index:         $z-raised;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0;
    margin-bottom:   -$hcm-divider-width;
    padding:         0;
    border-bottom:   $hcm-divider-width solid $root-rev-bg-color;
    box-shadow:      0 0 1rem -0.25rem $root-rev-bg-color;

    @media #{$medium-width} {

        > :first-child {
            padding-top: var(--page-padding);
        }

        > :last-child {
            padding-bottom: var(--page-padding);
        }
    }
}
