// app/assets/stylesheets/layouts/_header.scss

// @use 'shared/controls/buttons'; // TODO: SASS 4.0
// @use 'shared/controls/grids';   // TODO: SASS 4.0

//=============================================================================
// Constants
//=============================================================================

// Preferred button dimensions.
$advanced-toggle-width:  5rem;
$search-button-width:    6rem;

//=============================================================================
// Page header.
//=============================================================================

// The <header> area of the page.
//
// noinspection SassScssResolvedByNameOnly, CssReplaceWithShorthandSafely
.layout-header {

    position:        relative;
    z-index:         $z-raised;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    margin:          0;
    margin-bottom:   -$hcm-divider-width;
    padding:         0;
    border-bottom:   $hcm-divider-width solid $header-bg;
    box-shadow:      0 0 1rem -0.25rem $header-bg;

    @media #{$medium-width} {

        > :first-child {
            padding-top: var(--page-padding);
        }

        > :last-child {
            padding-bottom: var(--page-padding);
        }
    }
}

//=============================================================================
// Placeholder classes
//=============================================================================

// noinspection SassScssResolvedByNameOnly
%header-section {
    display:        flex;
    flex-direction: row;
    width:          100%;
}

// noinspection SassScssResolvedByNameOnly
%header-search-section {

    @extend %header-section;

    max-width:        calc(#{$lg-width} - (2 * #{$page-padding-x}));
    background-color: inherit;

    @media #{$narrow-screen} {
        width:     100%;
        min-width: unset;
        max-width: unset;
    }
}

// noinspection SassScssResolvedByNameOnly, CssReplaceWithShorthandSafely
%header-control-panel {
    padding:        0.5rem;
    padding-bottom: 0.25rem;
    padding-right:  0;
    border:         0.125rem dotted white;
    border-radius:  0.75rem;
}

// For controls with a white background within the header.
%header-control-interior {
    * {
        color:     black;
        font-size: large;
    }
}

//=============================================================================
// Controls
//=============================================================================

// @see LayoutHelper#search_input
.search-input {
    max-width: 100%;
    // Prevent Chrome from showing its own ghost cancel button.
    &::-webkit-search-cancel-button { -webkit-appearance: unset; }
}

// @see LayoutHelper#clear_search_button
// noinspection SassScssResolvedByNameOnly
.search-clear {
    @include clear-selection-button;
}

// @see LayoutHelper#search_button
// noinspection SassScssResolvedByNameOnly
.search-button {
    @extend %button-hover;
}

// @see LayoutHelper#advanced_search_button
// noinspection SassScssResolvedByNameOnly
.advanced-search-toggle {

    @extend %control-button;

    width:            $advanced-toggle-width;
    margin:           0;
    color:            inherit;
    background-color: $panel-accent;
    border:           2px outset;

    &:hover {
        background-color: $panel-accent;
    }
}

//=============================================================================
// Sections
//=============================================================================

// The content at the top of every page.
//
// noinspection SassScssResolvedByNameOnly
.layout-banner {

    @extend %banner;

    font-size: x-large;

    //=========================================================================
    // Sections
    //=========================================================================

    > * {
        display:        flex;
        flex-direction: row;
        flex:           0 1 auto;
    }

    // The logo (home link) and tagline on the left-hand side of the header.
    .logo-area {

        justify-content: flex-start;
        margin-top:      0;
        flex:            0 1 auto;

        @media #{$narrow-screen} {
            flex-direction: column;
        }

        > * {

            margin: auto $flex-gap-x auto 0;

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }
    }

    // Action controls on the right-hand side of the header, particularly the
    // "Sign in"/"Sign out" button, which appears in the upper-right corner of
    // the display regardless of the width of the display.
    .control-area {

        flex-wrap:       wrap-reverse;
        justify-content: flex-end;
        max-width:       50%;
        margin-top:      auto;
        margin-left:     $page-padding-x;
        flex:            1 1 auto;

        @media #{$narrow-screen} {
            margin-top:    0;
            margin-bottom: $flex-gap-y;
        }

        > * {

            margin: auto 0 auto $flex-gap-x;

            @media #{$narrow-screen} {
                margin: $flex-gap-y 0 0;
            }
        }

        .help-popup {

            @media #{$not-narrow-screen} {
                margin-left: calc(#{$flex-gap-y} / 2);
            }

            @media #{$narrow-screen} {
                margin-top:   calc(2 * #{$flex-gap-y});
                margin-right: calc(2 * #{$flex-gap-x});
            }

            .popup-panel {
                @media #{$wide-screen} {
                    top:   2.25rem;
                    left:  unset;
                    right: 0;
                }
            }
        }
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // The fixed-size EMMA logo element.
    //
    // @see LayoutHelper#logo_element
    //
    .logo {

        margin-top: 0;
        min-height: 3rem;
        max-height: 4rem;
        font-size:  xx-large;
        flex:       0 0 auto;

        @media #{$narrow-screen} {
            max-height: 5rem;
        }

        &:hover {
            box-shadow: 0 0 1rem 0.25rem $uva-accent-orange;
        }

        * {
            display:    block;
            max-height: inherit;
            max-width:  100%;
        }

        a:focus {
            outline-offset: 3px;
        }
    }

    // The EMMA tagline next to the logo.
    //
    // This is reformatted to fit within the available display width, and is
    // not shown at all on small (narrow) displays due to insufficient screen
    // real estate.
    //
    .tagline {

        font-size:    smaller;
        font-variant: small-caps;
        flex:         0 1 auto;

        @media #{$medium-width} {
            font-size: small;
        }

        @media #{$narrow-screen} {
            display: none;
        }
    }

    // The name of the signed-in user.
    //
    // This is truncated with ellipses in cases where the display width is not
    // sufficient to show the whole name.
    //
    .user {
        max-width:     100%;
        font-size:     smaller;
        overflow:      hidden;
        text-overflow: ellipsis;
        flex:          0 1 auto;
    }

    // The "Sign in"/"Sign out" button.
    //
    // This always appears in the upper-right corner of the display due to the
    // .content-area settings.
    //
    // Note that .session-link doesn't underline on hover because .session is
    // set up to do that.  The font size adjustments keep the underline from
    // being overly thick.
    //
    // @see SessionsHelper#sign_in_link
    // @see SessionsHelper#sign_out_link
    //
    .session {

        @extend %button-hover;

        min-width:     max-content;
        max-width:     max-content;
        padding:       0.25rem 0.375rem;
        font-size:     smaller;
        border:        1.5px solid;
        border-radius: 0.5rem;
        flex:          0 0 auto;

        @media #{$narrow-screen} {
            margin-top:    $flex-gap-y;
            margin-bottom: auto;
        }

        //=====================================================================
        // Components
        //=====================================================================

        .session-link {

            font-size: larger;

            &:focus { outline-offset:  0.575rem; }
            &:hover { text-decoration: none; }
        }
    }
}

// Navigation bar (<nav>) at the top of every page just below the top banner.
//
// noinspection SassScssResolvedByNameOnly
.layout-navbar {

    @extend %banner;

    // TODO: prefer hamburger menu for small screens?
    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    .links {

        @extend %header-section;

        flex-wrap: wrap;
        font-size: x-large;

        > * {

            width:        max-content;
            margin-right: 0.5rem;

            @media #{$narrow-screen} {
                margin-top:    0;
                margin-bottom: 0.5rem;
            }
        }

        // Highlight the main page for the current controller.
        .active:not(.separator) {

            margin-top: -3px;
            border-top: 3px solid $uva-accent-orange;

            &:not(.disabled):hover {
                text-decoration: underline;
            }
        }

        .secondary {

            color: gray;

            // For now, Bookshare-related controller are hidden.
            &:not(.active) {
                display: none;
            }
        }
    }
}

// Other header sections.
//
// noinspection SassScssResolvedByNameOnly
.layout-section {

    @extend %banner;

    justify-content: flex-start;
    align-items:     flex-start;
    padding-top:     0;
}

// Search input bar and search controls (sort, per-page, language).
//
.layout-section.search {

    //=========================================================================
    // Elements
    //=========================================================================

    // @see LayoutHelper#search_input_bar
    .search-input-bar {
        @extend %header-control-interior;
    }

    // @see LayoutHelper#menu_spacer
    // noinspection SassScssResolvedByNameOnly
    .menu-spacer {
        @extend %invisible;
    }

    // @see LayoutHelper#reset_button
    // noinspection SassScssResolvedByNameOnly
    .menu-button {

        @include link-button;

        @extend %control-button;

        padding-left:     8px;
        padding-right:    8px;
        color:            $uva-accent-blue;
        background-color: $panel-bg;
    }

    // @see LayoutHelper#menu_label
    // noinspection SassScssResolvedByNameOnly
    .menu-label {
        font-size:  large;

        @media #{$not-narrow-screen} {
            text-align: right;
        }
    }

    // @see LayoutHelper#menu_control
    .menu-control {

        @extend %header-control-interior;

        // After Select2 initializes, multi-select <select> elements will be
        // visually hidden in favor of the replacement that Select2 manages.
        // Since there is a noticeable span of time between the initial page
        // load and the completion of the Select2 initialization, these styles
        // are applied to the <select> element to keep it from flashing into
        // existence in a jarring way.
        //
        // If there is only one row of buttons in the control then this will
        // have the effect of the selections disappearing briefly.
        //
        // Unfortunately, if there is more than one row of buttons, then the
        // control will obviously shrink in size until Select2 can create the
        // replacement control.
        //
        // noinspection SassScssResolvedByNameOnly
        select[multiple]:not(.select2-hidden-accessible) {

            margin:         auto 0;
            height:         34px;
            max-height:     34px;
            overflow:       hidden;
            border:         1px solid white;
            border-radius:  4px;
            pointer-events: none;

            // On Chrome with 500 search results, it takes quite a while to get
            // to the point where Select2 creates its replacements for the
            // native <select> elements.  This is required so that the original
            // is obscured until that point.
            //
            // noinspection CssOverwrittenProperties
            option:before {
                display:        block;
                color:          $uva-text-gray;
                background:     white;
                border:         6px solid white;
                content:        "...";
                content:        "\22EF"; // MIDLINE HORIZONTAL ELLIPSIS
                outline:        3px solid white;
                outline-offset: -2px;
            }
        }
    }

}

// Header row containing the search input bar.
//
.layout-section.search.bar {

    // @see LayoutHelper#search_input_bar
    // noinspection SassScssResolvedByNameOnly
    .search-bar-container {

        @extend %header-search-section;

        flex-wrap:       nowrap;
        justify-content: flex-start;

        @media #{$not-wide-screen} {
            flex-wrap:       wrap;
            justify-content: space-between;
        }

        //=====================================================================
        // Sections
        //=====================================================================

        .search-input-select {

            height:       1.75rem;
            margin-right: 0.5rem;
            margin-left:  calc(#{$gap-x} / 2);
            font-size:    large;
            color:        black;

            @media #{$narrow-screen} {
                flex:   1 0 100%;
                margin: 0;
                height: 2rem;
            }

            option {
                color: inherit; // Needed everywhere except Firefox.

                // This is needed for the Firefox Accessibility panel because
                // the default color (transparent) is #0000 (black with an
                // opacity of 0), which does not play well with color contrast
                // evaluation.
                background-color: inherit;
            }
        }

        // noinspection CssReplaceWithShorthandSafely
        .search-input-bar {

            display:      flex;
            flex-wrap:    nowrap;
            margin:       $gap-y 0;
            margin-right: calc(2 * #{$gap-x});
            flex:         1 1 auto;

            @media #{$narrow-screen} {

                flex-wrap:       wrap;
                justify-content: flex-end;
                margin-right:    0;

                * {
                    font-size: larger;
                }
            }

            //=================================================================
            // Elements
            //=================================================================

            $search-clear-inset: -0.5rem;

            .search-input {

                margin:       auto 0;
                margin-right: calc(1.5 * #{$gap-x});
                flex:         1 1 auto;

                @media #{$narrow-screen} {
                    margin-right:  0.125rem;
                    margin-bottom: 0.25rem;
                }
            }

            .search-clear {

                position:         relative;
                left:             -2.75rem;
                margin:           auto 0;
                padding:          0 0.375rem;
                color:            $uva-text-gray;
                background-color: white;
                border-color:     transparent;

                @media #{$not-narrow-screen} {
                    margin-right: $search-clear-inset;
                }

                @media #{$narrow-screen} {
                    top:          -0.125rem;
                    left:         -2.5rem;
                    margin-right: -2.25rem;
                    margin-left:  0.25rem;
                }

                &:focus {
                    outline-offset: -4px;
                }

                * {
                    font-size: 80%;
                    color:     inherit;
                }
            }

            .search-button {

                margin:       auto 0;
                margin-left:  calc(2 * #{$search-clear-inset} - #{$gap-x});
                margin-right: calc(-1 * #{$search-clear-inset});
                flex:         0 0 auto;

                @media #{$narrow-screen} {
                    margin-top:   0;
                    margin-left:  $gap-x;
                    margin-right: 0;
                }
            }
        }

        // Search control toggle positioned after search input buttons for
        // narrow (phone) and medium-width (tablet) screens.
        //
        // noinspection CssReplaceWithShorthandSafely
        .advanced-search-toggle {

            margin:      auto 0;
            margin-left: $gap-x;
            flex:        0 0 auto;

            @media #{$not-wide-screen} {
                margin-top:    $gap-y;
                margin-bottom: $gap-y;
                margin-left:   $gap-x;
            }

            @media #{$narrow-screen} {
                margin-left: 0;
            }

            @media #{$wide-screen} {
                display: none;
            }
        }

        .menu-spacer {
            display: none;
        }

        // noinspection CssReplaceWithShorthandSafely
        .menu-button {

            margin:       auto 0;
            margin-right: calc(2 * #{$gap-x});
            flex:         0 0 auto;

            @media #{$narrow-screen} {
                margin: $gap-y 0;
            }
        }

        // @see updateResetButton() in javascripts/feature/advanced-search.js
        .menu-button.reset {
            @media #{$wide-screen} {
                //display: none;
            }
            @media #{$not-wide-screen} {
                //--manage-visibility: true;
                //visibility:          hidden;
            }
        }
    }
}

// Header row(s) containing the search controls (sort, per-page, language,
// format, and  other search filters).
//
.layout-section.search.controls {

    // @see LayoutHelper#search_controls
    // noinspection SassScssResolvedByNameOnly, CssReplaceWithShorthandSafely
    .search-controls {

        @extend %header-search-section;
        @extend %header-control-panel;

        //=====================================================================
        // Grid layout
        //=====================================================================

        display:   grid;
        min-width: 92.5%;    // This seems to be appropriate for all screens...
        gap:       0 $gap-x; // @see %grid-cell

        // Maximum number of physical columns per width breakpoint.

        $max-columns: 6;
        $columns-map: (
            'wide':   ('columns': $max-columns),
            'medium': ('columns': 2),
            'narrow': ('columns': 1)
        );

        // Layout of each logical column.

        @media #{$narrow-screen} {
            $column: minmax(25%, 1fr);
            @include grid-column-classes($max-columns, $column, $columns-map);
        }

        @media #{$not-narrow-screen} {
            $column: [label] max-content [menu] minmax(25%, 1fr);
            @include grid-column-classes($max-columns, $column, $columns-map);
        }

        //=====================================================================
        // Grid cell placeholder classes
        //=====================================================================

        // In order for %hidden-grid-cell to work, vertical grid gap must be
        // managed "manually" here rather than via grid-gap.
        %grid-cell {
            display: block;
            margin:  0 0 $gap-y;
        }

        // When the advanced search grid is closed, each affected grid cell is
        // flattened to an invisible element which continues to contribute to
        // the layout of grid columns but takes up no vertical space.
        %hidden-grid-cell {
            &, & * {
                height:        0;
                margin-top:    0;
                margin-bottom: 0;
                line-height:   2; // NOTE: I *really* don't know why this works
                visibility:    hidden;
            }
        }

        //=====================================================================
        // Elements
        //=====================================================================

        // This takes up space to the left of .menu-button so that a pair of
        // .menu-spacer/.menu-button can be treated by the grid the same way as
        // a pair of .menu-label/.menu-control.
        .menu-spacer {

            @extend %grid-cell;

            @media #{$not-wide-screen} {
                display: none;
            }
        }

        // A button embedded within the grid (paired with a .menu-spacer to the
        // left).
        //
        // noinspection CssReplaceWithShorthandSafely
        .menu-button {

            @extend %grid-cell;

            @media #{$not-wide-screen} {
                display: none;
            }

            $padding-x:    20px;

            margin-bottom: auto;
            margin-left:   2 * $padding-x; // Needed to keep grid from growing.
            padding:       2px $padding-x;
            line-height:   1;
            justify-self:  flex-end;
        }

        // The label to the left of a .menu-control.
        .menu-label {

            @extend %grid-cell;

            margin-top:   calc(3 * #{$gap-y} / 2);
            margin-right: $gap-x;

            &.col-first {
                @media #{$wide-screen} {
                    @include grid-column(1);
                }
            }
        }

        // A dropdown menu (paired with a .menu-label to the left).
        .menu-control {

            @extend %grid-cell;

            margin-top:   calc(#{$gap-y} / 2);
            margin-right: calc(3 * #{$gap-x});

            select {
                width:  100%;
                height: 2rem;
            }
        }

        //=====================================================================
        // Conditions
        //=====================================================================

        // In the "opened" state, the advanced search control grid element
        // includes the '.open' class.  In the "not-opened" state, the grid is
        // limited to the top row of controls (without a visible "reset"
        // button).
        &:not(.open) {
            > * {
                &:not(.row-first), &.reset {
                    @extend %hidden-grid-cell;
                }
            }
        }
    }

    // Search control toggle positioned after search controls for wide screens.
    //
    // noinspection SassScssResolvedByNameOnly, CssReplaceWithShorthandSafely
    .advanced-search-toggle {

        margin-left: $gap-x;
        flex:        0 0 auto;

        @media #{$not-wide-screen} {
            display: none;
        }
    }
}

// Controller- and action-specific sections.
//
// noinspection SassScssResolvedByNameOnly
.layout-section.page {

    //=========================================================================
    // Elements
    //=========================================================================

    // @see app/views/*/page_controls/*.html.erb
    .label {
        display:   block;
        margin:    0;
        font-size: larger;
    }

    // @see app/views/*/page_controls/*.html.erb
    .controls {
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        margin:         0;
    }

    // @see LayoutHelper#page_controls
    .control {

        @extend %control-button;

        font-size: larger;
        color:     inherit;
        border:    1.5px solid;
    }
}

// Controller- and action-specific page controls.
//
// noinspection SassScssResolvedByNameOnly, CssReplaceWithShorthandSafely
.layout-section.page.controls {

    // @see LayoutHelper#render_page_controls
    .page-controls {

        @extend %header-search-section;
        @extend %header-control-panel;

        $page-control-gap-x: $gap-x;
        $page-control-gap-y: calc(#{$gap-y} / 2);

        width:           auto;
        max-width:       calc(100% - (2 * #{$page-control-gap-x}));
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     baseline;

        //=====================================================================
        // Elements
        //=====================================================================

        .label {
            margin:      $page-control-gap-y $page-control-gap-x;
            margin-left: 0;
        }

        .controls {

            margin-bottom: $page-control-gap-y;

            .control {

                margin:       0;
                margin-right: $page-control-gap-x;

                @media #{$narrow-screen} {
                    margin-top:    $page-control-gap-y;
                    margin-bottom: $page-control-gap-y;
                }
            }
        }
    }
}
