// app/assets/stylesheets/layouts/terminal/_print.scss
//
// Rudimentary support for print rendering of search results.

@use 'shared/mixins' as *;

@media print {

    // In the print rendering, let the printer driver control the margins.
    html, body {
        margin:      0;
        padding:     0;
        line-height: 1.25;
        font-size:   large;
    }

    p, img {
        break-inside: avoid !important;
    }

    .overlays               { display: none !important; }
    .skip-nav               { display: none !important; }
    .layout-header          { display: none !important; }
    .layout-footer          { display: none !important; }
    .search-in-progress     { display: none !important; }
    .scroll-to-top          { display: none !important; }

    .flash-messages         { display: none !important; }
    .help-popup             { display: none !important; }
    .pagination-controls    { display: none !important; }

}
