// app/assets/stylesheets/layouts/_root.scss

@use 'shared/variables' as *;

//=============================================================================
// Basic scaling definitions
//=============================================================================

:root {
    @media #{$wide-screen} { // Specific to large screens (e.g. desktop)
        --page-padding-x:   2vw;
        --page-padding-y:   2vh;
        --flex-gap-x:       1vw;
        --flex-gap-y:       1vh;
        --gap-x:            0.5vw;
        --gap-y:            0.5vh;
    }
    @media #{$medium-width} { // Specific to medium screens (e.g. tablet)
        --page-padding-x:   0.75vw;
        --page-padding-y:   0.75vh;
        --flex-gap-x:       0.25vw;
        --flex-gap-y:       0.25vh;
        --gap-x:            0.25vw;
        --gap-y:            0.25vh;
    }
    @media #{$narrow-screen} { // Specific to small screens  (e.g. mobile)
        --page-padding-x:   0.75vw;
        --page-padding-y:   0.75vh;
        --flex-gap-x:       0.25vw;
        --flex-gap-y:       0.25vh;
        --gap-x:            0.25vw;
        --gap-y:            0.25vh;
    }
}

//=============================================================================
// Other dimension definitions
//=============================================================================

:root {
    @media #{$wide-screen} {
        --scroll-easement-x: 0;
        --scroll-easement-y: 0;
        --thumbnail-max-x:   auto;
        --thumbnail-max-y:   #{$nominal-thumbnail-y};
    }
    @media #{$medium-width} {
        --scroll-easement-x: #{$nominal-easement};
        --scroll-easement-y: 0;
        --thumbnail-max-x:   #{$nominal-thumbnail-x};
        --thumbnail-max-y:   #{$nominal-thumbnail-x};
    }
    @media #{$narrow-screen} {
        --scroll-easement-x: #{$nominal-easement};
        --scroll-easement-y: 0;
        --thumbnail-max-x:   #{$nominal-thumbnail-x};
        --thumbnail-max-y:   #{$nominal-thumbnail-x};
    }
}

//=============================================================================
// Color scheme definitions.
//=============================================================================

:root {

    --fg-color:          #{$text-fg};
    --bg-color:          #{$text-bg};
    --focus-color:       #{$text-focus};

    --rev-fg-color:      #{$header-fg};
    --rev-bg-color:      #{$header-bg};
    --rev-focus-color:   #{$header-focus};
}

//=============================================================================
// General layout.
//=============================================================================

// Prevent modal pages rendered inside an <iframe> from allowing scroll events
// to chain to the underlying page (which happens when the page is scrolled to
// the end of the <iframe> and you keep attempting to scroll).
html.modal {
    overscroll-behavior: none;
}

body {

    display:        flex;
    flex-direction: column;
    min-height:     100vh;
    margin:         0;
    padding:        0;
    font-family:    $font-normal;

    // Establish the default foreground/background colors for the sake of
    // accessibility checkers.
    color:          $fg-color;
    background:     $bg-color;

    @media #{$narrow-screen} {
        font-size:  large;
    }

    //=========================================================================
    // Components
    //=========================================================================

    // The <header> and <footer> areas of the page.
    .layout-header,
    .layout-footer {
        flex: 0 0 auto;
    }

    // Flash messages above the content area.
    .flash-messages {

        flex:     0 0 auto;
        position: relative;

        @media #{$narrow-screen} {
            margin-top: $page-padding-y;
        }
    }

    // The <main> content area of the page.
    .layout-content {
        flex: 1 1 auto;
    }
}

// Avoid the additional interior dotted outline in Firefox.
::-moz-focus-inner {
    border: 0;
}

//=============================================================================
// Media-specific classes
//=============================================================================

@media #{$wide-screen} {
    // Any element with .wide-screen or .not-narrow-screen will be displayed
    // in the desktop form factor.
    .medium-width,
    .narrow-screen,
    .not-wide-screen {
        &:not(.wide-screen):not(.not-narrow-screen) {
            display: none;
        }
    }
}

@media #{$medium-width} {
    // Any element with .medium-width, .not-wide-screen, or .not-narrow-screen
    // will be displayed in the tablet form factor.
    .wide-screen,
    .narrow-screen {
        &:not(.medium-width):not(.not-wide-screen):not(.not-narrow-screen) {
            display: none;
        }
    }
}

@media #{$narrow-screen} {
    // Any element with .narrow-screen or .not-wide-screen will be displayed in
    // the hand-held form factor.
    .wide-screen,
    .medium-width,
    .not-narrow-screen {
        &:not(.narrow-screen):not(.not-wide-screen) {
            display: none;
        }
    }
}
