// app/assets/stylesheets/layouts/terminal/_unused.scss
//
// NOTE: This is a holding pen for styles that are not in use but could be by
//  uncommenting this file in ./index.scss.

@use 'shared/variables' as *;

//=============================================================================
// Debugging.
//=============================================================================

/// Element information marker.
@mixin marker {
    & {
        position:        relative;
        padding:         2px;
        line-height:     normal;
        text-align:      start;
        text-decoration: none;
        text-emphasis:   unset;
        text-indent:     unset;
        text-shadow:     unset;
        text-transform:  none;
        letter-spacing:  normal;
        white-space:     normal;
        font-family:     sans-serif;
        font-weight:     normal;
        font-size:       medium;
        color:           red;
        background:      ghostwhite;
        border:          1px solid gray;
        border-radius:   0.25rem;
        box-shadow:      none;
        z-index:         $z-overlay;
        content:         counter(cnt);
    }
}

/// Display element number in the left gutter.
@mixin marker-before {

    @include marker;

    & {
        position: absolute;
        left:     -1.75rem;
    }
}

/// Display element number after element.
@mixin marker-after {

    @include marker;

    & {
        position: relative;
        left:     -100%;
        width:    min-content;
        height:   min-content;
        margin:   auto 0;
    }
}

/// Display element information at the bottom of the screen.
@mixin marker-fixed {

    @include marker;

    $marker-x:  1rem;
    $marker-y:  1rem;
    $separator: "\00A0\00A0|\00A0\00A0";

    & {
        position:      fixed;
        top:           calc(100vh - $page-padding-y - $marker-y);
        left:          $marker-x;
        width:         calc(100vw - $page-padding-x - #{$marker-x * 2});
        color:         white;
        background:    hotpink;
        border:        0.5rem solid lightgray;
        border-radius: 0;
        content:
            counter(cnt)              $separator
            'id="'    attr(id)    '"' $separator
            'name="'  attr(name)  '"' $separator
            'for="'   attr(for)   '"' $separator
            'href="'  attr(href)  '"' $separator
            'class="' attr(class) '"' $separator
            'title="' attr(title) '"' ;
    }
}

body.debug {

    position: relative;

    // Display element information on hover.
    main {

        counter-reset: cnt;

        // Display element information on hover.
        h1, h2, h3, h4, h5, h6,
        p,
        span:not(.status-marker),
        label,
        div.label,
        div.value:not(.menu.multi),
        div.sign-in,
        div.search-count,
        li > a,
        button,
        select,
        input,
        textarea {
            &:not(.sr-only):not(.invisible):not(.hidden) {

                counter-increment: cnt;

                &:hover::after {
                    @include marker-fixed;
                }
            }
        }

        // Note that select, input, and textarea don't seem to honor ::before
        // or ::after.
        li > a,
        button,
        select,
        input,
        textarea {
            &:not(.sr-only):not(.invisible):not(.hidden) {
                &:focus::after,
                &:focus-within::after {
                    @include marker-fixed;
                }
            }
        }
    }

}
