<%# app/views/artifact/edit.html.erb -%>
<%-
  # Artifact edit form.
  title ||= t('emma.artifact.edit.title')

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex, :nofollow)

  name = current_user.to_s.inspect
  can  = can?(:edit, Artifact) ? 'can' : 'can NOT'
-%>

<h1 class="heading"><%= title -%></h1>

<p>(User <%= name -%> <%= can -%> modify artifact metadata.)</p>

<p>TODO</p>
