<%# app/views/artifact/new.html.erb -%>
<%-
  # New artifact form.
  title ||= t('emma.artifact.new.title')

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex, :nofollow)

  name = current_user.to_s.inspect
  can  = can?(:new, Artifact) ? 'can' : 'can NOT'
-%>

<h1 class="heading"><%= title -%></h1>

<p>(User <%= name -%> <%= can -%> upload an artifact.)</p>

<p>TODO</p>
