<%# app/views/artifact/show.html.erb -%>
<%-
  # Artifact show
  title ||= t('emma.artifact.show.title')

  @page_title = title

  @error &&= t('emma.artifact.show.error.server')
  @error ||= t('emma.artifact.show.error.javascript')
-%>

<h1 class="heading"><%= title -%></h1>

<p><%= @error -%></p>
