<%# app/views/account_mailer/new_org_email.html.erb -%>
<%-
  # Create a welcome message to the manager of a new organization.
  elem ||= @elem
  heading, body = elem.values_at(:heading, :body)
-%>

<%- if body -%>
  <h1><%= heading -%></h1>
  <%= body %>
<%- else -%>
  <%= render('new_org') %>
<%- end -%>
