<%# app/views/account_mailer/new_user_email.html.erb -%>
<%-
  # Create a new user welcome message.
  elem ||= @elem
  heading, body = elem.values_at(:heading, :body)
-%>

<%- if body -%>
  <h1><%= heading -%></h1>
  <%= body %>
<%- else -%>
  <%= render 'new_org' %>
<%- end -%>
