<%# app/views/account_mailer/welcome_email.html.erb -%>
<%-
  # Create a new user welcome message.
  elem ||= @elem
  head, body = elem.values_at(:heading, :body)
-%>

<h1><%= head -%></h1>

<%- body.each do |line| -%>
  <p><%= line -%></p>
<%- end -%>
