<%# app/views/reading_list/page_controls/_show.html.erb -%>
<%-
  # Page controls on a Reading List show page for an authorized user.

  actions    = page_control_actions(ReadingList, :edit, :delete)
  return if actions.blank?
  anchor_id  = 'show-page-controls'
  label_id ||= css_randomize(anchor_id)

  skip_nav_prepend(reading_list: anchor_id) unless modal?

  id ||= params[:id]

  path_opt = { id: id, ids: [id] }

-%>

<div class="label" id="<%= label_id -%>">
  <%= page_controls_label -%>:
</div>
<div class="controls" id="<%= anchor_id -%>">
  <%= page_controls(*actions, **path_opt) %>
</div>
