<%# app/views/periodical/_details.html.erb -%>
<%-
  # A Periodical metadata listing with editions list.
  item  ||= nil
  return if item.blank?

  list  ||= nil
  count ||= nil
  skip  ||= nil

  skip = Array.wrap(skip)
  list = nil if skip.include?(:editions)

  append_page_description(
    ISSN:     item.issn,
    Language: item.languages&.first(3),
  )
-%>

<div class="periodical-container">
  <%= render 'periodical/metadata', item: item %>
  <%= render 'periodical/editions', list: list, count: count %>
</div>
