<%# app/views/periodical/_details.html.erb -%>
<%-
  # A Periodical metadata listing.
  item ||= nil
  eds  ||= nil
  return if item.blank?

  append_page_description(
    ISSN:     item.issn,
    Language: item.languages&.first(3),
  )
-%>

<div class="periodical-details">
  <%= periodical_field_values(item) %>
</div>

<div class="edition-list">
  <%= render 'edition/list', list: eds %>
</div>
