<%# app/views/periodical/_editions.html.erb -%>
<%-
  # A list of editions associated with a Periodical.
  list   ||= nil
  count  ||= nil
  offset ||= 0
  level  ||= 1
  skip   ||= nil

  element_id = 'edition-list'
  skip_nav_append('Periodical Editions' => element_id) # TODO: I18n

  role = ('role="complementary"'.html_safe if level > 1)
  opt  = {
    list:   list,
    count:  count,
    offset: offset,
    level:  (level + 1),
    skip:   skip,
  }
-%>

<div <%= role -%> class="<%= element_id -%>" id="<%= element_id -%>">
  <%= render 'edition/list', opt %>
</div>
