<%# app/views/periodical/edit.html.erb -%>
<%-
  # Periodical edit form.
  title ||= t('emma.periodical.edit.title')
  @page_title = title
  can = current_user.is_catalog_curator? ? 'can' : 'can NOT'
-%>

<h1 class="heading"><%= title -%></h1>

<p>(User <%= current_user.to_s.inspect -%> <%= can -%> edit.)</p>

<p>TODO</p>
