<%# app/views/periodical/new.html.erb -%>
<%-
  # New Periodical form.
  title ||= t('emma.periodical.new.title')

  set_page_title(title)
  set_page_description(title)
  set_page_robots(:noindex)

  name = current_user.to_s.inspect
  can  = can?(:new, Periodical) ? 'can' : 'can NOT'
-%>

<h1 class="heading"><%= title -%></h1>

<p>(User <%= name -%> <%= can -%> add a periodical.)</p>

<p>TODO</p>
