<%# app/views/periodical/show.html.erb -%>
<%-
  # Periodical show page.
  item  ||= @item
  eds   ||= page_items
  title ||= item&.label || t('emma.periodical.show.title')

  set_page_title(title)
  set_page_description(Title: title)
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'periodical/details', item: item, eds: eds %>
