<%# app/views/periodical/show.html.erb -%>
<%-
  # A Periodical show page.

  item  ||= @item
  list  ||= page_items
  count ||= total_items
  title ||= item&.label || t('emma.periodical.show.title')
  help  ||= nil

  unless modal?
    set_page_title(title)
    set_page_description(Title: title)
  end

  template_opt = { item: item, list: list, count: count }

-%>

<h1 class="heading"><%= title -%><%= help -%></h1>

<%= render 'periodical/details', template_opt %>
