<%# app/views/help/topic/_upload.html.erb -%>
<%-
  # EMMA upload help page.

  signed_in = link_to('signed in', '/help#sign_in_help')

-%>

<p>
  You must be <%= signed_in -%> in order to submit a new remediated item, or
  to make changes to an existing repository entry.
</p>

<nav role="navigation" aria-labelledby="upload_help_nav">
  <p id="upload_help_nav">Topics in this section:</p>
  <ul>
    <li>
      <a href="#upload_new_submission_help">Submitting a new item</a>
    </li>
    <li>
      <a href="#upload_edit_submission_help">Correcting a submission</a>
    </li>
    <li>
      <a href="#upload_destroy_submission_help">Cancelling a submission</a>
    </li>
    <li>
      <a href="#upload_edit_entry_help">Updating an existing entry</a>
    </li>
    <li>
      <a href="#upload_destroy_entry_help">Deleting an existing entry</a>
    </li>
  </ul>
</nav>

<section role="region" aria-labelledby="upload_new_submission_help">

  <h3 class="section" id="upload_new_submission_help">
    Submitting a new item
  </h3>

  <p>
    TODO
  </p>

</section>

<section role="region" aria-labelledby="upload_edit_submission_help">

  <h3 class="section" id="upload_edit_submission_help">
    Correcting a submission
  </h3>

  <p>
    TODO
  </p>

</section>

<section role="region" aria-labelledby="upload_destroy_submission_help">

  <h3 class="section" id="upload_destroy_submission_help">
    Cancelling a submission
  </h3>

  <p>
    TODO
  </p>

</section>

<section role="region" aria-labelledby="upload_edit_entry_help">

  <h3 class="section" id="upload_edit_entry_help">
    Updating an existing entry
  </h3>

  <p>
    TODO
  </p>

</section>

<section role="region" aria-labelledby="upload_destroy_entry_help">

  <h3 class="section" id="upload_destroy_entry_help">
    Deleting an existing entry
  </h3>

  <p>
    TODO
  </p>

</section>
