<%# app/views/title/page_controls/_show.html.erb -%>
<%-
  # Page controls on a Member show page for an authorized user.

  actions   = page_control_actions(Member, :edit, :delete).presence or return
  anchor_id = 'show-page-controls'

  skip_nav_prepend(member: anchor_id) unless modal?

  id ||= params[:id]

  path_opt = { id: id, ids: [id] }

-%>

<div class="label" id="<%= anchor_id -%>"><%= page_controls_label -%>:</div>
<div class="controls"><%= page_controls(*actions, **path_opt) %></div>
