<%# app/views/home/dashboard.html.erb -%>
<%-
  # Application main page for authenticated users.

  # If the user is not authenticated, switch to the welcome screen.
  return render template: 'home/welcome' unless current_user

  title ||= t('emma.home.dashboard.title', default: :'emma.home.title')
  item  ||= @item

  @page_title = title
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'member/details', item: @item %>
