<%# app/views/home/welcome.html.erb -%>
<%-
  # Application main page for anonymous users.

  title ||= t('emma.home.welcome.title', default: :'emma.home.title')

  unless modal?
    set_page_title(title)
    set_page_description(title)
  end

  sign_in = t('emma.user.sessions.new.label')
  sign_in = link_to(sign_in, new_user_session_path)

-%>

<h1 class="heading"><%= title -%></h1>

<div class="panel">
  <%= t('emma.home.welcome.text_html') %>
</div>

<div class="sign-in">
  <%= t('emma.home.welcome.notice_html', sign_in: sign_in) %>
</div>

<%= render 'ability' if session_debug? %>
