<%# app/views/home/welcome.html.erb -%>
<%-
  # Application main page for anonymous users.

  title ||= t('emma.home.welcome.title', default: :'emma.home.title')

  links = [
    sign_in_link(provider: :bookshare)
  ]
  links +=
    OmniAuth::Strategies::Bookshare::CONFIGURED_AUTH.keys.map { |id|
      link_to("Sign in as #{id}", sign_in_as_path(id: id))
    }

-%>
<h1 class="heading"><%= title -%></h1>
<div>
  <%- links.each do |link| -%>
    <p><%= link -%></p>
  <%- end -%>
</div>
