// app/assets/stylesheets/shared/controls/_buttons.scss
//
// Definitions supporting button controls.

@use 'shared/variables' as v;
@use 'shared/mixins'    as x;

// ============================================================================
// Controls
// ============================================================================

/// Make a link look and act like a browser button.
///
/// @param {Color}  $light            The color of the top/left borders.
/// @param {Color}  $dark             The color of the bottom/right borders.
/// @param {String} $width            Width of the border.
///
@mixin link-button($light: white, $dark: darkgray, $width: 2px) {

    @include x.hover-highlight;

    display: block;
    border:  $width solid transparent;

    & {
        border-top-color:    $light;
        border-left-color:   $light;
        border-bottom-color: $dark;
        border-right-color:  $dark;
    }

    &:active {
        border-top-color:    $dark;
        border-left-color:   $dark;
        border-bottom-color: $light;
        border-right-color:  $light;
    }
}

/// A circular "X" button for removal of an input value.
///
@mixin clear-selection-button {

    @include x.hover-highlight;

    margin:          auto -0.125rem auto 0.5rem;
    padding:         0 0.125rem;
    text-decoration: none;
    color:           v.$uva-accent-blue;
    background:      whitesmoke;
    border:          2px solid gray;
    border-radius:   50%;
    flex:            0 0 auto;

    &:focus {
        text-decoration: none;
        outline-color:   v.$text-focus;
        outline-offset:  -0.5px;
    }

    &:hover {
        text-decoration: none !important;
        box-shadow:      none;
    }
}
