// app/assets/stylesheets/shared/controls/_buttons.scss
//
// Definitions supporting button controls.

@use 'shared/variables' as v;
@use 'shared/mixins'    as x;

// ============================================================================
// Controls
// ============================================================================

/// Style like a button.
///
/// The baseline appearance inherits (conceptually) from .uppy-FileInput-btn.
/// Classes that include this may need to add "color: inherit" to get the
/// intended color for text (and, by default, borders).
///
@mixin basic {

    @include x.hover-highlight;

    // From .uppy-FileInput-btn in node_modules/uppy/dist/uppy.css
    //margin:           0;
    //padding:          10px 15px;
    font-family:        sans-serif;
    //font-size:        0.85em;
    color:              v.$control-text;
    background:         none;
    border:             1px solid v.$control-accent;
    border-radius:      8px;
    //cursor:           pointer;
    -webkit-appearance: none;

    display:            block;
    margin:             auto 0;
    padding:            2px 6px;
    line-height:        1.125;
    white-space:        pre;
    text-decoration:    none;
    font-size:          large;

    &.disabled,
    &.forbidden {
        background-color: v.$input-disabled-bg;
        border-color:     v.$input-disabled-fg;
    }
}

/// Style like a control button.
///
/// This provides the look and feel for buttons in general.
///
@mixin control {

    @include basic;

    // Restore some items that 'basic' has overridden:
    margin:      0;
    padding:     10px 15px;
    line-height: 1;
    font-size:   0.85em;

    &:not(.disabled):not(.forbidden):hover {
        background-color: v.$uva-accent-orange;
        border-color:     v.$uppy-file-input-accent;
        color:            v.$root-rev-fg-color;
    }

    &.disabled:hover, &.forbidden:hover {
        color: unset;
    }

    @include x.hover-highlight;
}

/// Make a link look and act like a browser button.
///
/// @param {Color}  $light            The color of the top/left borders.
/// @param {Color}  $dark             The color of the bottom/right borders.
/// @param {String} $width            Width of the border.
///
@mixin link($light: white, $dark: darkgray, $width: 2px) {

    @include x.hover-highlight;

    display: block;
    border:  $width solid transparent;

    & {
        border-top-color:    $light;
        border-left-color:   $light;
        border-bottom-color: $dark;
        border-right-color:  $dark;
    }

    &:active {
        border-top-color:    $dark;
        border-left-color:   $dark;
        border-bottom-color: $light;
        border-right-color:  $light;
    }
}

/// A circular "X" button for removal of an input value.
///
@mixin clear-input {

    @include x.hover-highlight;

    margin:          auto -0.125rem auto 0.5rem;
    padding:         0 0.125rem;
    text-decoration: none;
    color:           v.$uva-accent-blue;
    background:      whitesmoke;
    border:          2px solid gray;
    border-radius:   50%;
    flex:            0 0 auto;

    &:focus {
        text-decoration: none;
        outline-color:   v.$text-focus;
        outline-offset:  -0.5px;
    }

    &:hover {
        text-decoration: none !important;
        box-shadow:      none;
    }
}
