// app/assets/stylesheets/shared/controls/_grids.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Grid definitions.
//=============================================================================

/// Place on the specified row of the grid.
///
/// @param {Numeric} $row
///
@mixin grid-row($row) {
    grid-row-start: $row;
    grid-row-end:   $row;
}

/// Place in the specified column of the grid.
///
/// @param {Numeric} $column
///
@mixin grid-column($column) {
    grid-column-start: $column;
    grid-column-end:   $column;
}

/// Span all grid columns.
///
/// @param {Numeric} $end             Ending column.
/// @param {Numeric} $start           Starting column.
///
@mixin grid-column-span($end: -1, $start: 1) {
    grid-column-start: $start;
    grid-column-end:   $end;
}

/// Set grid vertical gap.
///
/// @param {Numeric} $gap-y           Row gap
///
@mixin grid-row-gap($gap-y) {

    grid-row-gap: $gap-y; // Required by Safari
    row-gap:      $gap-y;
}

/// Set grid horizontal gap.
///
/// @param {Numeric} $gap-x           Column gap
///
@mixin grid-column-gap($gap-x) {

    grid-column-gap: $gap-x; // Required by Safari
    column-gap:      $gap-x;
}

/// Define grid columns.
///
/// @param {String}  $template
/// @param {Numeric} $columns
///
// noinspection SassScssResolvedByNameOnly
@mixin grid-columns($template, $columns: 1) {
    @if $template {
        @if $columns <= 1 {
            grid-template-columns: $template;
        } @else {
            grid-template-columns: repeat($columns, $template);
        }
    }
}

//=============================================================================
// Grid class definitions mixins.
//=============================================================================

/// Define .col-N classes which can be applied to affix a grid element to a
/// specific grid column.
///
/// @param {Numeric} $max
///
@mixin grid-cell-col-classes($max) {
    @for $n from 1 through $max {
        .col-#{$n} {
            @include grid-column($n);
        }
    }
}

/// Define .row-N classes which can be applied to affix a grid element to a
/// specific grid row.
///
/// @param {Numeric} $max
///
@mixin grid-cell-row-classes($max) {
    @for $n from 1 through $max {
        .row-#{$n} {
            @include grid-row($n);
        }
    }
}

/// Define .column-N classes to allow specification of grid column widths.
///
/// @param {Numeric} $max-cols
/// @param {String}  $template
/// @param {Map}     $template-map
///
// noinspection SassScssResolvedByNameOnly, CssInvalidFunction
@mixin grid-column-classes($max-cols, $template: false, $template-map: false) {

    @if type-of($template-map) != 'map' {

        @include grid-columns($template, $max-cols);

        @for $n from 1 through $max-cols {
            &.columns-#{$n} {
                grid-template-columns: repeat($n, $template);
            }
        }

    } @else if not $template {

        @error "A $template must be provided when $template-map is used.";

    } @else {

        $wide-map:        map-get($template-map, 'wide');
        $medium-map:      map-get($template-map, 'medium');
        $narrow-map:      map-get($template-map, 'narrow');

        $wide-max:        map-get($wide-map,   'columns')  or $max-cols;
        $wide-template:   map-get($wide-map,   'template') or $template;

        $medium-max:      map-get($medium-map, 'columns')  or $wide-max;
        $medium-template: map-get($medium-map, 'template') or $wide-template;

        $narrow-max:      map-get($narrow-map, 'columns')  or $medium-max;
        $narrow-template: map-get($narrow-map, 'template') or $medium-template;

        @for $n from 1 through $max-cols {
            &.columns-#{$n} {
                @media #{$wide-screen} {
                    $count: $wide-max;
                    @if ($n < $count) { $count: $n; }
                    grid-template-columns: repeat($count, $wide-template);
                }
                @media #{$medium-width} {
                    $count: $medium-max;
                    @if ($n < $count) { $count: $n; }
                    grid-template-columns: repeat($count, $medium-template);
                }
                @media #{$narrow-screen} {
                    $count: $narrow-max;
                    @if ($n < $count) { $count: $n; }
                    grid-template-columns: repeat($count, $narrow-template);
                }
            }
        }
    }
}
