// app/assets/stylesheets/shared/controls/_table.scss

@use 'shared/variables'      as *;
@use 'shared/common'         as *;
@use 'shared/controls/grids' as *;

// Grid-based table.
.grid-table {

    $table-gap:        1.75rem;
    $table-narrow-gap: 1rem;
    $table-border-bg:  $header-bg;

    display:        grid;
    position:       relative;
    padding-bottom: $table-gap;
    line-height:    1.25;

    @media #{$narrow-screen} {
        padding-bottom: $table-narrow-gap;
    }

    //=========================================================================
    // Grid layout
    //=========================================================================

    $max-columns: 50;

    gap: $table-gap;

    @include grid-column-classes($max-columns, 1fr);
    @include grid-cell-col-classes($max-columns);

    @media #{$narrow-screen} {
        gap: $table-narrow-gap;
    }

    //=========================================================================
    // Elements
    //=========================================================================

    thead, tbody, tfoot, tr {
        display: contents;
    }

    thead {

        tr.spanner {
            display: none;
            z-index: $z-hidden;
        }

        th {
            min-width:     max-content;
            text-align:    start;
            border-bottom: 2px solid $table-border-bg;
            z-index:       $z-visible;
        }
    }

    td {
        z-index: $z-hidden - 1;
    }

    //=========================================================================
    // Variations
    //=========================================================================

    // Give the heading row a background.
    // @see ModelHelper::DARK_HEAD
    &.dark-head {

        /**
         * Since "display: contents" makes the <tr> un-stylable an additional
         * <tr> is required which explicitly positioned so that the <tr> with
         * the actual <th> headings can be displayed above it in the Z-order.
         */
        thead {

            tr.spanner {
                display:    block;
                position:   absolute;
                height:     2.5rem;
                width:      100%;
                margin-top: -0.5rem;
                background: $table-border-bg;
            }

            th {
                color:         white;
                border-bottom: none;
            }
        }

        .col-first {
            margin-left: 0.5rem;
        }

        .col-last {
            margin-right: 0.5rem;
        }
    }

    // Make the heading row stick to the top of the table when scrolling.
    // @see ModelHelper::STICKY_HEAD
    &.sticky-head {

        position:   sticky;
        top:        $table-gap;
        max-height: 95vh;
        overflow:   auto;
        background: white;

        @media #{$narrow-screen} {
            top: $table-narrow-gap;
        }

        //=====================================================================
        // Elements
        //=====================================================================

        thead {
            th {

                @include grid-row(1);

                position:    sticky;
                top:         0;
                padding-top: 0.5rem;
                background:  white;
            }
        }

        .col-last {
            margin-right: 0.5rem;
        }
    }

    &.sticky-head.dark-head {

        padding-bottom: 0;
        background:     white;
        border:         2px solid $table-border-bg;

        //=====================================================================
        // Elements
        //=====================================================================

        thead {

            tr.spanner {

                @include grid-row(1);
                @include grid-column-span;

                position: sticky;
                top:      0;
            }

            th {
                line-height: 2.5;
                padding-top: 0;
                background:  none;
            }
        }

        .row-last {

            padding-bottom: $table-gap;

            @media #{$narrow-screen} {
                padding-bottom: $table-narrow-gap;
            }
        }
    }

    //=========================================================================
    // Relative changes
    //=========================================================================

    & + ul.page-actions {
        margin-top: 1.25rem;
    }

    &.sticky-head + ul.page-actions {
        border: none;
    }
}
