// app/assets/stylesheets/layouts/controls/_panels.scss
//
// Common panel-related elements.

@use 'shared/variables'        as *;
@use 'shared/mixins'           as *;
@use 'shared/controls/buttons' as button;
@use 'shared/controls/panels'  as panel;

//=============================================================================
// Generic elements - panels
//=============================================================================

.panel {

    @include panel;
    @include panel-interior;
    @include width-fit-content;
    @include block-shadow;

    min-width:      50%;
    padding:        1rem;
    line-height:    1.375;

    @media #{$wide-screen} {
        max-width:  50%;
    }

    @media #{$medium-width} {
        max-width:  100%;
    }

    @media #{$narrow-screen} {
        max-width:  90%;
    }
}

// @see PanelHelper#toggle_button
.toggle {

    @include button.basic;

    background-color: $panel-bg;
}

// Controlled by a .toggle button.
.toggle-panel {
    @include panel.toggle-panel;
}

// Holds title text and a .toggle button.
.toggle-panel-title {

    display:            inline-flex;
    flex-direction:     row;

    @media #{$wide-screen} {
        column-gap:     $gap-x;
    }

    @media #{$medium-width} {
        column-gap:     calc(2 * #{$gap-x});
    }

    @media #{$narrow-screen} {
        margin-bottom: $page-padding;
        flex-wrap:     wrap;
    }

    .toggle {
        @media #{$not-narrow-screen} {
            margin-right: $gap-x;
        }
    }

    .list-heading {
        @media #{$narrow-screen} {
            margin-bottom: 1rem;
        }
    }
}
