<%# app/views/reading_list/_details.html.erb -%>
<%-
  # A Reading List metadata listing with associated titles.
  item  ||= nil
  return if item.blank?

  list  ||= nil
  count ||= nil
  add   ||= {}
  level ||= 1
  skip  ||= nil

  role = ('role="article"'.html_safe if level == 1)
  skip = Array.wrap(skip)
  opt  = { list: list, count: count, level: (level + 1), skip: skip }
-%>

<div <%= role -%> class="reading_list-container">
  <%= reading_list_details(item, add) %>
  <%= render('reading_list/titles', opt) unless skip.include?(:titles) %>
</div>
