<%# app/views/reading_list/_details.html.erb -%>
<%-
  # A Reading List metadata listing with titles.
  item  ||= nil
  return if item.blank?

  list  ||= nil
  count ||= nil
  skip  ||= nil

  skip = Array.wrap(skip)
  list = nil if skip.include?(:titles)
-%>

<div class="reading_list-container">
  <%= render 'reading_list/metadata', item: item %>
  <%= render 'reading_list/titles',   list: list, count: count %>
</div>
