<%# app/views/reading_list/_titles.html.erb -%>
<%-
  # A list of titles associated with a Reading List.
  title  ||= 'Reading List Titles' # TODO: I18n
  list   ||= nil
  count  ||= nil
  offset ||= 0
  level  ||= 1
  skip   ||= nil

  element_id = 'title-list'
  skip_nav_append('Reading List Titles' => element_id) # TODO: I18n

  role = ('role="complementary"'.html_safe if level > 1)
  opt  = {
    title:  title,
    list:   list,
    count:  count,
    offset: offset,
    level:  (level + 1),
    skip:   skip,
  }
-%>

<div <%= role -%> class="<%= element_id -%>" id="<%= element_id -%>">
  <%= render 'title/list', opt %>
</div>
