<%# app/views/reading_list/show.html.erb -%>
<%-
  # A Reading List show page.
  item  ||= @item
  list  ||= page_items
  count ||= total_items
  title ||= item&.label || t('emma.reading_list.show.title')

  set_page_title(title)
  set_page_description(Title: title)
-%>

<h1 class="heading"><%= title -%></h1>

<%= render 'reading_list/details', item: item, list: list, count: count %>
