<%# app/views/upload/page_controls/_show.html.erb -%>
<%-
  # Page controls on an Upload show page for an authorized user.
  actions   = page_control_actions(Upload, :edit, :delete) or return
  anchor_id = 'show-page-controls'
  skip_nav_prepend(title: anchor_id)

  id ||= params[:id]

  path_opt = { id: id, method: :get }
-%>

<div class="label" id="<%= anchor_id -%>"><%= page_controls_label -%>:</div>
<div class="controls"><%= page_controls(*actions, **path_opt) %></div>
