// app/assets/stylesheets/layouts/header/_common.scss

@use 'shared/variables'        as *;
@use 'shared/common'           as *;
@use 'shared/controls/buttons' as *;

//=============================================================================
// Constants
//=============================================================================

// For enclosures which are the only child elements of header layout sections.
// section.
$enclosure-indent-wide:    4vw;
$enclosure-indent-medium:  3vw;
$enclosure-indent-narrow:  0;
$enclosure-padding-wide:   1.25rem;
$enclosure-padding-medium: 1rem;
$enclosure-padding-narrow: 0.75rem;

//=============================================================================
// Placeholder classes
//=============================================================================

%header-section {
    display:        flex;
    flex-direction: row;
    width:          100%;
}

%header-search-section {

    @extend %header-section;

    max-width:        calc(#{$lg-width} - (2 * #{$page-padding-x}));
    background-color: inherit;

    @media #{$narrow-screen} {
        width:     100%;
        min-width: unset;
        max-width: unset;
    }
}

// noinspection CssReplaceWithShorthandSafely
%header-control-panel {

    padding:        0.5rem;
    padding-right:  0;
    border:         0.125rem dotted white;
    border-radius:  0.75rem;

    @media #{$not-narrow-screen} {
        padding-bottom: 0.25rem;
    }
}

// For controls with a white background within the header.
%header-control-interior {
    * {
        color:     black;
        font-size: large;
    }
}

%header-button {

    @include link-button;

    @extend %control-button;

    // Needs to be heavier against a dark background.
    &:hover {
        box-shadow: 0 0 0.75rem 0.375rem $uva-accent-orange;
    }

    padding-left:     8px;
    padding-right:    8px;
    text-align:       center;
    color:            $uva-accent-blue;
    background-color: $panel-bg;
}

// Treat the including class as the top part of a visually enclosed header
// area which is actually comprised of individual enclosures, one per layout
// section.
%enclosure {

    margin: 0 auto;

    @media #{$wide-screen} {
        padding: $enclosure-padding-wide;
    }

    @media #{$medium-width} {
        padding: $enclosure-padding-medium;
    }

    @media #{$narrow-screen} {
        padding: $enclosure-padding-narrow;
    }
}

// Treat the including class as the top part of a visually enclosed header
// area which is actually comprised of individual enclosures, one per layout
// section.
%complete-shadow-enclosure {

    @extend %enclosure;

    border-radius: 1rem;
    border:        2px solid whitesmoke;

    $offset: 6px;
    $x:      $offset;
    $y:      $offset;
    $blur:   18px;
    $spread: 8px;
    $color:  rgba($uva-accent-teal, 0.35);

    box-shadow:
         #{$x}  #{$y} $blur $spread $color,
        -#{$x}  #{$y} $blur $spread $color,
         #{$x} -#{$y} $blur $spread $color,
        -#{$x} -#{$y} $blur $spread $color;
}

// Treat the including class as the top part of a visually enclosed header
// area which is actually comprised of individual enclosures, one per layout
// section.
%top-shadow-enclosure {

    @extend %complete-shadow-enclosure;

    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
    border-bottom:              none;
}

// Treat the including class as the bottom part of a visually enclosed header
// area which is actually comprised of individual enclosures, one per layout
// section.
%bottom-shadow-enclosure {

    @extend %complete-shadow-enclosure;

    border-top-left-radius:  0;
    border-top-right-radius: 0;
    border-top:              none;
}
