// app/assets/stylesheets/layouts/header/_nav_bar.scss

@use 'shared/variables'        as *;
@use 'shared/mixins'           as *;
@use 'shared/controls/buttons' as button;
@use 'shared/layouts/header'   as header;

// Navigation bar (<nav>) at the top of every page just below the top banner.
.layout-navbar {

    @include banner;

    @media #{$not-narrow-screen} {
        align-items:    start;
        flex-wrap:      wrap;
        row-gap:        $page-padding-y;
    }

    @media #{$narrow-screen} {
        flex-direction: column;
        padding-right:  calc($page-padding-x + $scroll-easement-x);
        padding-left:   calc($page-padding-x * 2);
    }

    &:last-child {
        padding-bottom: calc(2 * $page-padding-y);
    }

    //=========================================================================
    // Sections
    //=========================================================================

    // @see LayoutHelper::NavBar#nav_bar_links
    .links {

        @include header.section;

        flex-wrap:   wrap;
        font-size:   x-large;
        user-select: none;

        > * {

            width:              max-content;
            margin-right:       0.5rem;

            @media #{$narrow-screen} {
                margin-top:     0;
                margin-bottom:  0.25rem;
            }
        }

        // Highlight the main page for the current controller.
        .active:not(.separator) {

            margin-top: -3px;
            border-top: 3px solid $uva-accent-orange;

            &:not(.disabled):hover {
                text-decoration: underline;
            }
        }

        .secondary {

            color: gray;

            &:not(.active) {
                display: none;
            }
        }
    }

    // @see LayoutHelper::DevControls#render_dev_controls
    .dev-controls {

        @include header.section;
        @include header.control-panel;
        @include user-select(none);

        $page-control-gap-x: $gap-x;
        $page-control-gap-y: calc(#{$gap-y} / 2);

        flex-wrap:          nowrap;
        justify-content:    flex-start;
        align-items:        baseline;
        border-color:       $debug-fg;
        border-style:       dashed;
        flex:               0 1 max-content;

        @media #{$wide-screen} {
            position:       relative;
            z-index:        1;
            top:            -0.5rem;
            margin-bottom:  -1.5rem;
            max-width:      100%;
        }

        @media #{$medium-width} {
            max-width:      98%;
        }

        @media #{$narrow-screen} {
            max-width:      95%;
        }

        //=====================================================================
        // Elements
        //=====================================================================

        // From .layout-section.page.label and
        // .layout-section.page.controls.page-controls.label
        //
        // noinspection CssReplaceWithShorthandSafely
        .label {
            display:       block;
            width:         max-content;
            margin-top:    $page-control-gap-y;
            margin-bottom: $gap-y;
            margin-left:   0;
            margin-right:  $page-control-gap-x;
            font-size:     larger;
            flex:          0 1 max-content;
        }

        // From .layout-section.page.controls and
        // .layout-section.page.controls.page-controls.controls
        .controls {

            display:            flex;
            flex-direction:     row;
            flex-wrap:          wrap;
            margin:             0;
            row-gap:            $gap-y;
            flex:               1 1 max-content;

            @media #{$not-narrow-screen} {
                margin-bottom:  $page-control-gap-y;
            }

            // From .layout-section.page.control and
            // .layout-section.page.controls.page-controls.controls.control
            //
            // noinspection CssReplaceWithShorthandSafely
            .control {

                @include button.basic;

                margin:             0;
                font-size:          larger;
                color:              inherit;
                border-color:       $debug-fg;
                border-width:       2px;

                @media #{$not-narrow-screen} {
                    margin-right:   $page-control-gap-x;
                }

                @media #{$narrow-screen} {
                    margin-top:     $page-control-gap-y;
                    margin-bottom:  $page-control-gap-y;
                }
            }
        }
    }
}
