// app/assets/stylesheets/layouts/header/_page_controls.scss

@use 'shared/variables'        as *;
@use 'shared/mixins'           as *;
@use 'shared/controls/buttons' as button;
@use 'shared/layouts/header'   as header;

//=============================================================================
// Sections - controller/action
//=============================================================================

// Controller- and action-specific sections.
.layout-section.page {

    padding: 0 2vw;

    //=========================================================================
    // Elements
    //=========================================================================

    .label {
        display:   block;
        margin:    0;
        font-size: larger;
    }

    .controls {
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        margin:         0;
    }

    // @see LayoutHelper::PageControls#page_controls
    .control {

        @include button.basic;

        font-size: larger;
        color:     inherit;
        border:    1.5px solid;
    }
}

// Controller- and action-specific page controls.
.layout-section.page.controls {

    // @see LayoutHelper::PageControls#render_page_controls
    .page-controls {

        @include header.section;
        @include header.control-panel;
        @include user-select(none);

        $page-control-gap:   $gap;
        $page-control-gap-x: $gap-x;
        $page-control-gap-y: calc(#{$gap-y} / 2);

        width:           max-content;
        margin-bottom:   2vh;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     baseline;

        @media #{$wide-screen} {
            max-width:     100%;
        }

        @media #{$medium-width} {
            max-width:     98%;
            margin-bottom: 1vh;
        }

        @media #{$narrow-screen} {
            max-width:     95%;
        }

        //=====================================================================
        // Elements
        //=====================================================================

        // noinspection CssReplaceWithShorthandSafely
        .label {
            margin-top:    $page-control-gap-y;
            margin-bottom: $gap-y;
            margin-left:   0;
            margin-right:  $page-control-gap-x;
        }

        .controls {

            margin-bottom: $page-control-gap-y;

            @media #{$narrow-screen} {
                gap: $page-control-gap;
            }

            // noinspection CssReplaceWithShorthandSafely
            .control {

                margin:       0;
                margin-right: $page-control-gap-x;

                @media #{$narrow-screen} {
                    margin-top:    $page-control-gap-y;
                    margin-bottom: $page-control-gap-y;
                }

                &.current {

                    @include text-contrast;

                    background-color:      $panel-accent;
                    border-color:          white;
                }

                &.disabled {
                    text-decoration-color: transparent;
                    pointer-events:        none;
                }
            }
        }
    }
}
