<%# app/views/entry/bulk_reindex.html.erb -%>
<%-
  # Results of re-indexing.

  view_debug(__FILE__)

  list  ||= @list || []

  title ||= t('emma.entry.bulk_reindex.title')

-%>

<%= render 'fallback', title: title, error: 'Items:' %>

<ul>
  <%- list.each do |item| -%>
    <li><%= Entry.sid_value(item) -%></li>
  <%- end -%>
</ul>
