<%# app/views/member/_details.html.erb -%>
<%-
  # A Member metadata listing.
  item ||= nil
  return if item.blank?

  added_fields = {
    EmmaRoles: current_user.roles.map(&:to_s).join(', ')
  }
-%>

<div class="member-details">
  <%= member_field_values(item, added_fields) %>
</div>

<%= render 'member/preferences' %>
