<%# app/views/member/_details.html.erb -%>
<%-
  # A Member metadata listing with preferences and history.
  item ||= nil
  return if item.blank?

  pref ||= nil
  hist ||= nil
  skip ||= nil

  skip = Array.wrap(skip)
  pref = nil if skip.include?(:preferences)
  hist = nil if skip.include?(:history)
-%>

<div class="member-container">
  <%= render 'member/metadata',    item: item %>
  <%= render 'member/preferences', pref: pref %>
</div>

<%= render 'member/history', hist: hist %>
