<%# app/views/member/_details.html.erb -%>
<%-
  # A Member metadata listing with preferences and history.

  item  ||= nil or return
  pref  ||= nil
  hist  ||= nil
  add   ||= {}
  level ||= 1
  skip  ||= nil

  skip = Array.wrap(skip)
  pref = nil if skip.include?(:preferences)
  hist = nil if skip.include?(:history)
  role = ('role="article"'.html_safe if level == 1)
  opt  = { level: (level + 1), skip: skip }

-%>

<div <%= role -%> class="member-container">
  <%= member_details(item, add) %>
  <%= render('member/preferences', opt.merge(pref: pref)) if pref %>
</div>

<%= render('member/history', opt.merge(hist: hist)) if hist %>
