<%# app/views/member/_entry.html.erb -%>
<%-
  # A Member index entry.
  item   ||= nil
  index  ||= nil
  return unless item || index

  offset ||= page_offset

  number = index && ((index < 0) ? '' : "#{offset + index + 1}")
  id     = item  && %Q(id="member-#{h(item.identifier)}").html_safe

  metadata = item && {
    Name:  member_link(item),
    Roles: :roles
  }
-%>

<%- if number -%>
  <div class="number"><%= number -%></div>
<%- end -%>
<div class="member-list-entry" <%= id -%>>
  <%= item ? field_values(item, metadata) : empty_field_value %>
</div>
