<%# app/views/member/_history.html.erb -%>
<%-
  # Organization Member download history.

  # @type [Bs::Message::TitleDownloadList]
  hist  ||= @history or return
  list  ||= hist.titleDownloads
  count ||= hist.totalResults || list&.size || 0
  level ||= 2
  skip  ||= nil

  skip = Array.wrap(skip)
  role = ('role="complementary"'.html_safe if level > 1)
  heading =
    unless skip.include?(:title)
      title ||= t('emma.member.history.title')
      title  += " (#{count} events)" unless skip.include?(:count)
      classes = ('empty' if list.blank?)
      html_div(class: 'toggle-panel-title') {
        member_history_title(title, level: level, class: classes) <<
          member_history_control
      }
    end
-%>

<div <%= role -%> class="member-history">
  <%= heading %>
  <%= member_history(list) %>
</div>
