<%# app/views/member/_history.html.erb -%>
<%-
  # Organization Member download history.

  view_debug(__FILE__)

  item   ||= nil
  hist   ||= nil
  dec    ||= item && MemberDecorator.new(item, history: hist, **context) or return
  hist   ||= dec.history_data
  list   ||= dec.downloads

  count  ||= positive(hist&.totalResults) || list.size
  level  ||= 2
  skip   ||= nil

  skip     = [*skip]
  role     = ('role="complementary"'.html_safe if level > 1)
  panel_id = css_randomize(MemberDecorator::HISTORY_CSS_CLASS)
  heading  =
    unless skip.include?(:title)
      title ||= t('emma.member.history.title')
      title  += " (#{count} events)" unless skip.include?(:count)
      classes = ('empty' if list.blank?)
      title   = dec.history_title(title, level: level, class: classes)
      control = dec.history_control(id: panel_id)
      html_div(class: 'toggle-panel-title') { title << control }
    end

-%>

<div <%= role -%> class="member-history">
  <%= heading %>
  <%= dec.history_list(id: panel_id) %>
</div>
