<%# app/views/member/_preferences.html.erb -%>
<%-
  # Organization Member preferences listing.
  pref ||= @preferences
  return if pref.blank?

  level ||= 2
  skip  ||= nil

  skip = Array.wrap(skip)
  heading =
    unless skip.include?(:title)
      title ||= t('emma.member.preferences.title')
      content_tag("h#{level}", h(title), class: 'list-heading')
    end
-%>

<div class="member-preferences">
  <%= heading %>
  <%= member_preference_values(pref) %>
</div>
