<%# app/views/member/_preferences.html.erb -%>
<%-
  # Organization Member preferences listing.

  view_debug(__FILE__)

  item  ||= nil
  pref  ||= nil
  dec   ||= item && MemberDecorator.new(item, preferences: pref, **context) or return

  level ||= 2
  row   ||= 1
  skip  ||= nil

  skip    = [*skip]
  heading =
    unless skip.include?(:title)
      title ||= t('emma.member.preferences.title')
      html_tag(level, title, class: 'list-heading')
    end

-%>

<div class="member-preferences">
  <%= heading %>
  <%= dec.preference_list(row: row) %>
</div>
