<%# app/views/member/_preferences.html.erb -%>
<%-
  # Member preferences listing.
  item ||= @pref
  return if item.blank?
  skip ||= nil

  skip = Array.wrap(skip)
  heading =
    unless skip.include?(:title)
      title ||= 'Preferences' # TODO: I18n
      content_tag(:h2, h(title), class: 'list-heading')
    end
-%>

<div class="member-preferences">
  <%= heading %>
  <%= member_preference_values(item) %>
</div>
