<%# app/views/member/new.html.erb -%>
<%-
  # New organization Member form.

  # NOTE: Currently this is a fall-back in case there was a problem with the
  # link to Bookshare.  Normally, it would only be seen if going directly to
  # the EMMA endpoint.

  title ||= t('emma.member.new.title')

  click_to =
    if can?(:new, Member)
      'Click %s to' % link_to_action('here')
    else
      'User %s cannot' % current_user.to_s.inspect
    end.html_safe

  unless modal?
    set_page_title(title)
    set_page_description(title)
    set_page_robots(:noindex, :nofollow)
  end

=begin # NOTE: fields from Bookshare path orgAccountMembers/edit

  # === Account Details

  First Name    text      user.contactInfo.firstName
  Last Name     text      user.contactInfo.lastName
  Birth Date    text      user.dateOfBirth
  Current Grade menu      userGrade
  Username      text      user.userName
  Password      text      newPassword
  Quicklist     checkbox  onQuickList
  District      menu      districtId / districtName
  School        menu      schoolId / schoolName

  # === Qualifying Information

  Visual        checkbox  user.disabilityStatuses / VISUAL_IMPAIRMENT-SCHOOL_VERIFIED
  Learning      checkbox  user.disabilityStatuses / LEARNING_DISABILITY-SCHOOL_VERIFIED
  Physical      checkbox  user.disabilityStatuses / PHYSICAL_DISABILITY-SCHOOL_VERIFIED
  has an IEP    checkbox  user.userAttributes / HAS_IEP
  504 Qualified checkbox  user.userAttributes / HAS_ANSWERED_PLAN_QUESTION

  # === Reading Preferences

  Default Download Format downloadPreferences.defaultFormat
  Audio Format            downloadPreferences.audioDeliveryMethod
  BRF Size and format     downloadPreferences.brfFormat
  Braille Grade           downloadPreferences.brailleEncoding

=end
-%>

<h1 class="heading"><%= title -%></h1>

<p><%= click_to -%> add an organization member.</p>
