// app/assets/stylesheets/controllers/_account.scss

@use 'shared/variables'      as *;
@use 'shared/controls/grids' as grid;

@use 'feature/model'         as model-classes;

//=============================================================================
// Account index page
//=============================================================================

// EMMA user account metadata label/value pairs for index listings.
// @see AccountDecorator#list_item
.account-list-item {

    @extend .model-list-item-panel;

    // Maximum number of physical columns per width breakpoint.

    $max-columns:  30;
    $template:     minmax(max-content, 1fr);
    $template-map: (
        'wide':   ('columns': $max-columns),
        'medium': ('columns': 1, 'template': minmax(max-content, 0.33fr) 1fr),
        'narrow': ('columns': 1, 'template': 1fr)
    );

    @include grid.column-classes($max-columns, $template, $template-map);

    @media #{$medium-width} {
        padding:        1rem 1rem 0.5rem;
    }

    @media #{$narrow-screen} {
        padding-bottom: 0;
    }

    //=========================================================================
    // Elements
    //=========================================================================

    .value {
        &.field-EmmaRoles {

            margin: 0;

            > * {
                margin:  0;
                padding: 0;
            }

            > ul {
                padding-left: 1rem;
            }
        }
    }
}

// Zero or more .account-list-item elements.
.account-list {
    @extend .model-list;
}

// Grid table of user accounts.
// @see AccountDecorator#table
.model-table.account {
    td {
        min-width: max-content;
    }
}

//=============================================================================
// Account show page
//=============================================================================

// @see file:app/views/account/_details.html.erb
.account-section {

    @media #{$wide-screen} {
        margin-top: 4rem;
    }

    @media #{$not-wide-screen} {
        margin-top: 3rem;
    }

    .details-heading {

        @media #{$wide-screen} {
            margin-bottom: 2rem;
        }

        @media #{$not-wide-screen} {
            margin-bottom: 1rem;
        }
    }
}

// Account metadata values.
// @see AccountDecorator#details
.account-details {
    @extend .account-list-item; // INSTEAD OF @extend .model-details;
}

// Container for an .account-details.
.account-container {
    @extend .model-container;
}

//=============================================================================
// Account new/edit/delete pages
//=============================================================================

// @see AccountDecorator#model_form
// @see AccountDecorator#delete_form
.model-form.account {

    grid-template-columns: 1fr;

    @media #{$not-wide-screen} {
        margin-top: 1.5rem;
    }

    // @see AccountDecorator#model_form
    &.new,
    &.edit {
        margin-top: $page-padding-y;
    }

    // @see AccountDecorator#delete_form
    &.delete {
        width:      max-content;
    }

    .form-fields {
        margin-bottom: 0;
    }

    .button-tray {
        @include grid.row(unset);
    }
}
