// app/assets/stylesheets/controllers/_account.scss

@use 'shared/variables'      as *;
@use 'shared/common'         as *;
@use 'shared/controls/grids' as *;

//=============================================================================
// Account index page
//=============================================================================

// Local EMMA user account metadata label/value pairs for index listings.
.account-list-item {

    @extend .model-list-item-panel;

    // Maximum number of physical columns per width breakpoint.

    $max-columns: 20;
    $columns-map: (
        'wide':   ('columns': $max-columns),
        'medium': ('columns': 1, 'template': minmax(max-content, 0.33fr) 1fr),
        'narrow': ('columns': 1, 'template': 1fr)
    );

    @include grid-column-classes($max-columns, max-content, $columns-map);

    @media #{$wide-screen} {
        // NOTE: This is a kludge because ".column-#{count}" is not being added
        grid-template-columns: auto;
    }

    @media #{$medium-width} {
        padding: 1rem 1rem 0.5rem;
    }

    @media #{$narrow-screen} {
        padding-bottom: 0;
    }

    //=========================================================================
    // Elements
    //=========================================================================

    %effective-user {
        font-weight: bold;
        color:       $uva-emergency-red;
    }

    .label {
        &.field-EffectiveId,
        &.field-EffectiveUid {
            @extend %effective-user;
        }
    }

    .value {

        &.field-EffectiveId,
        &.field-EffectiveUid {
            @extend %effective-user;
        }

        &.field-EmmaRoles {

            margin: 0;

            > * {
                margin:  0;
                padding: 0;
            }

            > ul {
                padding-left: 1rem;
            }
        }
    }
}

// Zero or more .account-list-item elements.
.account-list {
    @extend .model-list;
}

// Grid table of local EMMA user accounts.
.account-table {

    @extend .model-table;

    td {
        min-width: max-content;
    }

    td.actions {
        .icon {
            text-decoration: none;
        }
    }
}

//=============================================================================
// Account show page
//=============================================================================

.account.local-heading {
    margin-top:    4rem;
    margin-bottom: 2rem;
}

// Account metadata values.
.account-details {
    @extend .account-list-item; // INSTEAD OF @extend .model-details;
}

// Container for an .account-details.
.account-container {
    @extend .model-container;
}

//=============================================================================
// Account new/edit/delete pages
//=============================================================================

// noinspection CssUnusedSymbol
.account-fields {
    @extend .upload-fields;
}

.account-form,
.account-delete-form {

    @extend .file-upload-form;

    grid-template-columns: 1fr;

    @media #{$not-wide-screen} {
        margin-top: 1.5rem;
    }

    .account-fields {
        min-height:    unset;
        margin-bottom: 2rem;
    }

    .button-tray {
        @include grid-row(unset);
    }
}

// noinspection CssUnusedSymbol
.account-form-container {

    @extend .file-upload-container;

    .account-form {
        margin-top: $page-padding;
    }

    .account-delete-form {
        width: max-content;
    }
}
