// app/assets/stylesheets/controllers/_api.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// API test page
//=============================================================================

// noinspection SassScssResolvedByNameOnly
body.api-index,
body.api-v2 {

    background-color: snow;

    //=========================================================================
    // Placeholder classes
    //=========================================================================

    %api-section {
        width:  99.625%;
        margin: 1rem 0.125rem 0.5rem;
    }

    %api-panel {
        display:       block;
        max-height:    50vh;
        max-width:     95vw;
        margin:        0 0 1.5rem;
        padding:       0.5rem;
        overflow:      auto;
        border:        2px solid gray;
        border-radius: 0.25rem;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    .heading {

        @extend %api-section;

        display:     block;
        margin-top:  $page-padding-y;
        padding-top: $page-padding-y;

        @media #{$browser-ie} {
            margin-left:  inherit;
            margin-right: inherit;
            margin-top:   $ie-page-padding-y;
            padding-top:  $ie-page-padding-y;
        }
    }

    .methods {

        @extend %api-panel;

        padding:      1rem;
        column-count: auto;
        column-width: 27.5vw;

        @media #{$browser-ie} {
            margin-left:  inherit;
            margin-right: inherit;
        }

        @media #{$wide-screen} {
            column-width: 15vw;
        }

        @media #{$narrow-screen} {
            padding-top:  0;
            column-width: unset;
        }

        //=====================================================================
        // Classes
        //=====================================================================

        > * {
            display:       block;
            margin-bottom: 0.75rem;
        }

        .success {
            color: blue;
        }

        .error {
            color: $text-red;
        }
    }

    .trials {

        display: block;

        .label {

            @extend %api-section;

            display:     inline-flex;
            align-items: baseline;

            @media #{$narrow-screen} {
                flex-direction: column;
            }

            //=================================================================
            // Sections
            //=================================================================

            .method {
                display: block;
            }

            .args {
                display:        block;
                margin-left:    0.1rem;
                font-weight:    normal;
                letter-spacing: -0.25px;
                color:          #333;
            }

            // noinspection CssInvalidPropertyValue
            .endpoint {

                display:     block;
                margin-left: auto;
                word-break:  keep-all;
                word-wrap:   anywhere; // NOTE: valid but flagged by RubyMine
                font-family: monospace;

                @media #{$narrow-screen} {
                    word-break: break-word;
                }
            }
        }

        .value {

            @extend %api-panel;

            &.success {
                background-color: white;
            }

            &.error {
                max-height:       25vh;
                background-color: ghostwhite;
            }

            .data {
                word-break:  keep-all;
                font-family: monospace;
                font-size:   larger;
            }
        }
    }
}

body.api-v2 {
    .session-debug {
        margin: 2rem auto;
    }
}
