// app/assets/stylesheets/controllers/_api.scss

//=============================================================================
// API test page
//=============================================================================

body.api-index {

    background-color: snow;

    %heading {
        margin: 0.5rem 1rem;
    }

    %panel {
        display:    block;
        max-height: 50vh;
        max-width:  95vw;
        margin:     0 1rem 1.5rem;
        padding:    0.5rem;
        overflow:   auto;
        border:     2px solid gray;
    }

    .heading {

        @extend %heading;

        display: block;
    }

    .methods {

        @extend %panel;

        padding:      1rem;
        column-count: 4;

        > * {
            display: block;
        }

        .success {
            color: blue;
        }

        .error {
            color: red;
        }
    }

    .trials {

        display: block;

        .label {

            @extend %heading;

            display:     inline-flex;
            align-items: baseline;

            .method {
                display: block;
            }

            .args {
                display:     block;
                margin-left: 0.2rem;
                font-weight: normal;
                color:       #333;
            }
        }

        .value {

            @extend %panel;

            &.success {
                background-color: white;
            }

            &.error {
                max-height:       25vh;
                background-color: ghostwhite;
            }

            .data {
                font-family: monospace;
                font-size:   larger;
            }
        }
    }

}
