// app/assets/stylesheets/controllers/_bs_api.scss

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Internal constants
//=============================================================================

$api-background-color: snow;

//=============================================================================
// Bookshare API test page
//=============================================================================

body.bs_api-index,
body.bs_api-v2 {

    background-color: $api-background-color;

    .layout-content {

        box-shadow: 0 0 0 $page-padding $api-background-color;

        .session-debug {
            margin: 2rem auto;
        }
    }

    //=========================================================================
    // Placeholder classes
    //=========================================================================

    %api-section {
        width:  99.625%;
        margin: 1rem 0.125rem 0.5rem;
    }

    %api-panel {
        display:       block;
        max-height:    50vh;
        max-width:     95vw;
        margin:        0 0 1.5rem;
        padding:       0.5rem;
        overflow:      auto;
        border:        2px solid gray;
        border-radius: 0.25rem;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    .heading {

        @extend %api-section;

        display:     block;
        margin-top:  $page-padding-y;
        padding-top: $page-padding-y;
    }

    .methods {

        @extend %api-panel;

        padding:          1rem;
        column-count:     auto;
        column-width:     27.5vw;
        background-color: $uva-light-gray;

        @media #{$wide-screen} {
            column-width: 15vw;
        }

        @media #{$narrow-screen} {
            padding-top:  0;
            column-width: unset;
        }

        //=====================================================================
        // Classes
        //=====================================================================

        $item-padding: 0.375rem;

        > * {

            @include width-fit-content;

            display: block;
            margin:  0 (-$item-padding) $item-padding;
            padding: 0   $item-padding  $item-padding;
        }

        .success {
            color:            blue;
            background-color: $root-bg-color;
        }

        .error {
            color: $error-fg;
        }
    }

    .trials {

        display: block;

        .label {

            @extend %api-section;

            display:     inline-flex;
            flex-flow:   wrap;
            align-items: baseline;

            //=================================================================
            // Sections
            //=================================================================

            .method,
            .args,
            .endpoint {
                display:     block;
                word-break:  break-word;
            }

            .args {
                margin-left: 0.1rem;
                font-weight: normal;
                font-size:   smaller;
                color:       #333;
            }

            .endpoint {
                margin-left: auto;
                text-align:  end;
                font-family: monospace;
            }
        }

        .value {

            @extend %api-panel;

            &.success {
                background-color: $root-bg-color;
            }

            &.error {
                max-height:       25vh;
                background-color: ghostwhite;
            }

            .data {
                word-break:  keep-all;
                font-family: monospace;
                font-size:   larger;
            }
        }
    }
}
