// app/assets/stylesheets/controllers/_category.scss

@use 'shared/variables'     as *;
@use 'shared/feature/model' as model;

@use 'feature/model'        as model-classes;

//=============================================================================
// Category index page
//=============================================================================

// Category metadata label/value pairs for index listings.
// @see CategoryDecorator#list_item
.category-list-item {

    @extend .model-list-item;

    display:        flex;
    flex-direction: row;
    margin-bottom:  0;
    gap:            0;

    //=========================================================================
    // Components
    //=========================================================================

    .label {
        @media #{$narrow-screen} {
            flex: 1 1 75%;
        }
    }

    .value {

        margin-left: $gap-x;

        @media #{$narrow-screen} {
            margin-left:  calc(2 * #{$gap-x});
            margin-right: calc(2 * #{$gap-x});
            flex:         0 0 auto;
        }
    }
}

// Zero or more .category-list-item elements.
// @see file:app/views/category/index.html.erb
.category-list {

    @extend .model-list;

    //=========================================================================
    // Sections
    //=========================================================================

    .pagination-bottom {
        margin-top: model.$list-item-gap-y;
    }
}

//=============================================================================
// Category show page
//=============================================================================

// Category metadata values.
.category-details { // TODO: delete?
    @extend .model-details;
}

// Container for a .category-details.
.category-container { // TODO: delete?
    @extend .model-container;
}
