// app/assets/stylesheets/controllers/_category.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;
@use 'feature/model'    as *;

//=============================================================================
// Category index page
//=============================================================================

// Category metadata label/value pairs for index listings.
.category-list-entry {

    @extend .item-list-entry;

    display:        flex;
    flex-direction: row;
    margin-bottom:  0;
    gap:            0;

    //=========================================================================
    // Components
    //=========================================================================

    .label {
        @media #{$narrow-screen} {
            flex: 1 1 75%;
        }
    }

    .value {

        margin-left: $gap-x;

        @media #{$narrow-screen} {
            margin-left:  calc(2 * #{$gap-x});
            margin-right: calc(2 * #{$gap-x});
            flex:         0 0 auto;
        }
    }
}

// Zero or more .category-list-entry elements.
.category-list {

    @extend .item-list;

    //=========================================================================
    // Sections
    //=========================================================================

    .pagination-bottom {
        margin-top: $results-entry-gap-y;
    }
}

//=============================================================================
// Category show page
//=============================================================================

// Category metadata values.
.category-details { // TODO: delete?
    @extend .item-details;
}

// Container for a .category-details.
.category-container { // TODO: delete?
    @extend .item-container;
}
