// app/assets/stylesheets/controllers/_data.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;
@use 'feature/model'    as *;

//=============================================================================
// DataController index page
//=============================================================================

$side-scroll-shadow: -1.5rem  0  0  0.5rem  $root-bg-color;
$vert-scroll-shadow:  0       0  0  0.5rem  $root-bg-color;

.database-table-links {
    line-height: 1.375;
}

.database-table-name {

    margin-top: 4rem;
    background: ghostwhite;

    &:not(.empty) {
        span {
            position:   sticky;
            left:       2rem;
            box-shadow: $side-scroll-shadow;
        }
    }
}

//=============================================================================
// DataController index or show page
//=============================================================================

$database-table-max-columns: 25;

/**
 * NOTE: This is crude, mostly because the normal intended output is JSON.
 * Some minimal styling is supplied just to help confirm results from the
 * controller by being able to view them as a web page.
 */
.database-table {

    // First (id) column is narrower.
    $columns: minmax(5vw, auto);

    // Subsequent columns
    @for $n from 2 through $database-table-max-columns {
        $columns: #{$columns} minmax(15vw, max-content);
    }

    display:               grid;
    grid-template-columns: $columns;
    gap:                   1rem;

    .database-record {

        display: contents;

        .database-column {

            background: $root-bg-color;

            &.hierarchy {
                max-height:  25vh;
                max-width:   30vw;
                white-space: pre;
                overflow:    auto;
                background:  ghostwhite;
            }

            &.col-first {
                position:          sticky;
                left:              2rem;
                box-shadow:        $side-scroll-shadow, $vert-scroll-shadow;
                grid-column-start: 1;
            }
        }

        &.row-first {

            .database-column {

                position:       sticky;
                top:            0.5rem;
                padding:        0 1px;
                font-weight:    bold;
                text-transform: uppercase;
                border-bottom:  2px solid $root-fg-color;

                &.col-first {
                    z-index:    $z-raised;
                }

                &:not(.col-first) {
                    box-shadow: $vert-scroll-shadow;
                }
            }
        }
    }
}

.database-table.empty {

    // No data is driving the grid layout so make the column headers the same.
    grid-template-columns: repeat(#{$database-table-max-columns}, 1fr);

    .database-record {
        .database-column {
            position: unset;
        }
    }
}

//=============================================================================
// DataController counts page
//=============================================================================

.database-counts-table {

    display:               grid;
    grid-template-columns: 0.1fr 0.9fr;
    column-gap:            1rem;
    row-gap:               3rem;
    margin-top:            4.5rem;

    .database-field-counts {

        display: contents;

        .field-name,
        .field-values {
            line-height: 1.5;
        }

        .field-name {

            font-weight:       bold;
            grid-column-start: 1;

            &.invalid {
                color:         $error-fg;
                cursor:        default;
            }
        }

        .field-values {

            display:               grid;
            grid-template-columns: 0.1fr 0.9fr;
            max-height:            20vh;
            overflow:              auto;
            background:            ghostwhite;

            .value-count {
                padding-left:  0.25rem;
            }

            .total {
                margin-bottom: 2px;
                font-weight:   bold;
                border-bottom: 1px solid lightgray;
            }
        }
    }
}
