// app/assets/stylesheets/controllers/_help.scss

@use 'shared/variables'      as *;
@use 'shared/mixins'         as *;
@use 'shared/controls/grids' as grid;
@use 'shared/feature/icons'  as icon;
@use 'shared/feature/model'  as model;

@use 'feature/model'         as model-classes;
@use 'vendor/uppy';

//=============================================================================
// Internal mixins
//=============================================================================

@mixin help-interior {
    > * {
        margin:      1rem 0;
        padding:     0;
        line-height: 1.35;

        &:first-child { margin-top:    0; }
        &:last-child  { margin-bottom: 0; }
    }
}

@mixin help-text {
    line-height: 1.35;
}

@mixin help-layout {
    @media #{$wide-screen} {
        max-width: 50vw;
    }
    @media #{$medium-width} {
        max-width: 75vw;
    }
}

@mixin help-styles {

    @include help-interior;

    nav,
    section {

        @include help-interior;

        margin: 3rem 0 0;
    }

    section > section {
        margin-left: 3rem;
    }

    // For "Topics in this section":
    p + nav {
        margin-top: 0;
    }
    nav > ul {

        @media #{$not-narrow-screen} {
            margin-left: 1rem;
        }

        @media #{$narrow-screen} {
            margin-left: 0;
        }

        > li {
            @media #{$narrow-screen} {
                margin-left: 0.1875rem;
            }
        }
    }

    h1 { margin-top: 2rem; }
    h2 { margin-top: 2rem; }
    h3 { margin-top: 2rem; font-size: 1.35em; }
    h4 { margin-top: 2rem; font-size: 1.15em; }
    h5 { margin-top: 2rem; font-size: 1.10em; }
    h6 { margin-top: 2rem; font-size: 1.05em; }

    p,
    > div {
        @include help-text;

        a {
            display: inline;

            &:focus {
                outline-offset: 0.5px;
            }
        }
    }

    li {

        line-height:         1.5;
        list-style-position: inside;

        @media #{$narrow-screen} {
            margin-bottom:   $flex-gap-y;
        }

        a {
            @media #{$narrow-screen} {
                margin: 0 -0.25rem 0 -0.5rem;
                border: 0.125rem solid transparent;
            }
        }
    }

    img {

        display:   block;
        margin:    1.5rem auto;
        max-width: 100%;

        &:not(.no-border) {
            border: 1px solid gray;
        }
    }

    code {
        font-size: larger;
    }

    .field {

        padding:       0.25rem;
        border-radius: 0.125rem;
        border:        1px solid gray;

        .note {

            margin-top: 0.5rem;
            font-style: italic;

            p {
                margin-top:    0.5rem;
                margin-bottom: 0;
                line-height:   1.25;
            }
        }
    }

    //=========================================================================
    // Modal variations
    //=========================================================================

    &.modal {
        img {
            &:not(.wide) {
                max-width: 75%;
            }

            @media #{$narrow-screen} {
                max-width: 100%;
            }
        }
    }
}

@mixin help-panel {

    @include panel;
    @include help-styles;

    margin:  1rem 0;
    padding: 0.5rem 1rem;

    @media #{$wide-screen} {
        max-width: 50%;
    }

    @media #{$medium-width} {
        max-width: 75%;
    }

    li {
        margin: 0;
    }
}

@mixin inline-button {
    display:         inline-block;
    padding:         2px 4px;
    line-height:     1;
    text-decoration: none;
    border:          1px solid $rev-bg-color;
    border-radius:   0.375rem;
    box-shadow:      inset 0 0 0 1px $rev-fg-color;
}

//=============================================================================
// Elements
//=============================================================================

// A generic help section.
// @see HelpHelper#help_section
// @see file:app/views/help/index.html.erb
.help-section {

    // Major sub-heading.
    .section {

        display:        flex;
        flex-direction: row;
        align-items:    baseline;

        @media #{$narrow-screen} {
            flex-wrap:  wrap-reverse;
        }

        @media print {
            break-after: avoid;
        }

        // Sub-heading text.
        .text {
            display:      block;
            flex:         1 1 auto;
            padding-left: 1.5rem;
            text-indent: -1.5rem;
        }
        .control-button + .text::before {
            content: "#{$NNBS}#{$EN_DASH}#{$NNBS}";
        }

        // Repository logo.
        .logo {

            display:            block;
            flex:               0 1 auto;

            @media #{$not-narrow-screen} {
                margin:         auto 0.5rem;
            }

            @media #{$narrow-screen} {
                max-width:      90%;
                margin-bottom:  calc(2 * $flex-gap-y);
            }

            img {
                max-height: 3rem;
                max-width:  100%;
                margin:     auto;
                padding:    0.25rem 0.375rem;
                object-fit: scale-down;
            }
        }
    }

    // Minor sub-heading.
    .sub-section {
        @media print {
            break-after: avoid;
        }
    }

    // Container for elements to be arranged side-by-side.
    .columns {

        @include help-interior;

        @media #{$not-narrow-screen} {

            display:        flex;
            flex-direction: row;
            column-gap:     calc(2 * $flex-gap-x);

            > * {

                @include help-interior;

                margin-top:    0.5rem;
                margin-bottom: 0.5rem;

                > * {
                    margin-top:    0.5rem;
                    margin-bottom: 0.5rem;
                }
            }

            img {
                flex:          1 0 auto;
                margin-bottom: auto !important;
                max-width:     50%; // Chrome needs this; other browsers don't.
            }

            * + img {
                margin-top: 0.25rem;
            }
        }
    }

    // A table of menu selections and descriptions.
    .choices {

        @include model.label-value-pairs;

        margin: model.$list-item-gap-y model.$list-item-gap-x;

        @media #{$narrow-screen} {
            grid-template-columns: [label] 1fr [value] 2fr;
        }

        //=====================================================================
        // Components
        //=====================================================================

        // Menu selection.
        .label {
            @media #{$narrow-screen} {
                word-break: keep-all;
            }
        }

        // Description of menu selection.
        .value {

            @include help-text;

            @media #{$not-narrow-screen} {
                display:         list-item;
                margin-left:     1.25rem;
                list-style-type: disclosure-closed;
            }

            &:last-of-type { margin-bottom: 0; }
        }
    }

    // A bulleted list of items.
    ul.list {
        margin-left: 1rem;
    }

    // A list of definitions.
    dl.list {

        margin-left: 1rem;
        display:     grid;
        grid-template-columns: auto 1fr;

        dt {
            font-weight: bold;
        }
    }

    // Special notation paragraph.
    .caveat {
        font-weight: bold;
    }

    // Navigation links at the start of a section.
    .section + nav {
        margin-top: 1rem;
    }
}

// Special information box.
.help-intro {

    @media print {
        break-inside: avoid;
    }

    > * {
        @include help-panel;
    }

    .help-offline {
        font-size: large;
    }
}

// Free-standing panel containing help topic table-of-contents links.
.help-toc {

    margin: 3rem 0;

    @media print {
        break-inside: avoid;
    }

    > * {
        @include help-panel;
    }
}

//=============================================================================
// Help index page
//=============================================================================

// Help metadata label/value pairs for index listings.
// @see file:app/views/help/_list.html.erb
.help-list-item {

    @extend .model-list-item;

    @include help-styles;

    @media #{$not-narrow-screen} {
        margin-left: model.$list-item-gap-x;
    }

    @media #{$narrow-screen} {
        margin-left: 0;
    }

    grid-template-columns: 1fr;
}

// Zero or more .help-list-item elements.
// @see file:app/views/help/index.html.erb
.help-list {

    @extend .model-list;
    @extend .help-section;

    @include help-layout;
    @include help-styles;

    margin-top: model.$list-item-gap-y;

    //=========================================================================
    // Components
    //=========================================================================

    .entry-title {
        @include grid.column-span;
    }
}

//=============================================================================
// Help show page
//=============================================================================

// Help metadata values.
// @see BaseDecorator::List#model_details
.help-details {
    @extend .model-details;
}

// Container for a .help-details.
// @see HelpHelper#help_container
.help-container {

    @extend .model-container;

    @include help-layout;
    @include help-styles;

    flex-wrap:      wrap;
    flex-direction: column;
}

//=============================================================================
// Help pages
//=============================================================================

body.help {

    .heading {
        word-break: break-word;
    }

    // Help may contain normally-functional elements which are only for the
    // purpose of illustration.
    //
    // @see HelpHelper#help_section
    // @see file:app/assets/javascripts/feature/help.js

    .layout-content {

        // An inline rendering of the panel "More/Less" toggle button.
        .advanced-search-toggle {

            display:          inline;
            font-size:        inherit;
            color:            $rev-fg-color;
            border:           1px solid gray;

            .symbol:not(:first-child) {
                margin-left:  0.25rem;
            }

            .symbol:not(:last-child) {
                margin-right: 0.25rem;
            }
        }

        // An inline rendering of a search facet menu label.
        .menu-label {
            display:          inline-block;
            margin-top:       0.75rem;
            padding:          0.1825rem 0.375rem;
            font-weight:      normal;
            color:            $rev-fg-color;
            background-color: $rev-bg-color;
        }

        // An inline rendering of a simple dropdown menu.
        .menu-control {
            display:          inline-block;
            margin-top:       0.75rem;
            padding:          0.1825rem 0.375rem;
            font-weight:      bold;
            border:           2px solid black;
        }

        // An inline rendering of the "Search" button.
        .search-button {

            @include inline-button;

            color:            $uva-accent-blue;
            background-color: $panel-bg;
            border-color:     darkgray;
        }

        // A "Sign in" hyperlink.
        .session-link {
            cursor:           text;
        }

        // An inline rendering of a form action or sign-in button.
        .sign-in-link,
        .sign-in-button,
        .control-button,
        .uppy-FileInput-btn {
            @include inline-button;
        }

        // An inline rendering of the EMMA "Sign in" button.
        .sign-in-button {
            color:            $rev-fg-color;
            background-color: $rev-bg-color;
        }

        // An inline rendering of the inline "More/Less" toggle button.
        .toggle {
            display:             inline-block;
            padding:             1px 4px;
            line-height:         1;
            font-size:           inherit;
        }

        // An inline rendering of a search results toggle.
        .toggle.for-item {

            padding:             1px;
            border-radius:       50%;
            cursor:              text;

            &.closed {
                padding-left:    4px;
            }

            &.open {
                padding-top:     2px;
                padding-bottom:  0;
            }

            &:hover {
                box-shadow:      none;
                text-decoration: none;
            }
        }

        // View or lookup icon.
        .icon.show {
            @include icon.show;
            padding: 0;
        }

        // Edit icon.
        .icon.edit {
            @include icon.edit;
            padding: 0;
        }

        // Delete icon.
        .icon.delete {
            @include icon.delete;
            padding: 0;
        }
    }
}

//=============================================================================
// Special handling for resizable modal help pages.
//=============================================================================

body.help.modal {

    .help-intro > *,
    .help-toc > *,
    .help-list,
    .help-container {
        max-width: unset;
    }
}

//=============================================================================
// Special handling for the help index page.
//=============================================================================

body.help:not(.modal) {

    .help-section + .help-toc {
        @media print {
            display: none;
        }
    }

    // Visibly separate major help sections.
    .entry-title {

        margin-top:  4rem;
        padding-top: 4rem;
        border-top:  0.375rem solid $rev-bg-color;

        @media print {
            margin-top:        0;
            padding-top:       1rem;
            border-top-width:  0.25rem;
            break-before:      page;
            break-after:       avoid;
        }
    }
}
