// app/assets/stylesheets/controllers/_home.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Welcome page
//=============================================================================

// noinspection SassScssResolvedByNameOnly
body.home-main,
body.home-welcome,
body.home-dashboard {

    .panel {

        @extend %panel;

        @include width-fit-content;

        min-width: 50%;
        max-width: 100%;

        @media #{$browser-ie} {
            width: 50%;
        }

        > * {
            margin-top: 0.5rem;
            &:first-child { margin-top: 0; }
        }

        > br {
            margin-top: 0.25rem;
            &:first-child { margin-top: 0.25rem; }
        }
    }

    .sign-in {
        margin-top:    2rem;
        margin-bottom: 2rem;
        font-weight:   bold;
    }

    .sign-in + .ability-debug {
        @media #{$wide-screen} {
            margin-top: 50vh;
        }
    }

}
