// app/assets/stylesheets/controllers/_manifest.scss
//
// Bulk operation manifests

@use "shared/variables"        as *;
@use "shared/functions"        as *;
@use "shared/mixins"           as *;
@use "shared/controls/buttons" as button;
@use "shared/controls/grids"   as grid;
@use "shared/controls/popup"   as popup;
@use "shared/controls/tables"  as table;
@use "shared/feature/model"    as model;
@use "shared/layouts/overlay"  as overlay;

@use "controllers/entry"       as entry-classes;

//=============================================================================
// Manifest index page
//=============================================================================

.manifest-list-item {

    @extend .entry-list-item;

    $max-columns: 20; // from .model-list-item-panel

    @media #{$wide-screen} {

        $name-width:   minmax(20vw, 3fr);
        $name-columns: 1;
        $user-width:   minmax(15vw, 2fr);
        $user-columns: 1;

        @for $n from 2 through $max-columns {
            $data-columns: $n - $name-columns - $user_columns;
            &.columns-#{$n} {
                grid-template-columns:
                    [name] repeat($name-columns, $name-width)
                    [user] repeat($user-columns, $user-width)
                    [data] repeat($data-columns, 1fr);
            }
        }
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label[data-field="id"] {
        @media #{$wide-screen} {
            width: max-content;
        }
    }

    .value[data-field="name"] {
        font-weight: bold;
    }
}

// Zero or more .manifest-list-item elements.
.manifest-list {

    @extend .entry-list;

    //=========================================================================
    // Components - only if there are no Manifests displayed
    //=========================================================================

    .new-button {
        @include button.basic;
    }

    // Element displayed when the user has no manifests to list.
    .no-items {

        max-width:   100%;
        font-weight: bold;

        .new-button {
            display:     inline-block;
            padding:     2px 4px;
            font-weight: normal;
        }
    }
}

//=============================================================================
// Manifest show page
//=============================================================================

.manifest-details {
    @extend .entry-details;
}

// Container for a .manifest-details.
.manifest-container {
    @extend .entry-container;
}

//=============================================================================
// Manifest new/edit pages
//=============================================================================

body.manifest.new:not(.select),
body.manifest.edit:not(.select) {

    $hdg-gap: calc(2 * $gap-y) calc(2 * $gap-x);

    .layout-content {

        // NOTE: Hiding overflow here prevents a problem with >= 10 rows.
        // - In this situation (for unidentified reasons) scrollHeight is being
        //   added to the document which leads to a significant blank area
        //   below the footer.
        // - Replacing part of the left margin with padding is required to keep
        //   the Save button box shadow from being clipped when it is hovered.

        $half-left: calc($page-padding-x / 2);

        margin-left:       $half-left;
        overflow:          hidden;

        @media #{$not-narrow-screen} {
            padding-left:  $half-left;
        }

        @media #{$narrow-screen} {
            padding-left:  0;
            padding-right: $half-left;
        }
    }

    // @see ManifestDecorator#manifest_page_heading
    .heading-bar {

        margin:      $page-padding-y 0;
        gap:         $hdg-gap;
        align-items: center;

        //=====================================================================
        // Components
        //=====================================================================

        .heading {

            display:   flex;
            flex-wrap: wrap;
            gap:       $hdg-gap;
            margin:    0;

            //=================================================================
            // Components
            //=================================================================

            .text.label {

                word-break: keep-all;

                @media #{$not-wide-screen} {
                    @include sr-only;
                }
            }

            .text.name {
                &::before, &::after {
                    content:     '"';
                    font-weight: normal;
                }
            }
        }

        .line-editor {

            display:        inline-grid;
            gap:            $hdg-gap;
            font-size:      $h1-font-size;
            background:     ghostwhite;
            box-shadow:     0 0 0 0.75rem ghostwhite;
            border-radius:  1px;

            grid-template-columns: 1fr min-content min-content;

            //=================================================================
            // Components
            //=================================================================

            // Title input
            input[type="text"] {
                font-size: smaller;
            }

            .update,
            .cancel {

                @include button.basic;

                & {
                    height:     min-content;
                    margin:     auto 0;
                    font-size:  large;
                    background: white;
                }
            }
        }

        .title-edit {

            @include button.basic;

            & {
                height:        min-content;
                margin:        auto 0;
                padding:       1px 4px;
                font-size:     medium;
                border-radius: 6px;
            }
        }

        .help-popup {}

        //=====================================================================
        // Variations
        //=====================================================================

        &:not(.editing) {

            .line-editor { @include hidden; }

            @media #{$not-narrow-screen} {
                grid-template-columns:
                    [heading]    minmax(auto, max-content)
                    [title-edit] min-content
                    [help-popup] min-content;
            }

            @media #{$narrow-screen} {

                grid-template-areas:
                    "heading title-edit"
                    "heading help-popup";

                .heading    { grid-area: heading; }
                .title-edit { grid-area: title-edit; }
                .help-popup { grid-area: help-popup; }
            }
        }

        &.editing {

            .text.name  { @include hidden; }
            .title-edit { @include hidden; }

            @media #{$not-narrow-screen} {
                grid-template-columns:
                    [heading]     auto
                    [line-editor] 1fr
                    [help-popup]  min-content;
            }

            @media #{$narrow-screen} {

                .line-editor {

                    grid-template-areas:
                        "input update"
                        "input cancel";

                    input   { grid-area: input; height: max-content; }
                    .update { grid-area: update; }
                    .cancel { grid-area: cancel; }
                }

                .help-popup { @include hidden; }
            }
        }
    }

    .button-tray {

        display:        flex;
        flex-direction: row;
        gap:            $hdg-gap;

        //=====================================================================
        // Components
        //=====================================================================

        > .form-button {

            @include button.control;

            & {
                padding-inline: 0;
                text-align:     center;
            }

            @media #{$wide-screen} {
                min-width:      5vw;
            }

            @media #{$medium-width} {
                min-width:      10vw;
            }

            @media #{$narrow-screen} {
                min-width:      20vw;
            }

            &.submit-button     {}
            &.cancel-button     {}
            &.export-button     {}
            &.submission-button {}

            &.import-button {

                display:            flex;
                flex-direction:     row;
                justify-content:    center;
                align-items:        center;
                position:           relative;
                overflow:           clip;

                @media #{$wide-screen} {
                    padding-left:   0;
                    padding-right:  0;
                }

                &:focus-within {
                    @include focus;
                }

                // The actual input positioned so that the transparent file
                // chooser button fills the available area of the button.
                input[type="file"] {
                    position:    absolute;
                    z-index:     1;
                    border:      2rem solid;
                    cursor:      inherit;
                    opacity:     0;
                }

                label {
                    text-align:  center;
                    flex:        1 1 100%;
                    cursor:      inherit;
                }
            }

            &.offline {
                @include forbidden($force: true);
            }
        }

        // noinspection CssOverwrittenProperties
        > .comm-status {

            display:     block;
            margin:      auto 1rem;
            font-weight: bold;
            font-size:   larger;
            color:       $uva-emergency-red;

            $statuses:   offline, dynamic; // ManifestDecorator::STATUS_MESSAGE

            @each $status in $statuses {
                &.#{$status} {
                    display: block;
                    > *:not(.#{$status}) {
                        display: none;
                    }
                }
            }

            & {
                display: none;
            }
        }
    }

    .manifest-grid-container {

        min-height: 50vh;

        .pagination-top {

            margin-bottom:   model.$list-item-gap-y;
            flex-wrap:       nowrap;
            gap:             $flex-gap-y $flex-gap-x;

            @media #{$not-narrow-screen} {
                align-items: baseline;
            }

            @media #{$narrow-screen} {
                align-items: center;
            }

            .button-tray {
                flex:           1 1 100%;
            }

            .counts {

                display:        inline-flex;
                flex-direction: row-reverse;
                gap:            1rem;
                margin:         0;
                flex:           1 0 auto;

                .search-count {
                    margin: auto 0;
                }
            }
        }

        .pagination-bottom {
            @media #{$narrow-screen} {
                display: flex;
            }
        }
    }

    // Style flash message caused by the return from bibliographic lookup.
    // @see file:javascripts/controllers/manifest-edit.js *onLookupComplete()*
    .flash-messages .notice {

        .text {

            display: grid;
            gap:     0.25rem;

            grid-template-columns: [type] max-content [list] 1fr;

            .type { } // TODO: ?
            .list { } // TODO: ?
        }
    }
}

//=============================================================================
// Manifest remit page
//=============================================================================

body.manifest.remit:not(.select) {

    //=========================================================================
    // Elements
    //=========================================================================

    // NOTE: for now not attempting to make use of Uppy feedback.
    .uppy-Root {
        display: none;
    }

    // Add to a button to accent it as the next best action to perform.
    .best-choice:not(:hover) {

        box-shadow: 0 0 0.5rem 0.25rem $button-accent;

        &:focus {
            outline: 1px solid gray;
        }
    }

    .form-button {

        @include button.control;

        &.start-button   {}
        &.stop-button    { display: none; } // TODO: ???
        &.pause-button   { display: none; } // TODO: ???
        &.resume-button  { display: none; } // TODO: ???
        &.monitor-button {}

        &.file-button {

            display:        inline-flex;
            flex-direction: row;
            position:       relative;
            overflow:       clip;

            .file-input {
                position:     absolute;
                top:          0;
                left:         0;
                padding-left: 3rem;
                border:       0.375rem solid;
                cursor:       pointer;
                opacity:      0;
            }

            .label {
                width:        100%;
                text-align:   center;
            }

        }

        &.offline {
            @include forbidden($force: true);
        }
    }

    .submission-counts {

        display:                grid;
        grid-auto-flow:         column;
        align-content:          center;
        gap:                    0.5rem;
        min-height:             2rem;
        border:                 double;
        background:             ghostwhite;
        flex:                   1 1 auto;

        @media #{$wide-screen} {
            padding:            0.25rem 1.25rem;
            justify-content:    space-between;
        }

        @media #{$not-wide-screen} {
            padding:            0.25rem;
            grid-auto-columns:  1fr;
        }

        //=====================================================================
        // Components - @see "en.emma.bulk.submit.counts"
        //=====================================================================

        //.total.count,
        //.ready.count,
        //.transmitting.count,
        //.succeeded.count,
        //.failed.count,
        .count {

            display:            flex;
            align-items:        center;
            gap:                0.25rem;

            @media #{$wide-screen} {
                flex-direction: row;
            }

            @media #{$not-wide-screen} {
                flex-direction: column;
            }

            .label {

                text-transform: capitalize;

                &::after {
                    @media #{$wide-screen} {
                        content: ": ";
                    }
                }
            }

            .value {

                font-weight:    bold;
                font-size:      large;
                color:          $uva-text-blue;

                @media #{$wide-screen} {
                    min-width:  3vw;
                }
            }
        }
    }

    //=========================================================================
    // Components
    //=========================================================================

    .selected-header {

        @media #{$wide-screen} {
            margin-bottom: $page-padding-y;
        }

        @media #{$not-wide-screen} {
            margin-top:    $page-padding-y;
            margin-bottom: calc(2 * $page-padding-y);
        }

        &::before, &::after {
            content:     '"';
            font-weight: normal;
        }
    }

    .button-tray.submission-controls {

        display:        flex;
        flex-direction: row;
        align-items:    center;
        gap:            $page-padding-y $page-padding-x;

        @media #{$narrow-screen} {
            flex-wrap:  wrap-reverse;
        }

        //=====================================================================
        // Components
        //=====================================================================

        .form-button {
            @media #{$wide-screen} {
                min-width: 5vw;
            }

            @media #{$medium-width} {
                min-width: 10vw;
            }

            @media #{$narrow-screen} {
                min-width: 20vw;
            }
        }

        .submission-counts {
            flex: 1 1 auto;
        }

        .form-button + .submission-counts,
        .submission-counts + .form-button {
            @media #{$wide-screen} {
                margin-left: 2rem;
            }
        }
    }

    .button-tray.auxiliary-buttons {

        display:     grid;
        align-items: center;
        gap:         $page-padding-y $page-padding-x;

        grid-template-columns: [button] minmax(5vw,auto) [panel] 1fr;

        //=====================================================================
        // Components
        //=====================================================================

        .panel {
            max-width:      unset;
            padding-top:    0.25rem;
            padding-bottom: 0.25rem;
            font-weight:    bold;
        }
    }

    .submission-controls + .auxiliary-buttons,
    .auxiliary-buttons + .submission-controls {
        margin-top: $page-padding-y;
    }

    .submission-status-grid {

        @include table.grid-table($max-columns: 1);

        // If true limit the list to a scrollable list that fits in the
        // viewport; otherwise, the entire list is displayed and scrolling is
        // delegated to the page itself.

        $limit-height: false;

        $bg-clear:  $bg-color;
        $bg-solid:  $rev-bg-color;

        $fg-clear:  $bg-clear;
        $fg-light:  $uva-text-gray;
        $fg-dark:   $fg-color;

        & {
            margin-top:     $page-padding-y;
            color:          $fg-clear;
            background:     $bg-clear;
            border:         0.25rem solid gray;
            border-radius:  0.25rem;

            @if $limit-height {
                max-height: 67vh;
                overflow:   auto;
                overscroll-behavior: contain;
            }

            grid-template-columns: 1fr;
        }

        @media #{$wide-screen} {
            gap:        0.75rem 1rem;
        }

        @media #{$not-wide-screen} {
            gap:        0.5rem;
        }

        td {
            z-index: $z-visible;
        }

        //=====================================================================
        // Components
        //=====================================================================

        $col-pad: 0.25rem;
        $row-pad: 0.25rem;

        // Status line for the submission of an individual manifest item.
        .submission-status {

            display:       grid;
            align-items:   start;
            width:         calc(100% - #{$col-pad * 4});
            padding:       $row-pad ($col-pad * 2);
            margin:        0;
            line-height:   1.375;
            overflow-x:    auto;
            color:         inherit;
            background:    inherit;
            border:        none;
            border-bottom: 1px solid gray;
            border-radius: 0;

            @media #{$wide-screen} {

                gap: 1rem;

                grid-template-columns:
                    [controls]      minmax(auto, 1rem)
                    [item-name]     minmax(auto, 33vw)
                    [data-status]   1fr
                    [file-status]   1fr
                    [upload-status] 1fr
                    [index-status]  1fr
                    [entry-status]  1fr;
            }

            @media #{$not-wide-screen} {

                gap: 0.5rem;

                grid-template-columns:
                    [controls]      minmax(auto, 0.75rem)
                    [item-name]     minmax(auto, 27.5vw)
                    [data-status]   1fr
                    [file-status]   1fr
                    [upload-status] 1fr
                    [index-status]  1fr
                    [entry-status]  1fr;
            }

            //=================================================================
            // Components
            //=================================================================

            > * {

                font-weight:    bold;

                @media #{$wide-screen} {
                    padding:    $col-pad;
                    margin:     $col-pad 0;
                }

                @media #{$not-wide-screen} {
                    padding:    $col-pad * 0.5;
                }
            }

            .controls {

                display:            flex;
                flex-direction:     column;
                width:              max-content;

                @media #{$not-wide-screen} {
                    padding-left:   0;
                }

                &:focus {
                    outline-offset: 0;
                }

                .control-group {

                    [type="checkbox"] {

                        @media #{$wide-screen} {
                            transform: scale(1.25);
                        }

                        @media #{$not-wide-screen} {
                            margin:    0.125rem;
                            transform: scale(1.375);
                        }
                    }

                    label {
                        @include sr-only;
                    }
                }
            }

            .item-name {

                white-space:     nowrap;
                overflow:        hidden;
                text-overflow:   ellipsis;
                color:           $fg-dark;
                background:      ghostwhite;

                &:focus {
                    outline-offset: 0;
                }
            }

            //.data-status,
            //.file-status,
            //.upload-status,
            //.index-status,
            //.entry-status,
            .status {

                display:         inline-flex;
                flex-direction:  row;
                align-items:     start;
                justify-content: space-between;
                position:        relative;
                gap:             $col-pad;
                color:           inherit;
                background:      inherit;
                overflow-x:      auto;
                overflow-y:      clip;

                @media #{$not-wide-screen} {
                    row-gap:     0;
                }

                //=============================================================
                // Elements
                //=============================================================

                // @see ManifestItemDecorator#submit_status_text
                .text {
                    width:       100%;
                    height:      100%;
                    color:       inherit;
                    flex:        1 1 100%;
                }

                .fix {
                    --fix-focus-color: var(--focus-color);
                }

                //=============================================================
                // Variations - color
                //=============================================================

                @mixin colors($fg, $bg) {
                    color:      $fg;
                    background: $bg;
                }

                @mixin outline($color: $bg-solid) {
                    box-shadow: inset 0 0 0.25rem 0 $color;
                }

                @mixin add-text-contrast {
                    .text {
                        @include text-contrast;
                    }
                }

                @mixin add-edit-contrast($color: white) {
                    .fix {
                        --fix-focus-color: #{$color};
                    }
                }

                @mixin neutral {
                    @include colors($fg-light, $bg-clear);
                    @include outline($uva-emergency-red);
                }

                @mixin started {
                    @include colors($fg-clear, $bg-solid);
                }

                @mixin stopped {
                    @include colors($fg-dark, $uva-accent-yellow);
                    @include outline($uva-emergency-red);
                    @include add-edit-contrast(darker($uva-accent-teal, 35%));
                }

                @mixin failure {
                    @include colors($fg-clear, $uva-accent-magenta);
                    @include outline;
                    @include add-edit-contrast;
                    @include add-text-contrast;
                }

                @mixin success {
                    @include colors($fg-clear, $white-on-green-bg);
                    @include outline;
                }

                &.not-started  { @include neutral; }
                &.active       { @include started; }
                &.busy         { @include started; }

                &.unsaved      { @include failure; }
                &.data-missing { @include stopped; }
                &.file-missing { @include stopped; }
                &.file-needed  { @include stopped; }
                &.blocked      { @include stopped; }

                &.failed       { @include failure; }
                &.succeeded    { @include success; }
                &.done         { @include success; }

                //=============================================================
                // Variations - special
                //=============================================================

                &.active::after {
                    content:    " ";
                    height:     100%;
                    box-shadow: 0 0 1.25rem 1.5rem $bg-clear;
                }
            }

            .status.unsaved ~ .status {
                opacity: 0.5;
            }
        }

        // The first status line contains column headers.
        .submission-status.head {

            position:   sticky;
            top:        0;
            font-size:  large;
            color:      $fg-clear;
            background: $bg-solid;
            z-index:    $z-raised;

            @media #{$not-wide-screen} {
                align-items: center;
            }

            //=================================================================
            // Components
            //=================================================================

            .controls {

                .control-group {
                    [type="checkbox"] {
                        box-shadow: 0 0 1px 1px white;
                    }
                }

                .text {
                    @include sr-only;
                }
            }

            .item-name {
                color:      inherit;
                background: inherit;
            }
        }

        // Subsequent status lines show the status for each manifest item.
        .submission-status:not(.head) {

            padding-top: 0;

            //=================================================================
            // Components
            //=================================================================

            .item-name {

                details {

                    &:focus {
                        outline-offset: 1px;
                    }

                    summary {
                        overflow:      hidden;
                        text-overflow: ellipsis;
                    }
                }

                details[open] {

                    summary {
                        @media #{$not-wide-screen} {
                            white-space: break-spaces;
                        }
                    }

                    .content {

                        display:         grid;
                        padding-top:     0.375rem;
                        margin-top:      0.375rem;
                        border-top:      1px solid black;

                        grid-template-columns: auto 1fr;

                        @media #{$wide-screen} {
                            gap:         0.25rem 1rem;
                            margin-left: 1rem;
                        }

                        @media #{$not-wide-screen} {
                            gap:         0.125rem 0.5rem;
                            margin-left: 0;
                        }

                        .label,
                        .value {
                            margin-bottom: 0;
                        }

                        .value {

                            font-weight:   normal;
                            overflow:      hidden;
                            text-overflow: ellipsis;

                            @media #{$not-wide-screen} {
                                white-space: break-spaces;
                            }
                        }
                    }
                }
            }

            //.data-status,
            //.file-status,
            //.upload-status,
            //.index-status,
            //.entry-status,
            .status {

                $status-pad-right: 0.375rem;
                $status-pad-left:  0.5rem;
                $status-indent:    0.875rem;

                @media #{$wide-screen} {

                    padding-right: $status-pad-right;
                    padding-left:  $status-pad-left + $status-indent;

                    @supports selector(:has) {
                        &:has(details.text:not(.hidden)) {
                            padding-left: $status-pad-left;
                        }
                    }

                    @supports not selector(:has) {
                        &.file-needed {
                            padding-left: $status-pad-left;
                        }
                    }
                }

                @media #{$not-wide-screen} {

                    flex-direction: column;

                    &.succeeded::after {
                        content:     $NBSP;
                        line-height: normal;
                    }
                }

                //=============================================================
                // Elements
                //=============================================================

                div.text:not(.hidden) {

                    @media #{$wide-screen} {

                        position: relative;

                        &::before,
                        &::after {
                            content:      $EN_DASH;
                            font-weight:  normal;
                        }
                        &::before {
                            position:     absolute;
                            left:         -$status-indent;
                        }
                        &::after {
                            padding-left: $status-pad-left * 0.5;
                        }
                    }
                }

                details.text:not(.hidden) {

                    &:focus {
                        outline-offset: 0;
                    }

                    &[open] {

                        .name {

                            overflow:           hidden;
                            text-overflow:      ellipsis;
                            border-top:         1px solid;

                            @media #{$wide-screen} {
                                margin-left:    $status-indent;
                            }
                        }
                    }
                }

                // Control for fixing a condition resulting in a given status.
                // @see ManifestItemDecorator#submit_status_link
                .fix {

                    @include button.basic;

                    & {
                        margin:         0;
                        font-size:      smaller;
                        font-weight:    normal;
                        text-align:     center;
                        color:          $fg-dark;
                        background:     $bg-clear;
                        flex:           1 1 auto;
                    }

                    @media #{$narrow-screen} {
                        position:       absolute;
                        top:            $col-pad;
                        right:          $col-pad;
                        padding:        1px 4px;
                    }

                    &:hover {
                        box-shadow:     none;
                    }

                    &:focus {
                        outline-offset: 1px;
                        outline-color:  var(--fix-focus-color);
                    }
                }
            }
        }

        //=====================================================================
        // Variations
        //=====================================================================

        // The "debug" class can be added from the console to verify the
        // expected behavior of focusable elements within the grid.
        &.debug {
            @include grid.debug-focusables;
        }
    }
}

//=============================================================================
// NOTE: based on .lookup-popup definitions in ./_entry.scss
//=============================================================================

// @see BaseDecorator::Submission#monitor_control
.modal-popup.monitor-popup {

    max-width:      calc(100% - 1.25rem);

    @media #{$wide-screen} {
        position:   fixed;
        top:        2.5vh;
        bottom:     2.5vh;
        left:       1.25vw;
        right:      6.25vw;
    }

    @media #{$medium-width} {
        position:   fixed;
        top:        2rem;
        bottom:     2rem;
        left:       2rem;
        right:      2rem;
    }

    @media #{$narrow-screen} {
        padding:    0;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .popup-controls {
        @media #{$narrow-screen} {
            padding: 0.5rem;
        }
    }

    // noinspection CssReplaceWithShorthandSafely
    .monitor-container {

        $item-gap:    0.5rem;
        $section-gap: $item-gap * 2;

        display:        flex;
        flex-direction: column;
        gap:            $section-gap;
        margin:         0;
        margin-top:     0.5rem;
        margin-left:    0.5rem;
        font-size:      medium;
        flex:           1 1 0;

        overscroll-behavior: contain;

        @media #{$not-wide-screen} {
            max-width:  inherit;
            overflow-x: auto;
        }

        //=====================================================================
        // Components
        //=====================================================================

        > * {
            max-width: inherit;
        }

        .monitor-heading {
            margin: 0;
            flex:   0 0 auto;
        }

        .monitor-status {

            display:         flex;
            flex-direction:  row;
            flex:            0 0 auto;

            @media #{$narrow-screen} {
                margin-left: 0.5rem;
            }

            > * {
                @media #{$narrow-screen} {
                    width: 100%;
                }
            }

            .notice {
                flex-basis: auto;
                min-height: 2rem;
            }

        }

        .monitor-output {

            display:  grid;
            overflow: auto;
            flex:     1 0 auto;

            overscroll-behavior:   contain;

            grid-template-columns: [success] 1fr [failure] 1fr;

            .success,
            .failure {
                display:        flex;
                flex-direction: column;
                flex:           1 1 auto;
            }

            h2 {
                margin:      0;
                flex:        0 0 auto;
            }

            .display {
                min-height:  15vh;
                line-height: 1.25;
                white-space: pre-wrap;
                flex:        1 0 auto;
            }
        }

        .monitor-log {

            display:        flex;
            flex-direction: column;
            gap:            1rem;
            margin-right:   0.5rem;
            flex:           1 1 100%;

            .pair {
                display:               grid;
                grid-template-columns: 10% 1fr;
                flex:                  1 1 auto;
            }

            .pair.results {
                flex-basis: 100%;
            }

            .label {
                font-weight: bold;
            }

            .value {
                resize: vertical;

                overscroll-behavior: contain;
            }
        }

        //=====================================================================
        // Variations
        //=====================================================================

        &.with-log {
            .monitor-output {
                margin-right: 0.5rem;
                flex:         1 1 50%;
            }
        }

        &:not(.with-log) {
            .monitor-log {
                display: none;
            }
        }
    }
}
