// app/assets/stylesheets/controllers/_member.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;
@use 'feature/model'    as *;

//=============================================================================
// Member index page
//=============================================================================

// Member metadata label/value pairs for index listings.
.member-list-item {

    @extend .model-list-item;

    //=========================================================================
    // Components
    //=========================================================================

    .value {
        &.field-Name {
            font-weight: bold;
        }
    }
}

// Zero or more .member-list-item elements.
.member-list {
    @extend .model-list;
}

//=============================================================================
// Member show page
//=============================================================================

// Member metadata values.
.member-details {
    @extend .model-details;
}

// Member preference settings.
.member-preferences {
    @extend .model-details;
}

// Member download history.
.member-history {

    display: block;
    margin:  $page-padding 0;

    .history-list {
        @extend .toggle-panel;
    }

    .history-item {

        @extend .model-details;

        padding-top: 1rem;
        border-top:  1px solid gray;

        &:last-of-type {
            padding-bottom: 1rem;
            border-bottom:  1px solid gray;
        }
    }
}

// Container for a .member-details and .member-preferences in a two-column
// format for wide screens.
.member-container {

    @extend .model-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .member-details {}

    .member-preferences {
        // Move the column up a bit so that the baseline of the heading matches
        // the baseline of the text on the left-hand side.
        @media #{$wide-screen} {
            margin-top: -0.5rem;
        }
    }
}

.member-container + .member-history {
    margin-top: 1rem;
}

// Special arrangement for "app/views/member/_details.html.erb" to give the
// "details column" a header that matches the "preferences column".
.account.list-heading {

    $member-details-gap: 3rem;

    margin-top:    4rem;
    margin-bottom: -$member-details-gap;

    & + .member-container .member-details {
        margin-top: $member-details-gap;
    }
}
