// app/assets/stylesheets/controllers/_member.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Member index page
//=============================================================================

// Member metadata label/value pairs for index listings.
.member-list-entry {

    @extend .item-list-entry;

    //=========================================================================
    // Components
    //=========================================================================

    .value {
        &.field-Name {
            font-weight: bold;
        }
    }
}

// Zero or more .member-list-entry elements.
.member-list {
    @extend .item-list;
}

//=============================================================================
// Member show page
//=============================================================================

// Member metadata values.
.member-details {
    @extend .item-details;
}

// Member preference settings.
.member-preferences {
    @extend .item-details;
}

// Member download history.
.member-history {

    display: block;

    .history-entry {

        @extend .item-details;

        padding-top: 1rem;
        border-top:  1px solid gray;

        &:last-of-type {
            padding-bottom: 1rem;
            border-bottom:  1px solid gray;
        }
    }
}

// Container for a .member-details and .member-preferences in a two-column
// format for wide screens.
//
// noinspection SassScssResolvedByNameOnly
.member-container {

    @extend .item-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .member-details {}

    .member-preferences {
        // Move the column up a bit so that the baseline of the heading matches
        // the baseline of the text on the left-hand side.
        @media #{$wide-screen} {
            margin-top: -0.5rem;
        }
    }

    .member-history {

        margin-top: $page-padding;

        @media #{$browser-ie} {
            margin-top: $ie-page-padding;
        }
    }
}
