// app/assets/stylesheets/controllers/_periodical.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Periodical index page
//=============================================================================

.periodical-list {
    @extend .results-list;
}

// noinspection SassScssResolvedByNameOnly
.periodical-list-entry {

    @extend .results-entry;

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {

        &.field-Title {

            font-weight: bold;

            @media #{$narrow-screen} {
                grid-column: 1 / -1;
            }

            a:not(:hover) {
                text-decoration: none;
            }
        }

        &.field-None {
            margin-bottom: 0;
        }
    }
}

//=============================================================================
// Periodical show page
//=============================================================================

.periodical-details {
    @extend .results-entry;
}
