// app/assets/stylesheets/controllers/_periodical.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Periodical index page
//=============================================================================

// Periodical metadata label/value pairs for index listings.
//
// noinspection SassScssResolvedByNameOnly
.periodical-list-entry {

    @extend .index-entry;

    //=========================================================================
    // Components
    //=========================================================================

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {

        &.field-Title {

            font-weight: bold;

            @media #{$narrow-screen} {
                grid-column: 1 / -1;
            }

            a:not(:hover) {
                text-decoration: none;
            }
        }

        &.field-None {
            margin-bottom: 0;
        }
    }
}

// Zero or more .periodical-list-entry elements.
.periodical-list {
    @extend .index-list;
}

//=============================================================================
// Periodical show page
//=============================================================================

// Periodical metadata values.
.periodical-details {
    @extend .details-entry;
}

// Container for a .periodical-details and .edition-list in a two-column format
// for wide screens.
//
// noinspection SassScssResolvedByNameOnly
.periodical-container {

    @extend .details-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .periodical-details {}

    .edition-list {
        // Move the column up a bit so that the baseline of the heading matches
        // the baseline of the text on the left-hand side.
        @media #{$wide-screen} {
            margin-top: -0.75rem;
        }
    }
}
