// app/assets/stylesheets/controllers/_periodical.scss

@use 'shared/variables'      as *;
@use 'shared/controls/grids' as grid;

@use 'feature/model'         as model-classes;

//=============================================================================
// Periodical index page
//=============================================================================

// Periodical metadata label/value pairs for index listings.
// @see ModelHelper::List#model_list_item
.periodical-list-item {

    @extend .model-list-item;

    //=========================================================================
    // Components
    //=========================================================================

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {
        &.field-Title {

            font-weight: bold;

            @media #{$narrow-screen} {
                @include grid.column-span;
            }

            a:not(:hover) {
                text-decoration: none;
            }
        }
    }
}

// Zero or more .periodical-list-item elements.
.periodical-list {
    @extend .model-list;
}

//=============================================================================
// Periodical show page
//=============================================================================

// Periodical metadata values.
// @see ModelHelper::List#model_details
.periodical-details {
    @extend .model-details;
}

// Container for a .periodical-details and .edition-list in a two-column format
// for wide screens.
.periodical-container {

    @extend .model-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .periodical-details {}

    // @see file:app/views/edition/index.html.erb
    .edition-list {

        // Move the column up a bit so that the baseline of the heading matches
        // the baseline of the text on the left-hand side.
        @media #{$wide-screen} {
            margin-top: -0.75rem;
        }

        .edition-list-item {

            .value.field-Formats {

                display:         inline-flex;
                flex-direction:  row;
                justify-content: space-between;

                @media #{$narrow-screen} {

                    flex-direction: column;

                    .artifact {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}
