// app/assets/stylesheets/controllers/_reading_list.scss

@use 'shared/variables' as *;

@use 'feature/model'    as model-classes;

//=============================================================================
// Reading List index page
//=============================================================================

// Reading List metadata label/value pairs for index listings.
// @see ReadingListDecorator#list_item
.reading_list-list-item {
    @extend .model-list-item;
}

// Zero or more .reading_list-list-item elements.
.reading_list-list {
    @extend .model-list;
}

//=============================================================================
// Reading List show page
//=============================================================================

// Reading List metadata values.
// @see ReadingListDecorator#details
.reading_list-details {
    @extend .model-details;
}

// Listing of catalog titles associated with the Reading List.
.reading_list-titles {

    flex:          1 1 50%;
    align-content: flex-start;

    //=========================================================================
    // Components
    //=========================================================================

    > :first-child {
        margin-top: 0;
    }

    .title-list {

        // NOTE: If ReadingListDecorator#FIND_THUMBNAIL is *false* then
        //  uncomment the following to address the lack of a thumbnail column.
        // @include list.columns-2;

        margin: 0;
    }
}

// Container for a .reading_list-details and .title-list in a two-column format
// for wide screens.
.reading_list-container {

    @extend .model-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .reading_list-details {}

    // Listing of catalog titles associated with the Reading List.
    // @see file:app/views/title/index.html.erb
    .title-list {

        // NOTE: If ReadingListDecorator#FIND_THUMBNAIL is *false* then
        //  uncomment the following to address the lack of a thumbnail column.
        // @include list.columns-2;

        // Move the column up a bit so that the baseline of the heading matches
        // the baseline of the text on the left-hand side.
        @media #{$wide-screen} {
            margin-top: -0.5rem;
        }
    }
}
