// app/assets/stylesheets/controllers/_search.scss

// @use 'feature/model'; // TODO: SASS 4.0

//=============================================================================
// Unified Search pages
//=============================================================================

// Use to display text as a substitute for a logo.
//
// noinspection SassScssResolvedByNameOnly
%text-logo {
    padding:       1px 0.5rem;
    font-size:     medium;
    font-weight:   normal;
    color:         white;
    border:        1px solid transparent;
    border-radius: 0.5rem;
    background:    $panel-accent;
}

// @see LogoHelper#repository_source_logo
//
// noinspection SassScssResolvedByNameOnly
.repository {

    height:     3rem;
    max-height: 3rem;
    max-width:  100%;

    @media #{$wide-screen} {
        height:     4.5rem;
        max-height: 4.5rem;
    }

    &.name {

        display:         flex;
        flex-direction:  column;
        justify-content: center;

        div {
            @extend %text-logo;
        }
    }
}

// Label/value pairs appropriate for either .search-list-entry or .file-info.
//
// noinspection SassScssResolvedByNameOnly
.search-label-value-pairs {

    $row-separation: 0.75rem;

    @extend .label-value-pairs;
    @include grid-row-gap($row-separation);

    @media #{$narrow-screen} {
        @include grid-row-gap(1rem);
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label,
    .value {

        margin-bottom: 0;

        @media #{$browser-ie} {
            margin-bottom: $row-separation; // Simulates row-gap.
        }
    }

    .label {

        @media #{$narrow-screen} {
            margin-bottom: -0.75rem;
        }

        &.field-Title {
            margin: 0.67rem 0 auto;
        }
    }

    .value {

        // noinspection CssBrowserCompatibilityForProperties
        &.field-Title {

            display:     flex;
            flex-flow:   wrap;
            margin:      0 0 auto;
            font-size:   larger;
            font-weight: bold;
            gap:         $flex-gap-y $flex-gap-x;

            @media #{$wide-screen} {
                max-width:       75%;
                justify-content: space-between;
            }

            @media #{$narrow-screen} {
                @include grid-column-span;
            }

            @media #{$browser-ie} {
                margin-bottom: $row-separation;
                column-gap:    $ie-flex-gap-x;
            }

            a:not(:hover) {
                text-decoration: none;
            }

            // @see SearchHelper#title_and_source
            .title {
                flex:    0.33 1 auto;
                margin:  0.5rem 0 auto;
            }

            // @see SearchHelper#title_and_source_logo
            .repository {

                flex:       0 0 auto;
                margin:     auto 0;
                height:     2rem;
                max-height: 2rem;

                @media #{$wide-screen} {
                    height:     2.5rem;
                    max-height: 2.5rem;
                }
            }
        }

        // NOTE: Temporary adjustment to make the template record more readable
        &.field-EmmaFormatFeature,
        &.field-AccessibilityFeatures,
        &.field-AccessibilityControls,
        &.field-AccessibilityHazards,
        &.field-AccessMode,
        &.field-AccessModeSufficient,
        &.field-AccessibilityApi {
            margin-bottom: 1.5rem;
        }

        &.array {

            @include grid(minmax(25%, 1fr), 4);
            @include grid-row-gap($row-separation);

            // Array element properties
            $element-border:    1px;
            $element-x-padding: 5px;
            $element-y-padding: 1px;
            $element-x-margin:  -$element-x-padding - $element-border;
            $element-y-margin:  -$element-y-padding - $element-border;

            // Make elements flush with the left edge of the array container.
            margin-left: $element-x-padding;

            @media #{$wide-screen} {
                max-width: 75%;
            }

            @media #{$medium-width} {

                @include grid(minmax(33%, 1fr), 3);

                @media #{$browser-ie} {
                    @include grid(1fr, 3);
                }
            }

            @media #{$narrow-screen} {

                @include grid(1fr);

                margin-left: 0;
            }

            // noinspection CssReplaceWithShorthandSafely
            > * {
                display:             block;
                margin:              $element-y-margin $element-x-margin;
                margin-right:        1rem;
                padding:             $element-y-padding $element-x-padding;
                background:          ghostwhite;
                border:              $element-border solid gray;
                border-right-color:  black;
                border-bottom-color: black;
                border-radius:       $element-x-padding / 2;

                @media #{$wide-screen} {
                    word-break: keep-all;
                    word-wrap:  break-word;
                }

                @media #{$narrow-screen} {
                    margin-left:  0;
                    margin-right: 0;
                }
            }
        }
    }
}

// File format information section.
//
// noinspection SassScssResolvedByNameOnly
.file-info {

    @extend .item-list-entry;
    @extend .search-label-value-pairs;

    @include grid(max-content 1fr);
    @include grid-gap(1rem);

    @media #{$not-wide-screen} {
        @include grid(1fr);
    }

    margin-top: 1rem;

    //=========================================================================
    // Components
    //=========================================================================

    .label {

        // noinspection CssBrowserCompatibilityForProperties
        grid-column-start: 1;
        -ms-grid-column:   1;

        &.logo {

            @extend %invisible;

            @media #{$not-wide-screen} {
                display: none;
            }
        }

        &.field-Title {
            max-width: unset;
            font-size: unset;
        }
    }

    .value {

        &.logo {
            img {
                max-height: 7rem;
                border:     1px solid lightgray;
            }
        }

        &.array {

            max-width: unset;

            @media #{$medium-width} {
                grid-template-columns: minmax(max-content, 50%);
            }

            @media #{$browser-ie} {
                display:   flex;
                flex-wrap: wrap;
            }

            > * {

                word-break: normal;

                @media #{$medium-width} {
                    margin-left:  0;
                }
            }
        }

        ul {

            margin:     0;
            padding:    0;
            list-style: square;
            list-style: disclosure-closed; // NOTE: Firefox only

            @media #{$not-wide-screen} {
                list-style-position: inside;
            }
        }
    }
}

//=============================================================================
// Metadata record search index page
//=============================================================================

// Metadata record label/value pairs for index listings.
//
// noinspection SassScssResolvedByNameOnly
.search-list-entry {

    @extend .item-list-entry;
    @extend .search-label-value-pairs;

    //=========================================================================
    // Components
    //=========================================================================

    > .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    > .value {
        &.field-Format {
            font-weight: bold;
        }
    }

    //=========================================================================
    // Other
    //=========================================================================

    // File format information section label.
    .file-info-label {
        display:       block;
        margin-top:    1.5rem;
        margin-left:   0.75rem;
        margin-bottom: -0.5rem;
        font-weight:   bold;
    }

    // File format information section.
    .file-info {
        padding:       0.75rem;
        border:        2px solid gray;
        border-radius: 1rem;
        box-shadow:    inset 0 0 0.75rem -0.25rem gray;
    }
}

// Zero or more .search-list-entry elements.
//
// noinspection SassScssResolvedByNameOnly
.search-list {

    @extend .item-list;

    @media #{$narrow-screen} {
        @include grid-columns(1fr);
    }

    //=========================================================================
    // Components
    //=========================================================================

    .number {

        margin-top:    0;
        margin-bottom: $results-entry-gap-y;
        padding-left:  0.25rem;
        padding-right: 0.5rem;
        text-align:    right;
        font-size:     large;
        font-weight:   bold;

        @media #{$not-narrow-screen} {
            border-right:     1px solid $uva-accent-blue;
            background-color: lighter($uva-accent-blue, 97.5%);
        }

        @media #{$narrow-screen} {
            position:         sticky;
            top:              0;
            padding:          0 0 0.25rem;
            text-align:       center;
            font-size:        x-large;
            background-color: white;
        }

        > * {

            position: sticky;
            top:      3%;
            margin:   0.5rem 0 0;
            padding:  0;

            @media #{$narrow-screen} {
                border-bottom:    1px solid $uva-accent-blue;
                background-color: lighter($uva-accent-blue, 97.5%);
            }
        }

        .value {

            margin-top: $gap-y;

            @media #{$browser-ie} {
                margin-top: -($ie-gap-y / 4);
            }

            @media #{$medium-width} {

                margin-top: calc(#{$gap-y} / 2);

                @media #{$browser-ie} {
                    margin-top: ($ie-gap-y / 2);
                }
            }

            @media #{$narrow-screen} {
                margin-top: 0;
            }
        }
    }

    .search-list-entry {

        @media #{$wide-screen} {

            border-right: 1px solid $uva-accent-blue;

            &.empty {
                border-right: none;
            }
        }

        // NOTE: This is tuned to account for the varying types of fields
        // across the records displayed in search.  Without some adjustment,
        // the grid of each record aligns only to the widest label that it
        // happens to be displaying.
        @media #{$wide-screen} {
            @include grid-columns([label] minmax(auto, 0.1375fr) [value] 1fr);
        }
        @media #{$medium-width} {
            @include grid-columns([label] minmax(auto, 0.25fr) [value] 1fr);
        }
    }

    .number,
    .search-list-entry {

        @media #{$not-narrow-screen} {
            margin-bottom: calc(2 * #{$results-entry-gap-y});
        }

        @media #{$medium-width} {

            margin-top: calc(2 * #{$page-padding});

            @media #{$browser-ie} {
                margin-top: (2 * $ie-page-padding);
            }
        }

        @media #{$narrow-screen} {
            @include grid-column-span;
        }
    }
}

//=============================================================================
// Metadata record show page
//=============================================================================

// Metadata record values.
.search-details {
    @extend .item-details;
}

// Container for a .search-details.
.search-container {

    @extend .item-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .search-details {}
}
