// app/assets/stylesheets/controllers/_search.scss

@use 'shared/variables'      as *;
@use 'shared/common'         as *;
@use 'shared/functions'      as *;
@use 'shared/mixins'         as *;
@use 'shared/controls/grids' as *;
@use 'feature/model'         as *;

//=============================================================================
// Unified Search pages
//=============================================================================

$row-separation:        0.75rem;
$row-separation-narrow: 1rem;
$value-right-margin:    calc(2 * #{$flex-gap-x});

// The "top" values for sticky positioning -- the "narrow" version is much
// larger because it is actually applied only to the the .field-Title element,
// which needs to stick lower in order to keep from scrolling over the already-
// stuck item number.  Also, this isn't using "vh" units because this seemed to
// be inconsistent between emulations of, e.g., iPhone 5 and Galaxy Note 9.

$sticky-top-wide:       2vh;
$sticky-top-medium:     1.5vh;
//$sticky-top-narrow:   7.5vh; // Don't scroll over sticky item number.
$sticky-top-narrow:     3.125rem;

// Use to display text as a substitute for a logo.
%text-logo {
    padding:       1px 0.5rem;
    font-size:     medium;
    font-weight:   normal;
    color:         white;
    background:    $panel-accent;
    border:        1px solid transparent;
    border-radius: 0.5rem;
}

// @see LogoHelper#repository_source_logo
.repository {

    &.name {

        display:         flex;
        flex-direction:  column;
        justify-content: center;

        div {
            @extend %text-logo;
        }
    }

    img {

        height:     3rem;
        max-height: 3rem;
        max-width:  100%;
        background: white;

        @media #{$wide-screen} {
            height:     4.5rem;
            max-height: 4.5rem;
        }
    }
}

// Label/value pairs appropriate for either .search-list-item or .file-info.
.search-label-value-pairs {

    @extend .label-value-pairs;

    @include grid-row-gap($row-separation);

    @media #{$narrow-screen} {
        @include grid-row-gap($row-separation-narrow);
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label,
    .value {
        margin-bottom: 0;
    }

    .label {

        @media #{$narrow-screen} {
            margin-bottom: -0.75rem;
        }

        &.field-Title {
            margin: 0.67rem 0 auto;
        }

        &.array {
            @media #{$not-narrow-screen} {
                margin-top: 0.25rem;
            }
        }
    }

    .value {

        @media #{$wide-screen} {
            margin-right: $value-right-margin;
        }

        &.field-Title {

            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            gap:             $flex-gap-y $flex-gap-x;
            margin:          0 0 auto;
            font-size:       x-large;
            font-weight:     bold;

            @media #{$narrow-screen} {

                @include grid-column-span;

                flex-wrap: wrap-reverse;
            }

            a:not(:hover) {
                text-decoration: none;
            }

            // @see SearchHelper#title_and_source
            .title {
                flex:   0.33 1 auto;
                margin: 0.5rem 0 auto;
            }

            // @see SearchHelper#title_and_source_logo
            .repository {

                flex: 0 0 auto;

                img {
                    max-height: 3rem;
                }
            }
        }

        &.field-Description {
            font-size: large;
        }

        &.textbox {
            box-shadow: 0 0 0 0.25rem white, 0 0 0 0.375rem lightgray;
        }

        &.array {

            display: grid;

            grid-template-columns: repeat(6, minmax(16.67%, 0.1667fr));

            @include grid-row-gap($row-separation);

            // Array element properties
            $element-border:    1px;
            $element-x-padding: 5px;
            $element-y-padding: 1px;
            $element-x-margin:  -$element-x-padding - $element-border;
            $element-y-margin:  -$element-y-padding - $element-border;

            // Make elements flush with the left edge of the array container.
            margin-left:   $element-x-padding;
            margin-top:    0.25rem;
            margin-bottom: 0.25rem;

            @media #{$medium-width} {
                grid-template-columns: repeat(3, minmax(33%, 1fr));
            }

            @media #{$narrow-screen} {
                margin-left:           0;
                grid-template-columns: 1fr;
            }

            > * {

                @extend %control-shadow;

                display:             block;
                padding:             $element-y-padding $element-x-padding;
                background:          ghostwhite;
                border:              $element-border solid gray;
                border-right-color:  black;
                border-bottom-color: black;
                border-radius:       $element-x-padding / 2;
                cursor:              text;

                // noinspection CssReplaceWithShorthandSafely
                @media #{$not-narrow-screen} {
                    margin:          $element-y-margin $element-x-margin;
                    margin-right:    1rem;
                }

                @media #{$wide-screen} {
                    word-break:      keep-all;
                    word-wrap:       break-word;
                }

                @media #{$narrow-screen} {
                    margin:          $element-y-margin 0;
                }
            }
        }
    }
}

// File format information section.
.file-info {

    @extend .model-list-item;
    @extend .search-label-value-pairs;

    display:    grid;
    margin-top: 1rem;

    grid-template-columns: max-content 1fr;
    gap:                   1rem;

    @media #{$not-wide-screen} {
        grid-template-columns: 1fr;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label {

        grid-column-start: 1;

        &.logo {

            @extend %invisible;

            @media #{$not-wide-screen} {
                display: none;
            }
        }

        &.field-Title {
            max-width: unset;
            font-size: unset;
        }
    }

    .value {

        &.logo {
            img {
                max-height: 7rem;
                border:     1px solid lightgray;
            }
        }

        &.array {

            max-width: unset;

            @media #{$medium-width} {
                grid-template-columns: minmax(max-content, 50%);
            }

            > * {

                word-break: normal;

                @media #{$medium-width} {
                    margin-left: 0;
                }
            }
        }

        ul {

            margin:     0;
            padding:    0;
            list-style: square;
            list-style: disclosure-closed; // NOTE: Firefox only

            @media #{$not-wide-screen} {
                list-style-position: inside;
            }
        }
    }
}

//=============================================================================
// Metadata record search index page
//=============================================================================

// Metadata record label/value pairs for index listings.
.search-list-item {

    @extend .model-list-item;
    @extend .search-label-value-pairs;

    // If this item is *false* then the label for the title field is displayed
    // like other metadata labels.  If it is *true* then the label is not
    // visible and the title expands across all columns.

    $title-spans-entry: true;

    //=========================================================================
    // Components
    //=========================================================================

    > .label {

        &.field-Title {

            @if $title-spans-entry {

                @include screen-reader-only;

                position:       unset !important;

            } @else {

                position:	    sticky;
                top:		    2vh;
                z-index:        $z-raised;
                display:	    flex;
                flex-direction: row;
                align-items:	flex-start;
                margin:		    0;
                padding-top:    1.25rem;
                background:	    white;
                box-shadow:
                    0.5rem  -0.5rem  0       0.5rem white,
                    0.25rem -0.25rem 0.75rem 0.5rem white;
            }
        }

        // Field labels with help icons:
        &.field-RetrievalLink {
            display:        flex;
            flex-direction: row;
            align-items:    center;
        }

        .help-popup .control.icon {
            margin-left: 0.375rem;
            padding:     0.25rem 0.3125rem;
            font-size:   small;
        }
    }

    > .value {

        &.field-Title {

            position:      sticky;
            top:           2vh;
            z-index:       $z-raised;
            align-items:   flex-start;
            margin:        0;
            font-size:     x-large;
            font-weight:   bold;
            background:	   white;
            border-bottom: 1px solid darkgray;

            @if $title-spans-entry {
                @include grid-column-span;
            }

            @media #{$wide-screen} {
                top:        $sticky-top-wide;
                box-shadow:
                     0.50rem -2.00rem  1.00rem  2.00rem  white,
                     0        0        0.25rem  0.50rem  white;
            }

            @media #{$medium-width} {
                top:        $sticky-top-medium;
                column-gap: calc(3 * #{$flex-gap-x});
                box-shadow:
                     0       -1.00rem  0        0.50rem  white,
                     0        0        0.25rem  0.25rem  white;
            }

            @media #{$narrow-screen} {
                top:            $sticky-top-narrow;
                padding-bottom: 0.5rem;
                border-color:   black;
                box-shadow:
                     0       -0.50rem  0        0.25rem  white,
                     0        0.25rem  0.25rem  0        white;
            }

            // @see SearchHelper#title_and_source
            .title {

                margin: 0;
                flex:   1 1 100%;

                @media #{$wide-screen} {
                    height:         100%;
                    padding-bottom: 1rem;
                    font-size:      larger;
                }

                @media #{$medium-width} {
                    height:         100%;
                    padding-bottom: 0.75rem;
                    margin-right:   $value-right-margin;
                }

                /**
                 * NOTE: Height is limited to avoid edge-case titles taking up
                 *  a large portion of the screen -- using "em" units in order
                 *  to relate to the element's own font.
                 *
                 * Most titles can be shown in 3 lines or less; a little extra
                 * height is given so that if the title needs to be scrolled,
                 * the fourth line is partially displayed but clipped.
                 */
                @media #{$narrow-screen} {
                    max-height:     4em;
                    margin-top:     0.5rem;
                    padding-right:  $scroll-easement;
                    overflow-y:     auto;
                }
            }

            // @see SearchHelper#title_and_source_logo
            .repository {

                display:         flex;
                justify-content: flex-end;

                @media #{$wide-screen} {
                    padding-bottom: 1rem;
                    flex-basis:     15%;
                }

                @media #{$medium-width} {
                    margin-left:     $value-right-margin;
                    padding-bottom:  0.75rem;
                    flex-basis:      20%;
                }

                @media #{$narrow-screen} {
                    justify-content: flex-start;
                    margin-top:      -0.5rem;
                    flex-basis:      66%;
                }

                img {

                    height:     auto;
                    padding:    0.5rem 0.75rem;
                    border:     1px solid lightgray;
                    box-shadow: 2px 2px 6px 0 lightgray;

                    @media #{$not-wide-screen} {
                        max-height: 2.5rem;
                    }
                }
            }

            // Controls for moving up and down through the list.
            // @see "SearchHelper#prev_next_controls"
            .prev-next {

                display:        flex;
                flex-direction: column;
                align-items:    center;
                margin:         0;
                flex:           0 0 auto;

                @media #{$wide-screen} {
                    margin-left:    $flex-gap-x;
                    padding-top:    0.75rem;
                }

                @media #{$medium-width} {
                    margin-left:    $flex-gap-x;
                    padding-top:    0.5rem;
                }

                @media #{$narrow-screen} {
                    flex-direction: row;
                    margin-top:     -0.5rem;
                    margin-bottom:  auto;
                    line-height:    1.5;
                }

                .prev,
                .next {

                    @extend %button-hover;

                    min-width:     unset;
                    margin:        0;
                    border-radius: 50%;

                    &:focus {
                        text-decoration: none;
                        outline-offset:  0;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    &.forbidden {

                        color:  blue;
                        cursor: default;

                        &:focus {
                            @extend %focus;
                        }
                    }

                    .symbol {

                        display:    block;
                        width:      1.25em; // em not rem
                        text-align: center;

                        @media #{$narrow-screen} {
                            width:  1.5em; // em not rem
                        }
                    }
                }

                .prev {
                    @media #{$not-narrow-screen} {
                        margin-top: -0.5rem;
                    }
                }

                .next {
                    @media #{$not-narrow-screen} {
                        margin-top: 0.25rem;
                    }
                    @media #{$narrow-screen} {
                        margin-left: 0.25rem;
                    }
                }
            }
        }

        &.field-Format {
            font-weight: bold;
        }

        &.field-Description {
            max-height: 20vh;
            overflow-y: auto;
        }

        &.field-RetrievalLink {
            @media #{$narrow-screen} {
                margin-top:    0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    //=========================================================================
    // Other
    //=========================================================================

    .invalid {
        color:  $error-fg;
        cursor: help;
    }

    // File format information section label.
    .file-info-label {
        display:       block;
        margin-top:    1.5rem;
        margin-left:   0.75rem;
        margin-bottom: -0.5rem;
        font-weight:   bold;
    }

    // File format information section.
    .file-info {
        padding:       0.75rem;
        border:        2px solid gray;
        border-radius: 1rem;
        box-shadow:    inset 0 0 0.75rem -0.25rem gray;
    }
}

// Zero or more .search-list-item elements.
.search-list {

    @extend .model-list;

    @media #{$narrow-screen} {
        grid-template-columns: 1fr;
    }

    //=========================================================================
    // Components
    //=========================================================================

    $item-number-bg:     lighter($uva-accent-blue, 97.5%);
    $item-number-border: $uva-accent-blue;

    .pagination-top {
        // TODO: ???
    }

    .number {

        margin-top:  0;
        font-size:   large;
        font-weight: bold;

        @media #{$not-narrow-screen} {
            margin-bottom:  calc(2 * #{$results-entry-gap-y});
            padding-left:   0.25rem;
            padding-right:  0.5rem;
            text-align:     right;
            background:     $item-number-bg;
            border:         1px solid $item-number-border;
        }

        @media #{$wide-screen} {
            padding-bottom: 1.75rem;
        }

        @media #{$medium-width} {
            margin-top:     calc(2 * #{$results-entry-gap-y});
            padding-bottom: calc(2 * #{$results-entry-gap-y});
        }

        @media #{$narrow-screen} {

            @include grid-column-span;

            position:       sticky;
            top:            0;
            margin-bottom:  0;
            padding:        0;
            text-align:     center;
            background:     white;
            box-shadow:     0 0 0 0.75rem white;
        }

        .container {

            @media #{$wide-screen} {
                top:            $sticky-top-wide;
                margin-top:     0.625rem;
            }

            @media #{$medium-width} {
                top:            $sticky-top-medium;
                margin-top:     0.75rem;
            }

            @media #{$narrow-screen} {
                top:            0;
                flex-direction: row;
            }

            .value {

                margin: 0;

                @media #{$wide-screen} {
                    padding-top:   0.25rem;
                }

                @media #{$medium-width} {
                    padding-top:   0.125rem;
                }

                @media #{$narrow-screen} {
                    height:        1.75rem;
                    padding-top:   0.125rem;
                    margin-bottom: $gap-y;
                    background:    $item-number-bg;
                    border-bottom: 1px solid $item-number-border;
                    flex:          1 0 auto;
                }
            }

            .icon-tray {


                @media #{$not-narrow-screen} {
                    margin-top:     1rem;
                    margin-left:    0;
                    margin-right:   -$icon-pad;
                    padding-top:    $icon-pad / 2;
                    padding-bottom: $icon-pad / 2;
                    box-shadow:     2px 2px 1px 1px lightgray;
                }

                @media #{$narrow-screen} {
                    position:       absolute;
                    top:            0.125rem;
                    right:          0;
                    flex-direction: row;
                    margin:         0;
                    padding:        0 ($icon-pad / 2);
                }
            }

            .icon {
                @media #{$narrow-screen} {

                    margin: 0;

                    & + .icon {
                        margin-left: 0.25rem;
                    }
                }
            }
        }
    }

    /**
     * NOTE: This is tuned to account for the varying types of fields across
     *  the records displayed in search.  Without some adjustment, the grid of
     *  each record aligns only to the widest label that it happens to be
     *  displaying.
     */
    .search-list-item {

        @media #{$not-narrow-screen} {
            margin-bottom:         calc(2 * #{$results-entry-gap-y});
            padding-bottom:        0.5rem;
        }

        @media #{$wide-screen} {
            grid-template-columns: [label] minmax(auto, 0.1375fr) [value] 1fr;
        }

        @media #{$medium-width} {
            margin-top:            calc(2 * #{$results-entry-gap-y});
            grid-template-columns: [label] minmax(auto, 0.25fr) [value] 1fr;
        }

        @media #{$narrow-screen} {
            @include grid-column-span;
        }
    }
}

//=============================================================================
// Metadata record show page
//=============================================================================

// Metadata record values.
.search-details {
    @extend .model-details;
}

// Container for a .search-details.
.search-container {

    @extend .model-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .search-details {}
}

//=============================================================================
// New styles
//=============================================================================

// Additional class along with "search-index", "search", and "index".
body.new-style,
body.dev-style,
body.grid-style,
body.compact-style,
body.aggregate-style {

    $narrow-left-pad:          0.25rem;
    $narrow-logo-height:       2rem;
    $narrow-item-separation:   1.5rem;

    $wide-title-open-pad:      1rem;
    $medium-title-open-pad:    0.5rem;

    // Variant values for Firefox:
    $ff-wide-title-open-pad:   0.75rem;
    $ff-medium-title-open-pad: 0.25rem;

    /**
     * In order to have the page title, pagination controls, and data analysis
     * controls together, h1.heading and div.pagination-top are moved inside of
     * this element which is created dynamically in search.js.
     */
    .heading-bar {

        display: grid;
        grid-template-columns: auto 1fr;

        @media #{$medium-width} {
            margin-bottom: calc(2 * #{$results-entry-gap-y});
        }

        @media #{$narrow-screen} {
            grid-template-columns: 1fr;
        }

        // Moved from top of .search-list
        .pagination-top {

            margin-bottom:  0;
            flex-direction: row-reverse;
            column-gap:     1rem;
            row-gap:        0.5rem;
            grid-column:    unset;

            @media #{$narrow-screen} {
                row-gap:         0.25rem;
                justify-content: center;
            }

            .counts {

                flex-direction: row-reverse;
                column-gap:     1rem;

                @media #{$medium-width} {
                    flex-basis: 100%;
                }

                @media #{$narrow-screen} {
                    margin:          0.5rem 0;
                    flex-direction:  row;
                    column-gap:      0.5rem;
                    justify-content: center;
                    align-items:     baseline;
                    flex:            1 1 auto;
                }
            }
        }
    }

    .search-list {

        @media #{$narrow-screen} {
            margin: calc(2 * #{$results-entry-gap-y}) 0;
        }

        .number {

            position:   relative;
            margin:     auto 0;
            padding:    0;
            border:     none;
            box-shadow: none;
            background: none;

            @media #{$medium-width} {
                padding-bottom: 0.5rem;
            }

            @media #{$narrow-screen} {
                margin-top:      0;
                grid-column-end: 1;
                z-index:         $z-controls;
            }

            //=================================================================
            // Special handling for the item toggle.
            //=================================================================

            .container {

                @media #{$not-narrow-screen} {
                    display: none;
                }

                .value {
                    @include screen-reader-only;
                }

                .control {
                    margin-top: 1rem;
                }
            }

            > .control {
                @media #{$narrow-screen} {
                    display: none;
                }
            }

            //=================================================================
            // When the associated list item is open.
            //=================================================================

            &.open {

                @media #{$wide-screen} {
                    $excess:    3.5rem;
                    height:     calc(100% - #{$excess});
                    margin-top: 1.75rem;
                }

                @media #{$medium-width} {
                    $excess:    2.5rem;
                    height:     calc(100% - #{$excess});
                    margin-top: 1.25rem;
                }

                @media #{$narrow-screen} {
                    $excess:    $narrow-logo-height + $narrow-item-separation;
                    height:     calc(100% - #{$excess});
                }

                .control {
                    @media #{$wide-screen} {
                        position: sticky;
                        top:      5vh;
                    }
                    @media #{$medium-width} {
                        position: sticky;
                        top:      2vh;
                    }
                }
            }
        }

        // Item "closed" by default; click to toggle "open".
        .search-list-item {

            min-width: 100%;
            margin:    0;

            @media #{$narrow-screen} {
                width:             92.5vw;
                margin-left:       -(2rem + $narrow-left-pad);
                margin-right:      (2rem + $narrow-left-pad);
                margin-bottom:     $narrow-item-separation;
                grid-column-start: 2;
            }

            > .value.field-Title {

                max-width:  100%;
                box-shadow: none;
                align-self: baseline;

                @media #{$not-narrow-screen} {
                    border: none;
                }

                > * {
                    margin:     0;
                    padding:    0;
                    align-self: center;
                }

                .title {

                    letter-spacing: -0.125px; // NOTE: needed for Firefox
                    cursor:         default;

                    @media #{$not-narrow-screen} {
                        flex-basis:  100%;
                    }

                    @media #{$narrow-screen} {
                        padding-top: 0.5rem;
                    }
                }

                .repository {

                    @media #{$wide-screen} {
                        flex-basis:      12.5vw;
                    }

                    @media #{$medium-width} {
                        flex-basis:      17.5vw;
                    }

                    @media #{$narrow-screen} {
                        flex-basis:      100%;
                        justify-content: flex-end;
                    }

                    img {
                        @media #{$not-narrow-screen} {
                            max-width:  80%;
                        }
                        @media #{$narrow-screen} {
                            max-height: $narrow-logo-height;
                        }
                    }

                    &.internetArchive img {
                        margin: 0.375rem 0;
                    }
                }

                .prev-next {
                    display: none;
                }
            }

            //=================================================================
            // When the list item is open.
            //=================================================================

            &.open {
                > .value.field-Title {

                    top: 1vh;
                    box-shadow:
                        0.5rem  -0.25rem  0       0.5rem white,
                        0       0         0.25rem 0.5rem white;

                    > * {
                        @media #{$not-narrow-screen} {
                            align-self: flex-start;
                        }
                    }

                    .title {
                        @media #{$not-narrow-screen} {
                            // NOTE: Increase clickable area
                            border-bottom: 0.5rem solid transparent;
                        }

                        @media #{$wide-screen} {
                            padding-top: $wide-title-open-pad;
                        }
                        @media #{$medium-width} {
                            padding-top: $medium-title-open-pad;
                        }

                        @include Firefox-only {
                            @media #{$wide-screen} {
                                padding-top: $ff-wide-title-open-pad;
                            }
                            @media #{$medium-width} {
                                padding-top: $ff-medium-title-open-pad;
                            }
                        }
                    }

                    .repository {

                        @media #{$narrow-screen} {
                            position: sticky;
                            top:      0;
                        }

                        &.internetArchive img {
                            margin: 0.5rem 0;
                        }
                    }
                }
            }

            //=================================================================
            // When then list item is closed.
            //=================================================================

            &:not(.open) {

                @media #{$not-narrow-screen} {
                    max-height:     4rem;
                    padding-bottom: 1rem;
                }

                > .value.field-Title {
                    .title {

                        overflow:      hidden;
                        white-space:   nowrap;
                        text-overflow: ellipsis;

                        // NOTE: Increase clickable area:
                        @media #{$not-narrow-screen} {
                            border-top:    0.5rem solid transparent;
                            border-bottom: 0.5rem solid transparent;
                        }
                    }
                }

                > :not(.row-1) {
                    display: none;
                }
            }
        }
    }

    //=========================================================================
    // NOTE: Temporary(?) title colorization
    //=========================================================================

    .restore-button,
    .colorize-button {

        @extend %control-button-base;

        &.active {
            background-color: $input-disabled-bg;
            border-color:     $input-disabled-fg;
        }
    }

    .search-list {

        .search-list-item {

            &.colorized {
                > .value.field-Title {

                    border: none;

                    @media #{$narrow-screen} {
                        margin-top: -1rem;
                    }

                    .title {
                        @media #{$narrow-screen} {
                            margin-top:  0.5rem;
                            margin-left: $narrow-left-pad;
                        }
                    }

                    .identity-number {

                        word-break: keep-all;
                        flex:       1 0 auto;

                        @media #{$wide-screen} {
                            font-size: larger;
                        }

                        @media #{$narrow-screen} {
                            margin-left: $narrow-left-pad;
                        }

                        // Highlight out-of-sequence title index numbers.
                        &.error,
                        &.exile {

                            $fg-color:     red;
                            $bg-color:     white;
                            $v-shift:      0.25rem;
                            $h-shift:      0.125rem;

                            margin-top:    $v-shift;
                            margin-right:  -$h-shift;
                            color:         $fg-color;
                            background:    $bg-color;
                            border-bottom: $v-shift solid $bg-color;
                            border-left:   $h-shift solid $bg-color;
                            border-right:  $h-shift solid $bg-color;
                            border-radius: 0.375rem;
                            box-shadow:    0 0 0 0.25rem $fg-color;
                        }
                        &.exile:not(.error) {
                            color: $uva-text-gray;
                        }
                        &:not(.error) {
                            cursor: default;
                        }
                    }

                    .repository {

                        @media #{$wide-screen} {
                            padding-bottom: 0;
                        }

                        @media #{$narrow-screen} {
                            margin-top: 0;
                        }

                        img {
                            @media #{$narrow-screen} {
                                box-shadow: none;
                            }
                        }

                        &.hathiTrust img {

                            $border: -2.75rem  0    0    0  white;
                            $shadow:  2px      2px  6px  0  lightgray;

                            @media #{$wide-screen} {
                                box-shadow: #{$border}, #{$shadow};
                            }

                            @media #{$medium-width} {
                                box-shadow: #{$shadow};
                            }
                        }

                        &.internetArchive img {

                            $border: 0.5rem  0       0   0.5rem white;
                            $shadow: 0.25rem 0.75rem 6px 0      lightgray;

                            border:     none;
                            box-shadow: #{$border}, #{$shadow};

                            @media #{$narrow-screen} {
                                max-width:  50%;
                                box-shadow: #{$border};
                            }
                        }
                    }
                }

                > .value.identity-highlight {
                    font-weight: bold;
                    background:  whitesmoke;
                }
            }

            &.colorized.open {
                > .value.field-Title {

                    .identity-number {

                        @media #{$wide-screen} {
                            margin-top: $wide-title-open-pad;
                        }
                        @media #{$medium-width} {
                            margin-top: $medium-title-open-pad;
                        }

                        @include Firefox-only {
                            @media #{$wide-screen} {
                                margin-top: $ff-wide-title-open-pad;
                            }
                            @media #{$medium-width} {
                                margin-top: $ff-medium-title-open-pad;
                            }
                        }
                    }

                    .repository {

                        &.bookshare  img,
                        &.hathiTrust img {
                            box-shadow: none;
                        }

                        &.internetArchive img {

                            $border: 0.5rem  0  0  0.5rem   white;
                            $shadow: 0.5rem  0  0  0.55rem  lightgray;

                            @media #{$not-narrow-screen} {
                                box-shadow: #{$border}, #{$shadow};
                            }
                        }
                    }
                }
            }
        }
    }
}

body.grid-style {

    $column-count: 0;
    $next-column:  1;

    @function show-($columns: 1) {
        $start-column: $next-column;
        $end-column:   $start-column;
        $columns:      if((not $columns or ($columns == 0)), 1, $columns);
        @if $columns > 1 {
            $end-column: $end-column + $columns;
        }
        $next-column:  $next-column  + $columns;
        $column-count: $column-count + $columns;
        @return #{$start-column}/#{$end-column};
    }

    @function -hide() {
        @return false;
    }

    // Each column is either hidden or given a distinct column slot so that
    // there is a consistent display of columns regardless of whether the item
    // has that given type of metadata or not.
    $field-columns: (
        Format:                 show-(),
        Creator:                show-(),
        Language:               show-(),
        Description:            -hide(),
        Publisher:              show-(),
        Subject:                -hide(),
        Rights:                 -hide(),
        CopyrightDate:          show-(),
        Identifier:             show-(2),
        Related:                -hide(),
        //CopyrightDate:        show-(), // moved before Identifier
        EntryCreated:           -hide(),
        EntryUpdated:           -hide(),
        EmmaRecordId:           show-(),
        EmmaTitleId:            show-(),
        Repository:             -hide(),
        Collection:             -hide(),
        FormatVersion:          -hide(),
        FormatFeature:          -hide(),
        AccessibilityFeature:   -hide(),
        AccessibilityControl:   -hide(),
        AccessibilityHazard:    -hide(),
        AccessMode:             -hide(),
        SufficientMode:         -hide(),
        AccessibilitySummary:   -hide(),
        RepositoryRecordId:     show-(),
        RetrievalLink:          show-(),
    );

    @mixin clean() {
        font-weight: revert;
        background:  revert;
        border:      revert;
        box-shadow:  revert;
    }

    .search-list {

        grid-template-columns: 1fr;

        .number {
            display: none !important;
        }

        .search-list-item {

            max-height:            unset !important;
            grid-template-columns: repeat($column-count, minmax(5vw,1fr));
            column-gap:            0.5rem;

            > .label {
                display: none !important;
            }

            > .value:not(.row-1) {
                display: revert !important;
            }

            > .value {

                &.field-Title {

                    position:       unset;
                    margin-top:     2rem;
                    background:     #eeeeee;
                    grid-column:    1/-1;
                    grid-row:       1/1;
                    pointer-events: none;

                    .repository {
                        &.internetArchive img {
                            border:     none;
                            box-shadow:
                                0.25rem  0    0    0.25rem  white,
                                2px      2px  6px  0        lightgray;
                        }
                    }
                }

                &.textbox {
                    @include clean;
                }

                &.array {
                    grid-template-columns: 1fr;
                    > * {
                        @include clean;
                    }
                }
            }

            @each $type in map-keys($field-columns) {
                > .value.field-#{$type} {
                    $columns: map-get($field-columns, $type);
                    @if $columns {
                        grid-column: $columns;
                        grid-row:    2/2;
                    } @else {
                        display: none !important;
                    }
                }
            }
        }
    }
}
