// app/assets/stylesheets/controllers/_search.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Metadata record search index page
//=============================================================================

// Metadata record label/value pairs for index listings.
//
// noinspection SassScssResolvedByNameOnly
.search-list-entry {

    @extend .item-list-entry;

    $row-separation: 0.75rem;

    row-gap: $row-separation;

    //=========================================================================
    // Components
    //=========================================================================

    .label,
    .value {

        margin-bottom: 0;

        @media #{$browser-ie} {
            margin-bottom: $row-separation;
        }
    }

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {

        &.field-Title {

            display:     flex;
            flex-flow:   wrap;
            font-size:   larger;
            font-weight: bold;
            column-gap:  $flex-gap-x;

            @media #{$wide-screen} {
                max-width:       50%;
                justify-content: space-between;
            }

            @media #{$narrow-screen} {
                grid-column: 1 / -1;
            }

            a:not(:hover) {
                text-decoration: none;
            }

            > * {

                display: block;
                margin:  0;

                &.title {
                    flex: 0.33 1 auto;
                }

                &.repository {

                    flex: 0 0 auto;

                    @media #{$browser-ie} {

                        margin-left: $ie-flex-gap-x;

                        @media #{$narrow-screen} {
                            margin-left: 0;
                        }
                    }

                    // @see SearchHelper#title_and_source
                    &.name {
                        padding:        1px 0.5rem;
                        vertical-align: top;
                        font-size:      medium;
                        font-weight:    normal;
                        color:          white;
                        border:         1px solid transparent;
                        border-radius:  0.5rem;
                        background:     $panel-accent;
                    }

                    // @see SearchHelper#title_and_source_logo
                    &.logo {

                        position:   relative;
                        max-height: 2rem;
                        max-width:  100%;

                        @media #{$wide-screen} {
                            max-height:    2.5rem;
                            margin-bottom: -1.25rem;
                        }

                        @media #{$narrow-screen} {

                            margin-top: $flex-gap-y;

                            @media #{$browser-ie} {
                                margin-top: $ie-flex-gap-y;
                            }
                        }
                    }
                }
            }
        }

        &.array {

            @include grid(minmax(25%, max-content), 4);

            row-gap: $row-separation;

            @media #{$wide-screen} {
                max-width: 75%;
            }

            @media #{$medium-width} {

                @include grid(minmax(50%, max-content), 2);

                @media #{$browser-ie} {
                    @include grid(1fr, 2);
                }
            }

            @media #{$narrow-screen} {
                @include grid(1fr);
            }

            // noinspection CssReplaceWithShorthandSafely
            > * {

                $border:    1px;
                $x-padding: 5px;
                $y-padding: 1px;
                $x-margin:  -$x-padding - $border;
                $y-margin:  -$y-padding - $border;

                display:             block;
                margin:              $y-margin $x-margin;
                margin-right:        1rem;
                padding:             $y-padding $x-padding;
                background:          ghostwhite;
                border:              $border solid gray;
                border-right-color:  black;
                border-bottom-color: black;
                border-radius:       2px;

                @media #{$wide-screen} {
                    word-break: keep-all;
                }
            }
        }
    }
}

// Zero or more .search-list-entry elements.
//
// noinspection SassScssResolvedByNameOnly
.search-list {

    @extend .item-list;

    //=========================================================================
    // Components
    //=========================================================================

    .number {

        margin-top:  calc(#{$page-padding} - 0.2rem);
        font-size:   large;
        font-weight: bold;

        @media #{$browser-ie} {
            margin-top: calc(#{$ie-page-padding} - 0.2rem);
        }

        @media #{$narrow-screen} {

            margin-top: $page-padding;

            @media #{$browser-ie} {
                margin-top: $ie-page-padding;
            }
        }
    }

    .search-list-entry {

        margin-top: $page-padding;

        @media #{$browser-ie} {
            margin-top: $ie-page-padding;
        }
    }
}

//=============================================================================
// Periodical show page
//=============================================================================

// Periodical metadata values.
.search-details {
    @extend .item-details;
}

// Container for a .search-details and .edition-list in a two-column format
// for wide screens.
//
// noinspection SassScssResolvedByNameOnly
.search-container {

    @extend .item-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .search-details {}
}
