// app/assets/stylesheets/controllers/_title.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'shared/mixins';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Catalog Title index page
//=============================================================================

// noinspection SassScssResolvedByNameOnly
.title-list {

    @extend .results-list;
    @extend .list-3-column;

    justify-items: stretch;

    //=========================================================================
    // Classes
    //=========================================================================

    .number {
        // Push item number to the right and hide.
        @media #{$narrow-screen} {
            grid-column: 3 / -1;
            visibility:  hidden;
        }
    }

    // @see TitleHelper#thumbnail
    .thumbnail {

        @extend %thumbnail-dimensions;

        margin-bottom: $results-entry-gap-y;

        @media #{$browser-ie} {
            margin-bottom: $ie-results-entry-gap-y;
        }

        // Push thumbnail to the right and occupy the right side of the entry.
        @media #{$narrow-screen} {
            grid-column: 3 / -1;
            grid-row:    span 2;
        }
    }
}

// noinspection SassScssResolvedByNameOnly
.title-list-entry {

    @extend .results-entry;

    grid-auto-rows: min-content;

    //=========================================================================
    // Classes
    //=========================================================================

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {

        &.field-Title {

            font-weight: bold;

            @media #{$narrow-screen} {
                grid-column: 1 / -1;
            }

            a:not(:hover) {
                text-decoration: none;
            }
        }

        &.field-None {
            margin-bottom: 0;
        }
    }
}

//=============================================================================
// Catalog Title show page
//=============================================================================

// noinspection SassScssResolvedByNameOnly
.title-details {

    @extend .results-entry;

    .value {

        @include width-fit-content(90%);

        display:        flex;
        flex-direction: column;

        > * {

            @include width-fit-content;

            margin-bottom: 0.375rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.field-Synopsis {

            margin-bottom: calc(#{$results-entry-gap-y} / 2);

            @media #{$browser-ie} {
                margin-bottom: $ie-results-entry-gap-y / 2;
            }
        }

        &.field-Countries {

            display:     block;
            font-family: monospace;
            font-size:   larger;

            > * {
                margin-bottom: 0;
            }
        }

        // noinspection CssOverwrittenProperties
        &.field-Links {
            word-break: break-all;
            word-break: break-word;
        }
    }
}

// Wrapper for .title-details which displays the full-size cover image to the
// right on large screens.
//
// noinspection SassScssResolvedByNameOnly
.title-details-container {

    @media #{$wide-screen} {
        column-count: 2;
    }

    // @see TitleHelper#cover_image
    .cover-image {

        width: 100%;

        @media #{$wide-screen} {

            max-height:  66vh;
            margin-left: $results-entry-gap-x;

            @media #{$browser-ie} {
                margin-left: $ie-results-entry-gap-x;
            }
        }

        img {
            @media #{$narrow-screen} {
                width: 100%;
            }
        }
    }
}
