// app/assets/stylesheets/controllers/_title.scss

// @use 'shared/common';  // TODO: SASS 4.0
// @use 'shared/mixins';  // TODO: SASS 4.0
// @use 'feature/search'; // TODO: SASS 4.0

//=============================================================================
// Catalog Title index page
//=============================================================================

// Catalog title metadata label/value pairs for index listings.
//
// noinspection SassScssResolvedByNameOnly
.title-list-entry {

    @extend .index-entry;

    grid-auto-rows: min-content;

    //=========================================================================
    // Components
    //=========================================================================

    .label {
        &.field-Title {
            @media #{$narrow-screen} {
                display: none;
            }
        }
    }

    .value {

        a + a {

            margin-left: $gap-x;

            @media #{$browser-ie} {
                margin-left: $ie-gap-x;
            }
        }

        &.field-Title {

            font-weight: bold;

            @media #{$narrow-screen} {
                grid-column: 1 / -1;
            }

            a:not(:hover) {
                text-decoration: none;
            }
        }

        &.field-Authors {
            @media #{$narrow-screen} {

                display:        flex;
                flex-direction: column;
                line-height:    1.5;

                a {
                    margin-left:   0;
                }

                a + a {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

// Zero or more .title-list-entry elements.
//
// noinspection SassScssResolvedByNameOnly
.title-list {

    @extend .index-list;
    @extend .list-3-column;

    justify-items: stretch;

    //=========================================================================
    // Components
    //=========================================================================

    .number {
        // Push item number to the right and hide.
        @media #{$narrow-screen} {
            grid-column: 3 / -1;
            visibility:  hidden;
        }
    }

    // @see TitleHelper#thumbnail
    .thumbnail {

        @extend %thumbnail-dimensions;

        margin-bottom: $results-entry-gap-y;

        @media #{$browser-ie} {
            margin-bottom: $ie-results-entry-gap-y;
        }

        // Push thumbnail to the right and occupy the right side of the entry.
        @media #{$narrow-screen} {
            grid-column: 3 / -1;
            grid-row:    span 2;
        }
    }
}

//=============================================================================
// Catalog Title show page
//=============================================================================

// Catalog Title metadata values.
//
// noinspection SassScssResolvedByNameOnly
.title-metadata {

    @extend .details-entry;

    //=========================================================================
    // Components
    //=========================================================================

    $break-height:           2 * $results-entry-margin-y / 3;

    $synopsis-padding:       $results-entry-margin-y;
    $synopsis-border-width:  2px;
    $synopsis-border-color:  $image-border-color;
    $synopsis-border-radius: 4 * $synopsis-border-width;

    .label {
        &.field-Synopsis {

            padding-top: calc(#{$synopsis-padding} + #{$synopsis-border-width});

            @media #{$browser-ie} {
                padding-top: $synopsis-padding;
            }
        }
    }

    .value {

        @include width-fit-content(90%);

        display:        flex;
        flex-direction: column;

        > * {

            @include width-fit-content;

            margin-top: $results-entry-margin-y;

            &:first-child {
                margin-top: 0;
            }
        }

        > br {
            margin-top: $break-height;
            &:first-child { margin-top: $break-height; }
        }

        a + a {
            margin-top: $results-entry-margin-y;
        }

        &.field-Authors {
            @media #{$wide-screen}, #{$medium-width} {

                flex-direction: row;
                flex-wrap:      wrap;

                > * {
                    flex:   1 0 auto;
                    margin: 0 $results-entry-margin-y $results-entry-margin-y 0;
                    &:last-child { margin-right: 0; }
                }
            }
        }

        &.field-Synopsis {

            margin-bottom: calc(#{$results-entry-gap-y} / 2);
            padding:       $synopsis-padding;
            line-height:   1.375;
            border:        $synopsis-border-width solid $synopsis-border-color;
            border-radius: $synopsis-border-radius;

            @media #{$browser-ie} {
                margin-bottom: ($ie-results-entry-gap-y / 2);
            }

            @media #{$medium-width} {

                margin-right: #{$results-entry-gap-y};

                @media #{$browser-ie} {
                    margin-right: $ie-results-entry-gap-y;
                }
            }
        }

        &.field-Categories {
            a + a {
                &:last-of-type + span {
                    margin-top: $results-entry-margin-y;
                }
            }
        }

        &.field-Countries {

            display:     block;
            max-height:  6.6vh;
            overflow:    auto;
            font-family: monospace;
            font-size:   larger;

            > * {
                margin-bottom: 0;
            }
        }

        &.field-RelatedISBNs {
            width:      100%;
            max-height: 7.5vh;
            overflow:   auto;
        }

        &.field-Formats {
            .artifact + .artifact {
                margin-top: $results-entry-margin-y;
            }
        }
    }
}

// Wrapper for .title-metadata which displays the full-size cover image to the
// right on large screens.
//
// noinspection SassScssResolvedByNameOnly
.title-container {

    @extend .details-container;

    //=========================================================================
    // Sections
    //=========================================================================

    .title-metadata {}

    // @see TitleHelper#cover_image
    .cover-image {

        // Prevent flex from trying to equalize the width of this column with
        // the .title-metadata column.
        flex-basis:  0;
        margin-left: $page-padding-x;

        @media #{$browser-ie} {
            margin-left: $ie-page-padding-x;
        }

        // Reserve width to avoid watching the page re-layout if a cover image
        // is acquired asynchronously.
        @media #{$wide-screen} {
            min-width:   $nominal-cover-x;
        }

        @media #{$medium-width} {
            min-width: unset;
            max-width: $nominal-cover-x;
        }

        @media #{$narrow-screen} {
            min-width: unset;
            max-width: 100%;
        }

        img:not(.placeholder) {
            width: 100%;
        }
    }
}
