// app/assets/stylesheets/controllers/_upload.scss

@use 'controllers/entry' as *;

//=============================================================================
// Upload index page
//=============================================================================

// Upload metadata fields for index listings.
.upload-list-item {
    @extend .entry-list-item;
}

// Zero or more .upload-list-item elements.
.upload-list {
    @extend .entry-list;
}

// Style the appearance of the contents of the check status popup.
body.upload-check.modal {
    .heading {
        font-size: large;
    }
}

//=============================================================================
// Upload show page
//=============================================================================

// Upload entry fields.
.upload-details {
    @extend .entry-details;
}

// Container for an .upload-details.
.upload-container {
    @extend .entry-container;
}

//=============================================================================
// Upload new/edit/delete pages
//=============================================================================

.upload-fields {
    @extend .entry-fields;
}

// When not actively downloading, the element for .uppy-ProgressBar creates a
// visible gap between the directions and the top of the form.
body.upload {
    .page-text-section.directions {
        margin-bottom: 0;
    }
}

//=============================================================================
// Upload admin page
//=============================================================================

body.upload-admin {
    h2 {
        font-size: xx-large;
    }
    h3 {
        font-size: x-large;
    }
}
