// app/assets/stylesheets/controllers/_upload.scss

@use 'shared/variables'       as *;
@use 'shared/controls/grids'  as grid;
@use 'shared/controls/panels' as panel;

@use 'controllers/entry'      as entry-classes;

//=============================================================================
// Upload index page
//=============================================================================

// Upload metadata fields for index listings.
.upload-list-item {
    @extend .entry-list-item;
}

// Zero or more .upload-list-item elements.
.upload-list {
    @extend .entry-list;
}

// Grid table of submissions.
.model-table.upload {
    td.emma_data,
    td.file_data {
        @media #{$not-narrow-screen} {
            max-width: 20vw;
            word-wrap: anywhere;
        }
    }
}

// Style the appearance of the contents of the check status popup.
body.upload-check.modal {
    .heading {
        font-size: large;
    }
}

//=============================================================================
// Upload show page
//=============================================================================

// Upload entry fields.
// @see UploadDecorator#details
.upload-details {
    @extend .entry-details;
}

// Container for an .upload-details.
// @see app/views/upload/_details.html.erb
.upload-container {
    @extend .entry-container;
}

//=============================================================================
// Upload new/edit/delete pages
//=============================================================================

// When not actively downloading, the element for .uppy-ProgressBar creates a
// visible gap between the directions and the top of the form.
body.upload {

    // Style flash message caused by the return from bibliographic lookup.
    // @see file:app/assets/javascripts/feature/model.js *onLookupComplete()*
    .flash-messages .notice {

        display: grid;
        gap:     0.25rem;

        grid-template-columns: [type] max-content [list] 1fr;

        .type { } // TODO: ?
        .list { font-weight: bold; }
    }

    .page-text-section.directions {
        margin-bottom: 0;
    }

    // Fix closer appearance for simple flash messages.
    .flash-messages.floating {
        .text + .closer {
            max-width:   max-content;
            margin-left: auto;
        }
    }
}

//=============================================================================
// Upload admin page
//=============================================================================

body.upload-admin {
    h2 {
        font-size: $h1-font-size;
    }
    h3 {
        font-size: x-large;
    }
}

//=============================================================================
// API data migration results page
//=============================================================================

body.api_migrate {

    .summary {}

    // @see ApiMigrateHelper#render_api_migration
    .record-list {

        margin:     2rem 0;
        padding:    0;
        list-style: none;

        // @see ApiMigrateHelper#api_record_changes
        .record-results {

            display:        flex;
            flex-direction: column;
            gap:            0.5rem;
            margin-top:     2rem;

            .record-id {

                $bg:         whitesmoke;

                margin:      0;
                padding:     0.25rem 0;
                font-size:   larger;
                font-weight: bold;
                background:  $bg;
                box-shadow:  -0.5rem 0 0 0 $bg;
            }

            .changes-label,
            .results-label {
                margin-left:   1rem;
                margin-bottom: 0;
            }

            .changes,
            .results {

                margin-left: 1rem;

                .column {
                    margin-left: 1rem;
                    line-height: 1.5;
                    font-weight: bold;
                    font-size:   large;
                }

                .fields {
                    margin-left: 2rem;
                }
            }

            .changes {

                display:        flex;
                flex-direction: column;
                gap:            0.25rem;

                .column {
                    margin-bottom: 1rem;
                }

                .fields {

                    display:     grid;
                    gap:         0.5rem 1rem;
                    align-items: baseline;
                    grid-template-columns:
                        [field] minmax(max-content, 0.15fr)
                        [now]   minmax(auto,        0.30fr)
                        [was]   minmax(auto,        0.50fr);

                    // Ensure hovering highlights the whole apparent row.
                    > * {
                        height: 100%;
                    }

                    // Table column headings.
                    .row-0 {
                        font-weight:     bold;
                        border-bottom:   2px solid gray;
                    }

                    // EMMA data field name.
                    .field:not(.row-0) {

                        font-family: monospace;
                        font-size:   larger;

                        // Highlight the row when hovering over the field name.
                        // Uses text-shadow because font-weight:bold causes
                        // characters to be resized.
                        &:hover,
                        &:hover + *,
                        &:hover + * + * {

                            $bg:         lightcyan;

                            text-shadow: 0.5px 0;
                            background:  $bg;
                            box-shadow:  1rem 0 0 0 $bg;
                        }
                    }

                    // EMMA data field new value.
                    .now { }

                    // EMMA data field old value.
                    .was { }
                }
            }

            .results {

                display:               grid;
                grid-template-columns: repeat(2, auto);

                .column {

                    display:           inline-flex;
                    margin-top:        0.5rem;
                    grid-column-start: 1;

                    // Toggles visibility of .fields panel.
                    .toggle {
                        margin-left: 1rem;
                    }
                }

                // Collapsible panel listing of data fields.
                .fields {

                    @extend .model-list-item-panel; // For .data-list

                    @include grid.column-span;
                    @include panel.toggle-panel;

                    .data-list {
                        width:  100%;
                        margin: 0 1rem;
                    }

                    .invalid {
                        color:  $error-fg;
                        cursor: help;
                    }
                }
            }
        }
    }
}
