// app/assets/stylesheets/controllers/_user_registrations.scss

@use 'shared/variables' as *;

@use 'controllers/account';

//=============================================================================
// New user page
//=============================================================================

.sign-in-fields {
    @extend .account-fields;
}

// @see file:app/views/user/sessions/_local_form.html.erb
// @see file:app/views/user/registrations/new.html.erb
// @see file:app/views/user/registrations/edit.html.erb
// @see file:app/views/user/passwords/new.html.erb
// @see file:app/views/user/passwords/edit.html.erb
// @see file:app/views/devise/unlocks/new.html.erb
.sign-in-form:not(.inline) {

    @extend .account-form;

    @media #{$wide-screen} {
        width: 75%;
    }

    .actions {

        display: inline-flex;
        margin:  1rem 0;

        * + * {
            margin-left: 1rem;
        }
    }

    &.field-pairs {

        .field {

            @extend .account-fields;

            min-height:            unset;
            grid-template-columns: [label] auto [value] 1fr [note] auto;
        }
    }
}
