// app/assets/stylesheets/controllers/_user_registrations.scss

@use 'shared/variables'        as *;
@use 'shared/controls/buttons' as button;

//=============================================================================
// New user page
//=============================================================================

// @see file:app/views/user/passwords/new.html.erb
// @see file:app/views/user/passwords/edit.html.erb
// @see file:app/views/devise/confirmations/new.html.erb
// @see file:app/views/devise/unlocks/new.html.erb
.sign-in-form:not(.inline) {

    display:    grid;
    gap:        2rem 1rem;
    margin-top: calc(2 * $page-padding-y);

    @media #{$wide-screen} {
        width: 75%;
    }

    grid-template-columns: max-content max-content auto;

    //=========================================================================
    // Elements
    //=========================================================================

    .submit-button {
        @include button.control;
    }

    .label {
        font-size:   large;
        font-weight: bold;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .field {

        display: contents;

        .label {
            grid-column-start: 1;
        }

        .value {
            width: 100%;
        }
    }

    .actions,
    .links,
    .options {
        display:     flex;
        align-items: center;
        margin:      2rem 0;
        grid-column-start: 1;
    }

    .actions {
        gap: 1rem;
    }

    .options {
        input[type="checkbox"] {
            margin-left: 0;
        }
    }
}
