// app/assets/stylesheets/controllers/_user_sessions.scss

@use 'shared/variables'        as *;
@use 'shared/controls/buttons' as button;

//=============================================================================
// Page header
//=============================================================================

// Don't show "Sign in" button on sign-in pages.
body.user_sessions {
    .layout-banner {
        .session,
        .control-area .help-popup {
            visibility: hidden;
        }
    }
}

//=============================================================================
// Login page
//=============================================================================

// @see file:app/views/user/sessions/new.html.erb
// @see file:app/views/user/registrations/edit.html.erb
// @see file:app/views/devise/shared/_links.html.erb
.sign-in-links {

    display:     grid;
    align-items: center;

    @media #{$wide-screen} {
        gap: 1rem 3rem;
        grid-template-columns:
            [label] auto [uid] 1fr [pwd] 1fr [actions] 1fr [options] 1fr;
    }

    @media #{$medium-width} {
        gap: 1rem;
        grid-template-columns:
            [label] auto [uid] 1fr [pwd] 1fr [actions] auto [options] auto;
    }

    @media #{$narrow-screen} {
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    // @see file:app/views/devise/shared/_links.html.erb
    // @see file:app/views/user/sessions/_omniauth.html.erb
    // @see file:app/views/user/registrations/edit.html.erb
    .sign-in-link {

        @include button.control;

        padding:           0.75rem;
        font-size:         large;
        white-space:       unset;
        grid-column-start: 1;
    }

    // @see file:app/views/user/sessions/_local.html.erb
    // @see file:app/views/user/sessions/_token.html.erb
    .sign-in-form.inline {

        display:     contents;
        line-height: 1.5;

        @media #{$narrow-screen} {
            display: inline-grid;
        }

        //=====================================================================
        // Elements
        //=====================================================================

        .form-label {
            @extend .sign-in-link;
        }

        .field,
        .actions,
        .options {

            display:     inline-flex;
            flex-wrap:   nowrap;
            align-items: center;

            @media #{$narrow-screen} {
                margin-top:  0.25rem;
                margin-left: 0;
            }
        }

        .field {

            .label {
                font-weight:  bold;
                margin-right: $flex-gap-x;
            }

            .value {
                width: 100%;
            }
        }

        .actions {

            @media #{$narrow-screen} {
                margin-right: 100%; // Push to next line.
            }

            input[type='submit'] {

                @include button.basic;

                line-height: 1;
            }
        }

        .options {

            label {
                font-weight: normal;
            }

            input[type='checkbox'] {
                margin-right: calc(#{$flex-gap-x} / 2);
            }
        }

        //=====================================================================
        // Variations
        //=====================================================================

        // @see file:app/assets/javascripts/controllers/user_sessions.js
        &.obscured {
            .field,
            .actions,
            .options {
                display: none;
            }
        }
    }
}

form + .sign-in-links {
    margin-top: 2rem;
    gap:        0.5rem;
}
