<%# app/views/account/_ability.html.erb -%>
<%-
  # Displays the individual abilities of the current user account.

  view_debug(__FILE__)

  user ||= current_user
  dec  ||= AccountDecorator.new(user, **context)

  name   = dec.object.email.presence || 'anonymous'
  label  = "Authorization for user #{name.inspect}" # TODO: I18n
  label  = html_tag(:h2, label, class: 'label')

-%>

<div class="account-section ability-debug">
  <%= toggle_panel(dec.ability_table, label: label, class: 'ability-list') %>
</div>
