<%# app/views/account/_details.html.erb -%>
<%-
  # EMMA user account details.

  view_debug(__FILE__)

  user  ||= nil
  dec   ||= user && AccountDecorator.new(user, **context) or return
  user    = dec.object

  level ||= 1
  skip  ||= nil

  skip    = [*skip]
  heading =
    if (level == 1) && !skip.include?(:title)
      title ||= config_text(:account, :details, :title)
      html_tag((level + 1), title, class: 'details-heading')
    end

  only      ||= nil
  except    ||= nil

  details   ||= true
  uploads   ||= true
  manifests ||= true

  uploads   &&= user.can?(:create, Upload)   && t('emma.upload.title')
  manifests &&= user.can?(:create, Manifest) && t('emma.manifest.title')

  opt         = { level: (level + 1), except: :user_id }
  uploads   &&= opt.merge(list: user.uploads,   title: uploads)
  manifests &&= opt.merge(list: user.manifests, title: manifests)

-%>

<%- if details -%>
  <div class="account-section details-section">
    <%= heading %>
    <%= dec.details(only: only, except: except) %>
  </div>
<%- end -%>

<%- if uploads -%>
  <div class="account-section uploads-section">
    <%= render 'upload/table', **uploads %>
  </div>
<%- end -%>

<%- if manifests -%>
  <div class="account-section manifests-section">
    <%= render 'manifest/table', **manifests %>
  </div>
<%- end -%>
