<%# app/views/devise/mailer/confirmation_instructions.html.erb -%>
<%-
  user  ||= current_user
  name  ||= @email || user.email
  token ||= @token

  link_label = 'Confirm my account'
  link_url   = confirmation_path(user, confirmation_token: token)

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Welcome <%= name -%>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to link_label, link_url -%></p>

<% abort 'devise/mailer/confirmation_instructions - NOT EXPECTED TO BE USED' %>
