<%# app/views/devise/mailer/confirmation_instructions.html.erb -%>
<%-

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')

  user  ||= @resource
  name  ||= @email || user.email
  token ||= @token

  link_label = 'Confirm my account'
  link_url   = confirmation_path(user, confirmation_token: token)

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Welcome <%= name -%>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to link_label, link_url -%></p>
