<%# app/views/devise/mailer/email_changed.html.erb -%>
<%-
  user ||= current_user
  name ||= @email || user.email

  # noinspection RailsParamDefResolve
  unconfirmed_email = user.try(:unconfirmed_email) || user.email

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Hello <%= name -%>!</p>

<p>
  We're contacting you to notify you that your email is being changed to
  <%= unconfirmed_email -%>.
</p>

<%- abort 'devise/mailer/email_changed - NOT EXPECTED TO BE USED' -%>
