<%# app/views/devise/mailer/email_changed.html.erb -%>
<%-
  set_page_robots(:noindex, :nofollow) unless modal?

  unconfirmed = @resource.try(:unconfirmed_email) || @resource.email
-%>

<p>Hello <%= @email -%>!</p>

<p>
  We're contacting you to notify you that your email is being changed to
  <%= unconfirmed -%>.
</p>

<%-
  abort 'devise/mailer/email_changed - This is not expected to be used'
-%>
