<%# app/views/devise/mailer/email_changed.html.erb -%>
<%-

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')

  user ||= @resource
  name ||= @email || user.email

  unconfirmed_email = user.try(:unconfirmed_email) || user.email

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Hello <%= name -%>!</p>

<p>
  We're contacting you to notify you that your email is being changed to
  <%= unconfirmed_email -%>.
</p>
