<%# app/views/devise/mailer/password_change.html.erb -%>
<%-

  view_abort(__FILE__, 'NOT EXPECTED TO BE USED')

  user ||= @resource
  name ||= @email || user.email

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Hello <%= name -%>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
