<%# app/views/devise/mailer/reset_password_instructions.html.erb -%>
<%-
  user  ||= current_user
  name  ||= @email || user.email
  token ||= @token

  link_label = 'Change my password'
  link_url   = edit_password_path(user, reset_password_token: token)

  set_page_robots(:noindex, :nofollow) unless modal?

-%>

<p>Hello <%= name -%>!</p>

<p>
  Someone has requested a link to change your password.
  You can do this through the link below.
</p>

<p><%= link_to link_label, link_url -%></p>

<p>
  If you didn't request this, please ignore this email.
</p>
<p>
  Your password won't change until you access the link above and create a new
  one.
</p>

<%abort 'devise/mailer/reset_password_instructions - NOT EXPECTED TO BE USED'%>
