<%# app/views/devise/mailer/reset_password_instructions.html.erb -%>
<%-
  url = edit_password_path(@resource, reset_password_token: @token)
  set_page_robots(:noindex, :nofollow)
-%>

<p>Hello <%= @resource.email %>!</p>

<p>
  Someone has requested a link to change your password. You can do this through
  the link below.
</p>

<p><%= link_to 'Change my password', url %></p>

<p>
  If you didn't request this, please ignore this email.
</p>
<p>
  Your password won't change until you access the link above and create a new
  one.
</p>

<%-
  abort 'devise/mailer/reset_password_instructions - This is not expected to be used'
-%>
