<%# app/views/devise/mailer/reset_password_instructions.html.erb -%>
<%-

  user  ||= @resource
  name  ||= @email || user.email
  token ||= @token

  link_label = 'Change my password'
  link_url   = edit_password_url(user, reset_password_token: token)


-%>

<p>Hello <%= name -%>!</p>

<p>
  Someone has requested a link to change your password.
  You can do this through the link below.
</p>

<p><%= link_to link_label, link_url -%></p>

<p>
  If you didn't request this, please ignore this email.
</p>
<p>
  Your password won't change until you access the link above and create a new
  one.
</p>
