// app/assets/stylesheets/feature/_aws.scss

@use 'shared/variables'        as *;
@use 'shared/controls/buttons' as button;

//=============================================================================
// Internal constants
//=============================================================================

$aws-bucket-fg:          $rev-fg-color;
$aws-bucket-bg:          $rev-bg-color;
$aws-bucket-padding:     0.5rem;
$aws-admin-section-gap:  calc(2 * #{$page-padding-y});
$aws-admin-column-space: 0.75rem;

//=============================================================================
// AWS admin page
//=============================================================================

.admin-section {
    margin-top: $aws-admin-section-gap;
}

.aws-bucket-hdg {
    display:         flex;
    margin-top:      $aws-admin-section-gap;
    justify-content: space-between;
}

// @see AwsHelper#render_s3_bucket
.aws-bucket {
    display:       grid;
    padding:       0 0 $aws-bucket-padding;
    text-indent:   0.5rem;
    font-size:     12pt;
    font-family:   Courier, monospace;
    border:        2px solid $aws-bucket-bg;
    border-radius: 0.25rem;
}

// @see AwsHelper#render_s3_object
.aws-object {

    display:    grid;
    padding:    0 $aws-bucket-padding;
    column-gap: $aws-admin-column-space;

    @media #{$wide-screen} {
        grid-template-columns:
            [prefix] 0.5fr
            [key]    1fr
            [size]   0.5fr
            [date]   1fr;
    }

    @media #{$medium-width} {
        grid-template-columns:
            [prefix] 0.6fr
            [key]    1fr
            [size]   0.4fr
            [date]   1fr;
    }

    @media #{$narrow-screen} {
        margin-bottom:         1rem;
        padding-bottom:        $aws-admin-column-space;
        border-bottom:         1px solid darkgray;
        grid-template-columns: 1fr;
    }

    //=========================================================================
    // Components
    //=========================================================================

    > * {
        overflow:      hidden;
        text-overflow: ellipsis;
    }

    .placeholder {
        grid-column: 1/-1;
    }

    &.row {
        .last_modified {
            @media #{$medium-width} {
                word-spacing: -6px;
            }
        }
    }
}

.aws-bucket {
    @media #{$narrow-screen} {

        line-height: 1.375;

        .prefix, .key {
            font-weight: bold;
        }

        .placeholder {
            padding-top: $aws-admin-column-space;
        }

        :last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}

// @see AwsHelper#render_s3_object_headings
.column-headings {
    padding-top:    $aws-bucket-padding;
    padding-bottom: 0.25rem;
    margin-bottom:  $aws-admin-column-space;
    font-weight:    bold;
    color:          $aws-bucket-fg;
    background:     $aws-bucket-bg;
    border-bottom:  2px solid $aws-bucket-bg;
}

// @see AwsHelper#render_s3_object
.first-prefix {
    margin-top: $aws-admin-column-space;
}

// @see AwsHelper#s3_bucket_link
.aws-link {
    @include button.link(lightgray);
    @include button.control;
}
