// app/assets/stylesheets/feature/_download.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Artifact download controls
//=============================================================================

// noinspection SassScssResolvedByNameOnly
.artifact {

    // @see ArtifactHelper#artifact_link
    .link {
        &.complete {
            color: black;
        }
    }

    // Properties for hidden controls that are shown at different stages.
    // @see app/assets/javascripts/feature/download.js
    %transient-control {

        margin-left:     $gap-x;
        font-weight:     bold;
        font-size:       smaller;
        text-decoration: none;
        cursor:          pointer;

        @media #{$browser-ie} {
            margin-left: $ie-gap-x;
        }
    }

    // @see ArtifactHelper#download_progress
    .progress {
        @extend %transient-control;
    }

    // @see ArtifactHelper#download_failure
    .failure {

        @extend %transient-control;

        padding:          3px 6px;
        color:            black;
        background-color: $alert-bg;
        border-radius:    3px;
        cursor:           default;
    }

    // @see ArtifactHelper#download_button
    .button {

        @extend %transient-control;

        padding:          2px 6px;
        background-color: $success-bg;
        border-radius:    6px;
        border:           1px solid black;

        &:hover {
            text-decoration: underline;
        }
    }

}
