// app/assets/stylesheets/feature/_download.scss

@use "shared/variables"        as *;
@use "shared/mixins"           as *;
@use "shared/controls/buttons" as button;

//=============================================================================
// Internal mixins
//=============================================================================

// Properties for hidden controls that are shown at different stages.
// @see file:app/assets/javascripts/feature/download.js
@mixin transient-control {

    & {
        display:         inline-block;
        margin-left:     $gap-x;
        line-height:     1.25;
        vertical-align:  baseline;
        font-weight:     bold;
        font-size:       smaller;
        text-decoration: none;
        cursor:          pointer;
    }

    @media #{$narrow-screen} {
        margin:          0.5rem 0 0;
    }
}

//=============================================================================
// Artifact download controls
//=============================================================================

// @see RepositoryHelper#retrieval_link
.retrieval {

    // @see file:javascripts/feature/download.js *showFailureMessage*
    .failure {

        @include transient-control;

        & {
            padding:          2px 6px;
            color:            black;
            background-color: $alert-bg;
            border-radius:    3px;
            cursor:           default;
        }
    }

    // @see file:javascripts/feature/download.js *showProgressIndicator*
    .progress {
        @include transient-control;
    }

    // @see file:javascripts/feature/download.js *initiateDownload*
    .probe {
        &:not(.complete) {
            @include link-appearance;
        }
    }

    // @see file:javascripts/feature/download.js *showDownloadButton*
    .button {

        @include transient-control;

        & {
            padding:          2px 6px;
            background-color: $success-bg;
            border:           1px solid black;
            border-radius:    6px;
        }

        &:hover {
            text-decoration:  underline;
        }
    }
}
