// app/assets/stylesheets/feature/_download.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;

//=============================================================================
// Artifact download controls
//=============================================================================

.artifact {

    // @see ArtifactHelper#artifact_link
    .link {
        &.complete {
            color: black;
        }
    }

    // Properties for hidden controls that are shown at different stages.
    // @see file:app/assets/javascripts/feature/download.js
    %transient-control {

        display:         inline-block;
        margin-left:     $gap-x;
        line-height:     1.25;
        vertical-align:  baseline;
        font-weight:     bold;
        font-size:       smaller;
        text-decoration: none;
        cursor:          pointer;

        @media #{$narrow-screen} {
            margin: 0.5rem 0 0;
        }
    }

    // @see ArtifactHelper#download_progress
    .progress {
        @extend %transient-control;
    }

    // @see ArtifactHelper#download_failure
    .failure {

        @extend %transient-control;

        padding:          3px 6px;
        color:            black;
        background-color: $alert-bg;
        border-radius:    3px;
        cursor:           default;
    }

    // @see ArtifactHelper#download_button
    .button {

        @extend %transient-control;

        padding:          2px 6px;
        background-color: $success-bg;
        border:           1px solid black;
        border-radius:    6px;

        &:hover {
            text-decoration: underline;
        }
    }

    // @see file:app/assets/javascripts/feature/download.js *createMemberPopup()*
    .popup-panel {

        padding: 1rem;
        font:    revert;

        @media #{$wide-screen} {
            top:        2rem;
            left:       2rem;
            max-width:  33vw;
            min-height: unset;
        }

        @media #{$narrow-screen} {
            padding: 0.5rem;
        }

        //=====================================================================
        // Components
        //=====================================================================

        > * {
            flex: 0 1 auto;
        }

        > label {
            display:     block;
            margin:      0 0.5rem;
            font-size:   x-large;
            font-weight: bold;
        }

        > .note {
            display:       block;
            margin:        1rem 0.5rem;
            padding:       0.5rem;
            border:        1px solid black;
            border-radius: 0.25rem;
        }

        // NOTE: Chrome has a bug where grid doesn't work for <fieldset>.
        > .fields,
        > fieldset {

            display:               grid;
            grid-template-columns: [check] auto [label] 1fr;
            align-content:         flex-start;
            gap:                   0.25rem;
            margin:                1rem 0.25rem;
            padding:               0;
            border:                none;
            overflow:              auto;
            overscroll-behavior:   contain;
            flex-grow:             1;

            // Because this is the only element that can grow, the height of
            // the panel can be constrained only by limiting the height of this
            // element.  If it's not constrained, and there are very many
            // members in the list, then the panel will grow down the page
            // (meaning that the submit button may be far from the top of the
            // panel and below the bottom of the screen).
            @media #{$wide-screen} {
                max-height: 25vh;
            }

            // For the form factors in which the height of the panel itself is
            // constrained (by the limits of the screen), if the list has lots
            // of members then "flex-basis: auto" will make flex try (and fail)
            // to give this element enough vertical space for the whole list.
            // Zeroing out the basis allows flex to resolve the layout without
            // concern for the "ideal" height of the element.
            @media #{$not-wide-screen} {
                flex-basis: 0;
            }

            input {
                margin-top:    auto;
                margin-bottom: auto;
            }

            label {
                line-height: 1.5;
            }

            // Displayed only if no Bookshare members were found.
            .notice {
                margin:      0.5rem;
                line-height: 1.25;
                font-weight: bold;
            }
        }

        > .tray {

            display:        flex;
            flex-direction: row;
            margin-top:     0.5rem;
            padding:        0.5rem;

            button {

                @extend .uppy-FileInput-btn;
                @extend %button-hover;

                font-size:     large;
                border-radius: 4px;
            }

            button + button {
                margin-left: 1rem;
            }
        }
    }

}
