// app/assets/stylesheets/feature/_file_upload.scss

// @use 'shared/common'; // TODO: SASS 4.0
// @use 'vendor/uppy';   // TODO: SASS 4.0

//=============================================================================
// File uploader pages.
//=============================================================================

$upload-section-gap:       3rem;
$upload-section-gap-small: $upload-section-gap / 2;

// Text sections on upload pages.
.file-upload-text {

    margin: 1rem 0;

    // noinspection SassScssResolvedByNameOnly
    @media #{$wide-screen} {
        width: 50%;
    }

    // Space between consecutive text sections.
    & + & {

        margin-top: $upload-section-gap;

        // noinspection SassScssResolvedByNameOnly
        @media #{$narrow-screen} {
            margin-top: $upload-section-gap-small;
        }
    }

    //=========================================================================
    // Variants
    //=========================================================================

    // Text following the header on the page.
    &.description {

        // noinspection SassScssResolvedByNameOnly
        @extend %block-shadow;

        padding:       0 1rem;
        border:        1px solid black;
        border-radius: 0.5rem;
    }

    // Text preceding the main control section of the page.
    &.directions {
        text-decoration: underline;
        font-weight:     bold;
    }

    // Text following the main control section of the page.
    &.notes {

        @extend .description;

        margin: $upload-section-gap 0;

        // noinspection SassScssResolvedByNameOnly
        @media #{$narrow-screen} {
            margin: $upload-section-gap-small 0;
        }
    }

    //=========================================================================
    // Enclosed element styles
    //=========================================================================

    h1, h2, h3 { font-size: large; }
}

// Display for the selected filename.
//
// This is hidden until a file has been uploaded and displayUploadedFilename()
// adds the 'complete' class.
//
.uploaded-filename {

    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    margin:         auto 0;
    line-height:    2;
    overflow-x:     auto;

    &:not(.complete) {
        display: none;
    }

    .leader {
        margin-right: 0.25rem;
        word-break:   break-all;
    }

    .filename {
        font-weight: bold;
        word-break:  keep-all;
    }
}

// Control for filtering which upload form fields are displayed.
.upload-field-control {

    // noinspection SassScssResolvedByNameOnly
    @include user-select(none);

    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;

    line-height:     1.5;
    border:          1px solid gray;
    border-radius:   0.25rem;

    // noinspection SassScssResolvedByNameOnly
    @media #{$not-narrow-screen} {
        padding-right: 0.5rem;
    }


    // A label/radio button pair.
    .radio {

        display:    block;
        margin:     0.25rem;
        word-break: keep-all;

        input[type="radio"] {
            margin-right: 0;
        }

        label {
            padding-left: 0.5rem;
        }

        // noinspection SassScssResolvedByNameOnly
        &:hover {
            label {
                @extend %hover-bold;
            }
        }
    }
}

// Form containing and metadata field inputs and file upload controls.
//
// noinspection SassScssResolvedByNameOnly
.file-upload-form,
.file-upload-delete {

    $form-gap:        1.5rem;
    $form-gap-narrow: $form-gap / 3;

    @include grid([submit] auto [cancel] auto [file] auto [selected] 1fr);
    @include grid-gap($form-gap);

    @media #{$narrow-screen} {
        @include grid-gap($form-gap-narrow);
    }

    // Uploader for a new EMMA entry.
    &.new {}

    // Uploader for an existing EMMA entry.
    &.edit {}

    //=========================================================================
    // Elements - hidden
    //=========================================================================

    // Invisible element generated by #form_with only for the edit form.
    input[type="hidden"][name="_method"] { }

    // Invisible element generated by #form_with.
    input[type="hidden"][name="authenticity_token"] { }

    // Invisible data elements.
    .upload-hidden {

        @extend %hidden;

        // Invisible file data holder.
        &[name="upload[file]"]#upload_file_data { }

        // Invisible EMMA data holder.
        &[name="upload[emma_data]"]#upload_emma_data { }
    }

    //=========================================================================
    // Elements - first grid row (if not using button tray)
    //=========================================================================

    %upload-grid-control {
        @include grid-row(1);
        max-height: 2.25rem;
    }

    // ERB-provided submit to '/upload/create' or '/upload/update'.
    .submit-button { // input[type="submit"].uppy-FileInput-btn
        @extend %upload-grid-control;
    }

    // ERB-provided cancel (back to '/upload/new' or '/upload/edit').
    .cancel-button { // button[type="cancel"].uppy-FileInput-btn
        @extend %upload-grid-control;
    }

    // ERB-provided file chooser.
    // JavaScript will hide this in favor of the Uppy-supplied button.
    input[type="file"][name="upload[file]"]#upload_file { }

    // Appended to .file-upload-form and moved into place via file-upload.js.
    .uppy-FileInput-container {
        @extend %upload-grid-control;
    }

    // Display for the selected filename moved into place by setupUpload()
    // in app/assets/javascripts/feature/file-upload.js.
    .uploaded-filename {

        @include grid-row(1);

        line-height: 1.5;

        @media #{$narrow-screen} {
            @include grid-row(2);
            @include grid-column-span;
        }
    }

    // Only for .file-upload-delete - the form that wraps the "Delete" button.
    .button_to {
        @include grid-row(1);
    }

    //=========================================================================
    // Elements - first grid row (if using button tray)
    //=========================================================================

    .button-tray {

        @include grid-row(1);
        @include grid-column-span;

        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        max-width:      inherit;

        @media #{$wide-screen} {
            width: max-content;
        }

        //=====================================================================
        // Components
        //=====================================================================

        %upload-tray-control {
            flex:   0 1 auto;
            margin: 0 0.5rem 1rem 0;
        }

        .submit-button {
            @extend %upload-tray-control;
        }

        .cancel-button {
            @extend %upload-tray-control;
        }

        // Appended to .button-tray and moved into place via file-upload.js.
        .uppy-FileInput-container {
            @extend %upload-tray-control;
        }

        // Display for the selected filename moved into place by setupUpload()
        // in app/assets/javascripts/feature/file-upload.js.
        .uploaded-filename {

            @extend %upload-tray-control;

            margin-right: 0;
            line-height:  2.15;

            @media #{$wide-screen} {
                max-width: 75vw;
            }

            @media #{$medium-width} {
                max-width: 92.5vw;
            }

            @media #{$narrow-screen} {
                .filename {
                    max-width: 85vw;
                }
            }
        }
    }

    //=========================================================================
    // Elements - second grid row (if not using .controls container)
    //=========================================================================

    // Control for filtering which upload form fields are displayed.
    // noinspection CssReplaceWithShorthandSafely
    .upload-field-control {

        @include grid-column-span;

        @extend %control-shadow;

        position:   sticky;
        top:        1rem;
        background: white;
        box-shadow: 0.25rem 0.25rem 0.25rem -0.125rem lightgray;

        @media #{$narrow-screen} {
            padding:       0.25rem;
            padding-right: 0.5rem;
            line-height:   1.25;
        }
    }

    //=========================================================================
    // Elements - first grid row (if using .controls container)
    //=========================================================================

    .controls {

        @include grid-row(1);
        @include grid-column-span;

        @include grid(1fr);
        @include grid-gap($form-gap);

        position:      sticky;
        top:           $form-gap;
        margin-bottom: $form-gap;
        background:    white;
        box-shadow:    0 -0.5rem 0      1.0rem white,
                       0  0.5rem 0.5rem 0.5rem white;
        z-index:       $z-top;

        @media #{$narrow-screen} {

            @include grid-gap($form-gap-narrow);

            top:           2 * $form-gap-narrow;
            margin-bottom: $form-gap-narrow;
        }
    }

    //=========================================================================
    // Elements - final grid row
    //=========================================================================

    // Container for metadata field inputs.
    .upload-fields {

        @include grid-column-span;

        z-index: $z-visible; // NOTE: Needed for Firefox.
    }

    //=========================================================================
    // Properties
    //=========================================================================

    // Add to a button to accent it as the next best action to perform.
    .best-choice:not(:hover) {

        box-shadow: 0 0 0.5rem 0.25rem $button-accent;

        &:focus {
            outline: 1px solid gray;
        }
    }
}

// noinspection SassScssResolvedByNameOnly
.file-upload-form.bulk {
    .uppy-FileInput-container {

        // In modern browsers, clicking on the <label> associated with
        // an <input type="file"> behaves the same as clicking the
        // input itself.
        label {

            @extend .uppy-FileInput-btn;
            @extend %button-hover;

            height: max-content;
        }

        // Remove the input from view (can't do "display: none" or that
        // would remove the item from the form).
        input[type="file"].uppy-FileInput-btn {
            @extend %sr-only;
        }
    }
}

// noinspection SassScssResolvedByNameOnly
.file-upload-delete.bulk {

    @include grid(1fr, 2);

    .line,
    .form-controls {

        @include grid-column-span;

        display:    flex;
        flex-wrap:  wrap;
        column-gap: 0.5rem;
    }

    label {
        flex: 0 1 auto;
    }

    input[type="text"] {
        flex: 1 1 auto;
    }
}

// The element which contains .file-upload-form.
//
// noinspection SassScssResolvedByNameOnly
.file-upload-container {

    // If true then the area where the status bar will appear during upload is
    // always present, effectively vertical white space except when visible.
    // This prevents the display from expanding and collapsing during the time
    // that Uppy displays the status bar.

    $status-bar-is-white-space: true;

    @include grid(1fr);
    @include grid-gap(1rem);

    @if $status-bar-is-white-space {
        margin-top: 0;
    } @else {
        margin-top: 2rem;
    }
    margin-bottom: 1.5rem;

    @media #{$wide-screen} {
        width: 50vw;
    }

    @media #{$narrow-screen} {
        @include grid(1fr);
    }

    //=========================================================================
    // Elements
    //=========================================================================

    // Form containing and metadata field inputs and file upload controls.
    .file-upload-form {
        width:      inherit;
        max-width:  95vw;
        margin-top: 0;
        z-index:    $z-visible;
    }

    // No status bar for bulk upload so extra white space is needed above.
    .file-upload-form.bulk,
    .file-upload-delete.bulk {
        margin-top:    2rem;
        margin-bottom: -1.5rem;
    }

    // Inserted by Uppy via file-upload.js if FEATURES.status_bar is true.
    .uppy-ProgressBar,
    .uppy-StatusBar {

        @include grid-row(1);
        @include grid-column-span;

        @if $status-bar-is-white-space {

            min-height: 3rem;

            &:before {
                background-color: transparent;
            }

            // Before upload is engaged.
            &.is-waiting {
                .uppy-StatusBar-actions {
                    background-color: transparent;
                }
            }

            // Back to "white space" after uploading is finished.
            &.is-complete {
                visibility: hidden;
            }
        }
    }

    // Inserted by Uppy via file-upload.js.
    // Doesn't need grid adjustment.
    .uppy-Informer { }
}

// List of upload actions (new, edit, delete).
ul.file-upload-actions {

    margin-top: 3rem;
    padding:    0.5rem 0 0;
    border-top: 2px solid gray;

    li.file-upload-action {

        margin-top:          0.5rem;
        list-style-position: inside;

        // noinspection SassScssResolvedByNameOnly
        .control:focus {
            outline-color:   $text-focus;
            outline-offset:  2.5px;
        }
    }
}
