// app/assets/stylesheets/feature/_flash.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Flash message display.
//=============================================================================

.flash-messages {

    > * {
        margin:        1rem 0;
        padding:       1rem;
        overflow-wrap: break-word;
        border:        2px solid gray;
        border-radius: 8px;
    }

    // noinspection SassScssResolvedByNameOnly
    .notice {
        background-color: $notice-bg;
    }

    // noinspection SassScssResolvedByNameOnly
    .alert {
        background-color: $alert-bg;
    }

    // A boxed area within the flash message.
    .box {
        display:    block;
        padding:    0.5rem;
        background: ghostwhite;
    }

    // A new line within a flash message.
    // @see FlashHelper::Entry#render
    .line {

        display:    block;
        margin-top: 0.5rem;

        .part {
            display: inline-block;
        }

        .part + .part {
            margin-left: 0.5rem;
        }

        .first:not(.last) {
            font-weight: bold;
        }
    }
}
