// app/assets/stylesheets/feature/_images.scss

@use 'shared/variables' as *;
@use 'shared/common'    as *;

//=============================================================================
// Common <img> properties.
//=============================================================================

$image-border-width: 1px;
$image-border-color: gray;

%image {
    object-fit:    contain;
    border:        $image-border-width solid $image-border-color;
    border-radius: 3px;
}

%thumbnail-dimensions {

    max-width:  $thumbnail-max-x;
    max-height: $thumbnail-max-y;
    height:     $thumbnail-max-y;

    @media #{$narrow-screen} {
        max-height: unset;
        height:     auto;
    }
}

%placeholder-image {
    border-color: transparent;
}

//=============================================================================
// Cover images.
//=============================================================================

// @see TitleHelper#cover_image
.cover-image {

    img {
        @extend %image;
    }

    .placeholder {

        @extend %placeholder-image;

        display: block;
        margin:  0 auto;
    }
}

//=============================================================================
// Thumbnail images.
//=============================================================================

// @see TitleHelper#thumbnail
.thumbnail {

    // NOTE: Determined experimentally for consistency across results pages.
    $min-thumbnail-width: 94px;

    min-width: $min-thumbnail-width;

    img {
        @extend %image;
        @extend %thumbnail-dimensions;
    }

    .placeholder {

        @extend %placeholder-image;

        width:     $min-thumbnail-width - (2 * $image-border-width);
        height:    auto;
        transform: scale(0.5);
    }

    // When a thumbnail is the content of a link (which is identical to the
    // title link) this is a convenience in a standard browser but a nuisance
    // in a screen reader.  However, <a aria-hidden="true" tabindex="-1">
    // doesn't actually take a link out of "focus order", so the
    // <a tabindex="-1"> wrapping the <img> must itself be wrapped in a
    // <div aria-hidden="true">.
    a.thumbnail {

        margin-bottom: 0;

        // Show focus outline on the image -- not on the enclosing <a> element.
        &:focus {

            outline: none;

            img {
                @extend %focus;
            }
        }
    }
}
