// app/assets/stylesheets/feature/_images.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Common <img> properties.
//=============================================================================

%image {
    object-fit:    contain;
    border:        1px solid gray;
    border-radius: 3px;
}

// noinspection SassScssResolvedByNameOnly
%thumbnail-dimensions {

    max-width:  $thumbnail-max-x;
    max-height: $thumbnail-max-y;
    height:     $thumbnail-max-y;

    @media #{$browser-ie} {
        max-width:  $ie-thumbnail-max-x;
        max-height: $ie-thumbnail-max-y;
        height:     $ie-thumbnail-max-y;
    }
}

//=============================================================================
// Placeholder image.
//=============================================================================

// NOTE: For "loading-balls.gif"
.placeholder {
    border: none;
}

//=============================================================================
// Cover images.
//=============================================================================

// @see TitleHelper#cover_image
.cover-image {

    img {
        @extend %image;
    }

    .placeholder {
        display: block;
        margin:  0 auto;
    }
}

//=============================================================================
// Thumbnail images.
//=============================================================================

// @see TitleHelper#thumbnail
.thumbnail {

    // noinspection SassScssResolvedByNameOnly
    img {
        @extend %image;
        @extend %thumbnail-dimensions;
    }

    .placeholder {
        width:     max-content;
        transform: translateY(-50px);
    }
}
