// app/assets/stylesheets/feature/_link.scss

@use 'shared/variables'        as *;
@use 'shared/mixins'           as *;

@use 'layouts/controls/panels' as panel-classes;

//=============================================================================
// Internal constants
//=============================================================================

$page-section-gap:       3rem;
$page-section-gap-small: $page-section-gap * 0.5;

//=============================================================================
// Common page text sections
//=============================================================================

// Text sections on pages.
// @see LayoutHelper::PageSections#page_text_section
.page-text-section {

    margin: $page-padding 0;

    @media #{$wide-screen} {
        width: 50%;
    }

    // Space between consecutive text sections.
    & + & {

        @media #{$not-narrow-screen} {
            margin-top: $page-section-gap;
        }

        @media #{$narrow-screen} {
            margin-top: $page-section-gap-small;
        }
    }

    //=========================================================================
    // Enclosed element styles
    //=========================================================================

    h1, h2, h3 { font-size: large; }

    //=========================================================================
    // Variants
    //=========================================================================

    // Text following the header on the page.
    &.description {
        @extend .panel;
    }

    // Text preceding the main control section of the page.
    &.directions {
        font-weight: bold;
    }

    // Text following the main control section of the page.
    &.notes {

        @extend .description;

        @media #{$not-narrow-screen} {
            margin: $page-section-gap 0;
        }

        @media #{$narrow-screen} {
            margin: $page-section-gap-small 0;
        }
    }

    // Special text.
    &.alert {

        @extend .description;

        font-size:    larger;
        font-weight:  bold;
        border-color: $alert-fg;
    }
}

// List of controller actions (new, edit, delete).
// @see BaseDecorator::Links#action_list
ul.page-actions {

    @include user-select(none);

    margin-top: 3rem;
    padding:    0.5rem 0 0;
    border-top: 2px solid gray;

    li.page-action {

        list-style-position: inside;

        @media #{$not-narrow-screen} {
            margin-top:      0.5rem;
        }

        @media #{$narrow-screen} {
            margin-top:      0.75rem;
        }

        .control {
            @media #{$narrow-screen} {
                margin: -0.25rem;
                border: 0.25rem solid transparent;
            }
        }

        .control:focus {
            outline-offset: 2.5px;
        }
    }
}
