// app/assets/stylesheets/feature/_link.scss

@use 'sass:math';
@use 'shared/variables' as v;

//=============================================================================
// Internal constants
//=============================================================================

$page-section-gap:       3rem;
$page-section-gap-small: math.div($page-section-gap, 2);

//=============================================================================
// Common page text sections
//=============================================================================

// Text sections on pages.
// @see LinkHelper#page_text_section
.page-text-section {

    margin: v.$page-padding 0;

    @media #{v.$wide-screen} {
        width: 50%;
    }

    // Space between consecutive text sections.
    & + & {

        margin-top: $page-section-gap;

        @media #{v.$narrow-screen} {
            margin-top: $page-section-gap-small;
        }
    }

    //=========================================================================
    // Enclosed element styles
    //=========================================================================

    h1, h2, h3 { font-size: large; }

    //=========================================================================
    // Variants
    //=========================================================================

    // Text following the header on the page.
    &.description {
        @extend .panel;
    }

    // Text preceding the main control section of the page.
    &.directions {
        font-weight: bold;
    }

    // Text following the main control section of the page.
    &.notes {

        @extend .description;

        margin: $page-section-gap 0;

        @media #{v.$narrow-screen} {
            margin: $page-section-gap-small 0;
        }
    }

    // Special text.
    &.alert {

        @extend .description;

        font-size:    larger;
        font-weight:  bold;
        border-color: v.$alert-fg;
    }
}

// List of upload actions (new, edit, delete).
// @see LinkHelper#page_action_list
ul.page-actions {

    margin-top: 3rem;
    padding:    0.5rem 0 0;
    border-top: 2px solid gray;

    li.page-action {

        margin-top:          0.5rem;
        list-style-position: inside;

        .control:focus {
            outline-color:   v.$text-focus;
            outline-offset:  2.5px;
        }

        @media #{v.$narrow-screen} {

            margin-top: 0.75rem;

            .control {
                margin: -0.25rem;
                border: 0.25rem solid transparent;
            }
        }
    }
}
