// app/assets/stylesheets/feature/_model.scss

// @use 'shared/mixins';         // TODO: SASS 4.0
// @use 'shared/common';         // TODO: SASS 4.0
// @use 'shared/controls/grids'; // TODO: SASS 4.0
// @use 'shared/controls/lists'; // TODO: SASS 4.0

//=============================================================================
// Definitions
//=============================================================================

// noinspection SassScssResolvedByNameOnly
$results-entry-gap-x:    $page-padding-x;

// noinspection SassScssResolvedByNameOnly
$results-entry-gap-y:    $page-padding;

// This fixed value will maintain an acceptable separation between links
// without being scaled to display dimensions.
$results-entry-margin-y: 0.67rem;

//=============================================================================
// Item metadata
//=============================================================================

// A collection of one or more label/value pairs.
//
// noinspection SassScssResolvedByNameOnly, CssOverwrittenProperties
.label-value-pairs {

    @extend .list-2-column;

    margin-bottom: $results-entry-gap-y;
    break-inside:  avoid;
    break-inside:  avoid-column;
    break-after:   left;
    align-content: flex-start;

    @media #{$narrow-screen} {
        @include grid-columns(100%);
    }

    //=========================================================================
    // Classes
    //=========================================================================

    // Make focus outline follow the perimeter of the area of clickable text
    // rather than the individual lines.
    a {
        display:   inline-block;
        min-width: 48px; // Accessibility best practice. // TODO: reference
        max-width: max-content;
    }

    //=========================================================================
    // Components
    //=========================================================================

    // noinspection CssOverwrittenProperties
    .label,
    .value {
        margin-bottom: $results-entry-margin-y;
        word-break:    break-word;
        break-inside:  avoid;
        break-inside:  avoid-column;
    }

    .label {

        font-weight: bold;

        @media #{$narrow-screen} {
            margin-bottom: $flex-gap-y;
        }
    }

    .value {

        @media #{$narrow-screen} {
            margin-bottom: calc(3 * #{$results-entry-gap-y} / 2);
        }

        // noinspection CssOverwrittenProperties
        &.field-Links {

            word-break: break-all;
            word-break: break-word;

            > * {

                display:    block;
                margin-top: $results-entry-margin-y;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

//=============================================================================
// Item list (index page) support
//=============================================================================

// Metadata label/value pairs on index pages.
.item-list-entry {

    @extend .label-value-pairs;

    // noinspection SassScssResolvedByNameOnly
    &.empty {

        @include grid-columns(0 max-content);

        margin-top:    $results-entry-gap-y;
        margin-bottom: 0;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label {}

    .value {
        &.field-None {

            width:         max-content;
            margin-bottom: $results-entry-gap-y;
        }
    }
}

// Zero or more .item-list-entry elements.
//
// noinspection SassScssResolvedByNameOnly
.item-list {

    @extend .list-2-column;

    margin-top:    -1rem;
    margin-bottom: 1rem;
    align-content: flex-start;

    //=========================================================================
    // Components
    //=========================================================================

    .number {

        font-family: $font-condensed;

        .container {
            @extend %clear-default-styling;
        }
    }
}

//=============================================================================
// Item details (show page) support
//=============================================================================

// Metadata label/value pairs on show pages.
.item-details {

    @extend .label-value-pairs;

    //=========================================================================
    // Components
    //=========================================================================

    // Add a top margin except to the first label/value pair.
    .value + .label,
    .value + .label + .value {
        margin-top: $results-entry-margin-y;
    }
}

// Wrapper for item details which supports a second column of information to
// the right of the details listing.
//
// noinspection SassScssResolvedByNameOnly
.item-container {

    display:        flex;
    flex-direction: column;

    @media #{$wide-screen} {
        margin-top:     $page-padding;
        flex-direction: row;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    > * {

        margin: 0 0 $page-padding-y 0;

        @media #{$wide-screen} {

            flex:         1 1 50%;
            margin-right: $page-padding-x;

            &:last-child {
                margin-right: 0;
            }
        }

        @media #{$narrow-screen} {

            margin-top: calc(2 * #{$page-padding});

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
