// app/assets/stylesheets/feature/_model.scss

@use 'shared/variables'       as *;
@use 'shared/functions'       as *;
@use 'shared/mixins'          as *;
@use 'shared/controls/grids'  as grid;
@use 'shared/controls/lists'  as list;
@use 'shared/controls/tables' as table;
@use 'shared/feature/model'   as model;

//=============================================================================
// Internal mixins
//=============================================================================

@mixin value-box($color: black) {
    padding:       0 0.25rem;
    border:        1px solid $color;
    border-radius: 0.125rem;
}

//=============================================================================
// Item metadata
//=============================================================================

// A collection of one or more label/value pairs.
//
// noinspection CssOverwrittenProperties
.label-value-pairs {

    @include list.columns-2;

    margin-bottom: model.$list-item-gap-y;
    break-inside:  avoid;
    break-inside:  avoid-column;
    break-after:   left;
    align-content: flex-start;

    @media #{$narrow-screen} {
        grid-template-columns: 100%;
    }

    //=========================================================================
    // Classes
    //=========================================================================

    // Make focus outline follow the perimeter of the area of clickable text
    // rather than the individual lines.
    a {
        display:   inline-block;
        min-width: 48px; // Accessibility best practice. // TODO: reference
        max-width: max-content;
    }

    //=========================================================================
    // Components
    //=========================================================================

    // Used to group .label and .value grid elements to provide a logical
    // pairing (for accessibility purposes) while not interfering with grid
    // layout.
    .pair {
        @include logical-grouping;
    }

    // noinspection CssOverwrittenProperties
    .label,
    .value {
        margin-bottom: model.$list-item-margin-y;
        word-break:    break-word;
        break-inside:  avoid;
        break-inside:  avoid-column;
    }

    .label {

        font-weight: bold;
        align-self:  baseline;

        @media #{$narrow-screen} {
            margin-bottom: $flex-gap-y;
        }
    }

    .value {

        @media #{$narrow-screen} {
            margin-bottom: calc(3 * #{model.$list-item-gap-y} / 2);
        }

        // noinspection CssOverwrittenProperties
        &.field-Links {

            word-break: break-all;
            word-break: break-word;

            > * {

                display:    block;
                margin-top: model.$list-item-margin-y;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

//=============================================================================
// Item list (index page) support
//=============================================================================

// Metadata label/value pairs on index pages.
// @see BaseDecorator::List#list_item
.model-list-item {

    @extend .label-value-pairs;

    &.empty {
        margin-bottom:         0;
        grid-template-columns: max-content;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label {}

    .value {
        &.field-None {
            width: max-content;
        }
    }
}

// Zero or more .model-list-item elements.
.model-list {

    @include list.columns-2;

    margin:        model.$list-item-gap-y 0;
    align-content: flex-start;

    //=========================================================================
    // Components
    //=========================================================================

    .number {

        font-family: $font-condensed;
        cursor:      text;

        // Sticky container which keeps the item number and icon tray in view
        // as the item is scrolled off the top of the screen.
        .container {

            @include clear-default-styling;

            display:        flex;
            flex-direction: column;
            align-items:    center;
            position:       sticky;
            top:            2%;
            margin:         0;
            padding:        0;

            @media #{$narrow-screen} {
                max-width:  1rem;
            }

            //=================================================================
            // Components
            //=================================================================

            $tray-pad: (model.$tray-pad);
            $icon-pad: (model.$icon-pad);

            // Item number value.
            .value {

                margin-bottom: 1rem;
                font-size:     large;
                font-weight:   bold;

                @media #{$narrow-screen} {
                    font-size: larger;
                }
            }

            // Vertical tray of action button icons.
            .icon-tray {

                display:        flex;
                flex-direction: column;
                align-items:    center;
                padding:        $tray-pad;
                margin-left:    -$tray-pad;
                margin-right:   -$tray-pad;
                background:     whitesmoke;
                border:         1px solid $root-fg-color;
                border-radius:  0.25rem;

                @media #{$narrow-screen} {
                    padding-left:  $icon-pad;
                    padding-right: $icon-pad;
                    margin-left:   0;
                    margin-right:  -0.125rem;
                }
            }

            // Action button icon to perform an operation to the current item.
            .icon {

                @include hover-highlight;
                @include user-select(none);

                padding:         0 $icon-pad;
                margin-left:     -$icon-pad;
                margin-right:    -$icon-pad;
                text-decoration: none;
                font-size:       large;
                color:           $uva-accent-blue;
                border-radius:   50%;

                &:hover {
                    text-decoration:  none;
                    background-color: $root-bg-color;
                }

                &:focus {
                    outline-offset: -0.05rem;
                }
            }
        }
    }
}

// Model metadata fields for index listings.
//
// noinspection CssReplaceWithShorthandSafely
.model-list-item-panel {

    $item-padding:     0.5rem;
    $value-separation: 2px;
    $max-columns:      20;

    @extend .model-list-item;

    padding:        $item-padding;
    padding-bottom: 2 * $item-padding;
    overflow-x:     auto;
    border:         2px solid $root-fg-color;
    border-radius:  0.5rem;
    background:     lighter($uva-accent-yellow, 95%);

    gap: 0 2rem;

    // Special-case listing when no records are found.
    &.empty {
        margin-top:  0;
        padding-top: 0;
        border:      none;
        background:  inherit;
    }

    // List data items in horizontal columns when there is enough room.
    @media #{$wide-screen} {

        @include grid.column-classes($max-columns, auto);

        grid-template-columns: repeat($max-columns, auto);

        > .label { grid-row-start: 1; }
        > .value { grid-row-start: 2; }
    }

    // Revert to one data item label/value per line with less room.
    @media #{$medium-width} {
        grid-template-columns: [label] minmax(10%,auto) [value] 1fr;
    }

    // Each label and value on a separate line on narrow screens.
    @media #{$narrow-screen} {

        grid-template-columns: 1fr;

        padding-bottom: 0;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .label {

        // Don't show the help icons when displaying the submission record.
        .help-popup {
            display: none;
        }

        // Make data values easier to distinguish from labels in single-column
        // display if they are not already clear.
        @media #{$narrow-screen} {

            .text {
                padding-bottom: $value-separation;
                border-bottom:  2px solid lightgray;
            }

            &.array,
            &.textbox {
                .text {
                    border-bottom: none;
                }
            }
        }
    }

    .value {

        @media #{$narrow-screen} {
            padding-top: $value-separation;
        }

        // Display multi-line fields inside a box.
        // @see BaseDecorator::List#render_pair
        &.list,
        &.textbox {
            @include width-fit-content;
            @include value-box(darkgray);
        }

        // Display fields with multiple values horizontally.
        // @see BaseDecorator::List#render_pair
        &.array {

            display:        flex;
            flex-direction: row;
            flex-wrap:      wrap;
            margin-bottom:  0;

            > * {

                @include value-box(blue);

                margin-right:  0.5rem;
                margin-bottom: 0.5rem;
                padding-top:   0.0625rem;
                line-height:   1;
            }

            @media #{$narrow-screen} {

                flex-direction: column;
                margin-bottom:  0.5rem;
                border-top:     none;

                &:last-of-type {
                    margin-bottom: 0;
                }

                > * {
                    margin-right: 0;
                }
            }
        }

        &.field-Description {
            white-space: pre-wrap;
        }
    }

    // Hierarchical display for data items containing JSON.
    .data-list {

        @extend .model-list;

        $wide-margin:   2rem;
        $medium-margin: 1rem;
        $narrow-margin: 0.5rem;

        margin:  0 $wide-margin;
        padding: $item-padding;

        @media #{$medium-width} {
            margin: 0 $medium-margin;
        }

        @media #{$narrow-screen} {

            $left:  $narrow-margin;
            $right: 0.5 * $narrow-margin;

            margin: 0 $right 0 $left;

            grid-template-columns: 1fr;
        }

        @if not model.$data-list-border-color == none {
            border:         2px solid model.$data-list-border-color;
            border-radius:  0.5rem;
        }

        // Adjustment for a hierarchical element which is itself a hierarchy.
        .data-list {

            margin-top:   1.75rem;
            margin-left:  -4rem;
            margin-right: $wide-margin;

            @media #{$medium-width} {
                margin-right: $medium-margin * 1.25;
            }

            @media #{$narrow-screen} {
                margin-top:   $narrow-margin * 0.5;
                margin-left:  $narrow-margin;
                margin-right: $narrow-margin;
            }
        }
    }
}

// Metadata in tabular form.
.model-table {
    @include table.grid-table;
}

//=============================================================================
// Item details (show page) support
//=============================================================================

// Metadata label/value pairs on show pages.
.model-details {

    @extend .label-value-pairs;

    //=========================================================================
    // Components
    //=========================================================================

    // Add a top margin except to the first label/value pair.
    .value + .label,
    .value + .label + .value {
        margin-top: model.$list-item-margin-y;
    }
}

// Wrapper for item details which supports a second column of information to
// the right of the details listing.
.model-container {

    display:        flex;
    flex-direction: column;

    @media #{$wide-screen} {
        margin-top:     $page-padding;
        flex-direction: row;
    }

    //=========================================================================
    // Sections
    //=========================================================================

    > * {

        margin: 0 0 $page-padding-y 0;

        &:last-child {
            img {
                max-width: 100%;
            }
        }

        @media #{$wide-screen} {

            flex:         1 1 50%;
            margin-right: $page-padding-x;

            &:last-child {
                margin-right: 0;
            }
        }

        @media #{$narrow-screen} {

            margin-top: calc(2 * #{$page-padding});

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

//=============================================================================
// Hacks
//=============================================================================

// This was necessary because "@extend .label-value-pairs;" for
// .search-label-value-pairs (controllers/_search.scss) was failing with
// 'Use "@extend .label-value-pairs !optional" to avoid this error.'
//
// For unknown reasons, extending this works to achieve the intended result.
//
%label-value-pairs {
    @extend .label-value-pairs;
}
