// app/assets/stylesheets/feature/_pagination.scss

// @use 'shared/common'; // TODO: SASS 4.0

//=============================================================================
// Pagination controls.
//=============================================================================

// noinspection SassScssResolvedByNameOnly
.pagination {

    @extend %control-group;

    width: min-content;

    > * {

        font-weight: bold;

        @media #{$wide-screen} {
            font-size: small;
        }
    }

    a:focus {
        outline:        1px solid gray;
        outline-offset: 1px;
    }
}
