// app/assets/stylesheets/feature/_pagination.scss

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Pagination controls.
//=============================================================================

// @see BaseCollectionDecorator::List#pagination_controls
.pagination-controls {

    @include control-group;

    width:         min-content;
    height:        min-content;
    padding-left:  0.625rem;
    padding-right: 0.625rem;
    line-height:   1.5;
    border-radius: 0.75rem;

    @media #{$narrow-screen} {
        margin:    0 auto;
        font-size: medium;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .first,
    .prev,
    .next,
    .last {

        // Increase the click target size.
        margin:             -0.125rem;
        padding:            0.125rem 0.25rem;
        text-decoration:    none;

        &:focus {
            outline-offset: -0.125rem;
        }

        .icon,
        .label {

            font-weight:   bold;

            @media #{$not-narrow-screen} {
                font-size: small;
            }
        }

        .label {
            text-decoration: underline;
        }

        .icon:not(.hidden) + .label,
        .label + .icon:not(.hidden) {
            margin-left: 0.375rem;
        }

        &.disabled {
            .icon {
                color: gray;
            }
            .label {
                text-decoration: none;
            }
        }
    }

    .separator {

        margin:      -1px 0.375rem 3px;
        padding:     0;
        line-height: 0.75;
        font-size:   large;
        font-weight: bold;
        color:       gray;

        @media #{$not-narrow-screen} {
            font-size: x-large;
        }
    }
}

// @see BaseCollectionDecorator::List#index_controls
.pagination-top {

    display:        flex;
    flex-wrap:      wrap;
    flex-direction: row;

    @media #{$not-narrow-screen} {
        align-items: center;
        max-width:   inherit;
    }

    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Components
    //=========================================================================

    .pagination-controls {
        flex: 0 0 auto;
    }

    .counts {

        flex:        0 1 auto;
        line-height: 1.25;

        @media #{$not-narrow-screen} {
            margin-left: 1.5rem;
        }

        @media #{$medium-width} {
            flex-basis: 50%; // Push .list-filter-panel to next row.
        }

        @media #{$narrow-screen} {
            flex-direction: column;
            align-items:    center;
            margin:         1rem 0 0;
        }

        .page-count {
            display:       inline-block;
            padding:       0.25rem 0.625rem;
            font-weight:   bold;
            word-spacing:  0.125rem;
            color:         white;
            background:    $uva-blue;
            border:        2px solid lightgray;
            border-radius: 4px;
        }

        .search-count {

            display: inline-block;
            margin:  auto 0 auto 0.75rem;

            @media #{$narrow-screen} {
                margin: 0.5rem 0 0;
            }

            //=================================================================
            // Variations
            //=================================================================

            &.single-page {
                > *:not(.single-page) {
                    @include hidden;
                }
            }

            &.multi-page {
                > *:not(.multi-page) {
                    @include hidden;
                }
            }
        }
    }
}
