// app/assets/stylesheets/feature/_record.scss

@use 'shared/variables'       as *;

@use 'layouts/controls/popup' as popup-classes;

//=============================================================================
// Repository record popup control
//=============================================================================

// @see SearchHelper#record_popup
.record-popup {

    @extend .popup-container;

    .control.text {
        // TODO: ??? .record-popup .control.text
    }

    // noinspection DuplicatedCode
    .popup-panel {

        @media #{$wide-screen} {
            position: fixed;
            top:      3rem;
            bottom:   3rem;
            left:     3rem;
            right:    3rem;
        }

        @media #{$medium-width} {
            position: fixed;
            top:      2rem;
            bottom:   2rem;
            left:     2rem;
            right:    2rem;
        }
    }
}

// Reduce unneeded whitespace at the top of the modal page inside an <iframe>.
body.upload.modal, // TODO: remove after upload -> entry
body.entry.modal {
    .layout-content {
        margin-top: -1rem;
    }
}
