// app/assets/stylesheets/feature/_record.scss

@use 'shared/variables'       as *;

@use 'layouts/controls/popup' as popup-classes;

//=============================================================================
// Repository record popup control
//=============================================================================

// @see SearchDecorator#record_popup
.inline-popup.record-popup {

    .popup-toggle.text {
        // TODO: ??? .record-popup .popup-toggle.text
    }

    .popup-panel {

        @media #{$wide-screen} {
            position: fixed;
            top:      3rem;
            bottom:   3rem;
            left:     3rem;
            right:    3rem;
        }

        @media #{$medium-width} {
            position: fixed;
            top:      2rem;
            bottom:   2rem;
            left:     2rem;
            right:    2rem;
        }
    }
}

// Reduce unneeded whitespace at the top of the modal page inside an <iframe>.
body.upload.modal {
    .layout-content {
        margin-top: -1rem;
    }
}
