// app/assets/stylesheets/feature/_scroll.scss

@use 'sass:math';

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Scroll-to-top button
//=============================================================================

.scroll-to-top {

    @include hover-highlight;

    position:        fixed;
    display:         block;
    aspect-ratio:    1;
    height:          1.25em;
    padding-bottom:  0.125em;
    line-height:     1;
    font-size:       xx-large;
    text-decoration: none;
    color:           white;
    background:      $uva-accent-orange;
    border:          1px solid $uva-accent-orange;
    border-radius:   50%;
    z-index:         $z-scroll-to-top;

    &.icon {
        font-size:       x-large;
        border-radius:   50%;
    }

    &.text {
        font-size:       1.5rem;
        border-radius:   1rem;
    }

    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        border-color:    white;
    }

    &.hidden {
        @include hidden;
    }

    &:not(.hidden) {

        $button-bottom:       3rem;
        $button-right:        3rem;
        $button-bottom-small: math.div($button-bottom, 2);
        $button-right-small:  math.div($button-right, 2);

        @media #{$not-narrow-screen} {

            bottom: $button-bottom;
            right:  $button-right;

            @keyframes show-scroll-to-top {
                0%   { bottom: -2rem; }
                100% { bottom: $button-bottom; }
            }
        }

        @media #{$narrow-screen} {

            bottom: $button-bottom-small;
            right:  $button-right-small;

            @keyframes show-scroll-to-top {
                0%   { bottom: -2rem; }
                100% { bottom: $button-bottom-small; }
            }
        }

        animation: show-scroll-to-top 1s;
    }

}
