// app/assets/stylesheets/feature/_scroll.scss

@use 'shared/variables' as *;
@use 'shared/mixins'    as *;

//=============================================================================
// Scroll-to-top button
//=============================================================================

.scroll-to-top {

    @include hover-highlight;

    position:               fixed;
    display:                block;
    aspect-ratio:           1;
    padding-bottom:         0.125em;
    line-height:            1;
    font-size:              xx-large;
    text-decoration:        none;
    color:                  white;
    background:             $uva-accent-orange;
    border:                 1px solid $uva-accent-orange;
    border-radius:          50%;
    box-shadow:             0 0 0.5rem 0.25rem var(--bg-color);
    z-index:                $z-scroll-to-top;

    &.scroll-down-to-top {
        padding-bottom:     0;
    }

    &.icon {
        font-size:          x-large;
        border-radius:      50%;
    }

    &.text {
        font-size:          1.5rem;
        border-radius:      1rem;
    }

    &:focus {
        text-decoration:    none;
        outline-offset:     3px;
        outline-width:      3px;
    }

    &:hover {
        text-decoration:    none;
        border-color:       white;
    }

    &.hidden {
        @include hidden;
    }

    &:not(.hidden) {

        @media #{$not-narrow-screen} {
            --button-bottom: 4vh;
            --button-right:  2vw;
        }

        @media #{$narrow-screen} {
            --button-bottom: 3vh;
            --button-right:  3vw;
        }

        bottom:    var(--button-bottom);
        right:     var(--button-right);
        animation: show-scroll-to-top 1s;

        @keyframes show-scroll-to-top {
            0%   { bottom: -2rem; }
            100% { bottom: var(--button-bottom); }
        }
    }

    // This variant is displayed initially when at the top of the page to allow
    // moving the "scroll-to-top target" to the top of the window in one click.
    &.scroll-down-to-top { }

}
