// app/assets/stylesheets/feature/_search.scss

@use 'shared/variables'      as *;
@use 'shared/controls/grids' as grid;
@use 'shared/feature/model'  as model;

//=============================================================================
// Search controls
//=============================================================================

$list-item-gap-y: model.$list-item-gap-y;

.pagination-top,
.pagination-bottom {

    @include grid.column-span;

    max-width: inherit;
    margin:    0;
}

// @see BaseCollectionDecorator::List#index_controls
.pagination-top {

    margin-top:         $list-item-gap-y;

    @media #{$not-narrow-screen} {
        margin-bottom:  calc(2 * $list-item-gap-y);
    }

    @media #{$narrow-screen} {
        margin-bottom:  $list-item-gap-y;
    }
}

// @see BaseCollectionDecorator::List#index_controls
.pagination-bottom {

    margin-bottom:  0;

    @media #{$wide-screen} {
        margin-top: calc($list-item-gap-y / 2);
    }

    @media #{$not-wide-screen} {
        margin-top: calc(2 * $list-item-gap-y);
    }
}

.counts {

    //=========================================================================
    // Elements
    //=========================================================================

    // Current page of results.
    .page-count {
        // TODO: ??? .counts .page-count
    }

    // A total count of the number of search results.
    .search-count {

        display:        inline-block;
        margin:         0 0 0 0.75rem;

        @media #{$narrow-screen} {
            margin-top: 0.5rem;
        }
    }
}
