// app/assets/stylesheets/feature/_search.scss

@use 'shared/variables'       as *;
@use 'shared/controls/grids'  as grid;
@use 'shared/feature/model'   as model;
@use 'shared/feature/overlay' as overlay;

//=============================================================================
// Search controls
//=============================================================================

.pagination-top,
.pagination-bottom {

    @include grid.column-span;

    max-width: inherit;
    margin:    0;
}

// @see BaseCollectionDecorator::List#index_controls
.pagination-top {

    margin-top:    model.$list-item-gap-y;
    margin-bottom: calc(2 * #{model.$list-item-gap-y});

    @media #{$narrow-screen} {
        margin-bottom: model.$list-item-gap-y;
    }
}

// @see BaseCollectionDecorator::List#index_controls
.pagination-bottom {

    margin-top:    calc(#{model.$list-item-gap-y} / 2);
    margin-bottom: 0;

    @media #{$not-wide-screen} {
        margin-top: calc(2 * #{model.$list-item-gap-y});
    }
}

.counts {

    display: inline-flex;

    // Current page of results.
    .page-count {
        // TODO: ??? .counts .page-count
    }

    // A total count of the number of search results.
    .search-count {

        display: inline-block;
        margin:  0 0 0 0.75rem;

        @media #{$narrow-screen} {
            margin-top: 0.5rem;
        }
    }
}

//=============================================================================
// In-progress overlay
//=============================================================================

// An indicator that is presented during a time-consuming search.
// @see file:app/views/layouts/_overlays.html.erb
.search-in-progress {

    @include overlay.image('loading-balls.gif', $img-height: 1rem);

    .content {
        filter: saturate(1.5) drop-shadow(2px 2px 2px #444);
    }

    // When the search is done, hide the overlay immediately rather than easing
    // back to transparency.
    &:not(.visible) { transition: unset; }

}
