// app/assets/stylesheets/feature/_search.scss

// @use 'shared/common'; // TODO: SASS 4.0
// @use 'shared/mixins'; // TODO: SASS 4.0
// @use 'feature/lists'; // TODO: SASS 4.0

//=============================================================================
// Definitions
//=============================================================================

// noinspection SassScssResolvedByNameOnly
$results-entry-gap-x:    $page-padding-x;

// noinspection SassScssResolvedByNameOnly
$ie-results-entry-gap-x: $ie-page-padding-x;

// noinspection SassScssResolvedByNameOnly
$results-entry-gap-y:    $page-padding;

// noinspection SassScssResolvedByNameOnly
$ie-results-entry-gap-y: $ie-page-padding;

$results-entry-margin-y:    calc(#{$results-entry-gap-y} * 0.33);
$ie-results-entry-margin-y: $ie-results-entry-gap-y * 0.33;

//=============================================================================
// Search controls
//=============================================================================

.applied-search-terms,
.pagination-top,
.pagination-bottom {

    margin:      $results-entry-gap-y 0;
    grid-column: 1 / -1;

    // noinspection SassScssResolvedByNameOnly
    @media #{$browser-ie} {
        margin: $ie-results-entry-gap-y 0;
    }

    // noinspection SassScssResolvedByNameOnly
    @media #{$narrow-screen} {

        margin: calc(2 * #{$results-entry-gap-y}) 0;

        @media #{$browser-ie} {
            margin: (2 * $ie-results-entry-gap-y) 0;
        }
    }
}

.applied-search-terms + .pagination-top,
.pagination-bottom {
    margin-top: 0;
}

// A total count of the number of search results.
.search-count {
    display: inline-block;
    margin:  0.5rem 0 0 0.5rem;
}

//=============================================================================
// Search terms
//=============================================================================

// Search term(s) applied which yield the current result set.
//
// noinspection SassScssResolvedByNameOnly
.search-terms {

    @extend %control-group;

    flex-wrap:        wrap;
    background-color: inherit;

    @media #{$narrow-screen} {
        flex-direction: column;
    }

    //=========================================================================
    // Classes
    //=========================================================================

    $term-gap-x: 0.5rem;

    .label {

        margin-right: $term-gap-x;
        font-size:    large;
        font-weight:  bold;

        @media #{$narrow-screen} {
            margin-right: 0;
        }
    }

    .term {

        .field {
            font-size:    large;
            font-variant: small-caps;
        }

        .separator {
            margin-right: $term-gap-x / 2;
        }

        .value {

            @media #{$narrow-screen} {
                margin-right: 0;
            }
        }
    }

    .term-separator {

        margin-right: $term-gap-x;

        @media #{$narrow-screen} {
            display: none;
        }
    }
}

//=============================================================================
// Search result listing
//=============================================================================

// noinspection SassScssResolvedByNameOnly
.results-list {

    @extend .list-2-column;

    margin-top:   -1rem;
    margin-bottom: 1rem;

    .number {

        font-family: $font-condensed;

        // Make items easier to differentiate with "flex-direction: column".
        @media #{$browser-ie} {
            border-top:     1px solid darkgray;
            font-family:    $font-normal;
            padding-top:    $ie-gap-y;
            padding-bottom: $ie-gap-y;
        }
    }
}

//=============================================================================
// Search item metadata
//=============================================================================

// One or more label/value pairs.
//
// noinspection SassScssResolvedByNameOnly, CssOverwrittenProperties
.label-value-pairs {

    @extend .list-2-column;

    margin-bottom: $results-entry-gap-y;
    break-inside:  avoid;
    break-inside:  avoid-column;
    break-after:   left;

    @media #{$browser-ie} {
        margin-bottom: $ie-results-entry-gap-y;
    }

    @media #{$narrow-screen} {
        grid-template-columns: 100%;
    }

    //=========================================================================
    // Classes
    //=========================================================================

    // Make focus outline follow the perimeter of the area of clickable text
    // rather than the individual lines.
    a {
        display:   inline-block;
        min-width: 48px; // Accessibility best practice. // TODO: reference

        @media #{$browser-ie} {
            display: inline;
        }
    }

    // noinspection CssOverwrittenProperties
    .label,
    .value {

        margin-bottom: $results-entry-margin-y;
        word-break:    break-word;
        break-inside:  avoid;
        break-inside:  avoid-column;

        @media #{$browser-ie} {
            margin-bottom: $ie-results-entry-margin-y;
            break-inside:  auto;
        }
    }

    .label {
        font-weight: bold;
    }

    .value {
        @media #{$narrow-screen} {
            margin-bottom: $results-entry-gap-y;
        }
    }
}

// Metadata label/value pairs on index pages.
.list-entry {

    @extend .label-value-pairs;

    //=========================================================================
    // Classes
    //=========================================================================

    .value {
        &.field-None {

            width:         max-content;
            margin-top:    $results-entry-gap-y;
            margin-bottom: $results-entry-gap-y;

            @media #{$browser-ie} {
                margin-top:    $ie-results-entry-gap-y;
                margin-bottom: $ie-results-entry-gap-y;
            }
        }
    }
}

// Metadata label/value pairs on show pages.
.details-entry {

    @extend .label-value-pairs;

    // Add a top margin except to the first label/value pair.
    .value + .label,
    .value + .label + .value {

        margin-top: $results-entry-margin-y;

        @media #{$browser-ie} {
            margin-top: $ie-results-entry-margin-y;
        }
    }
}
