// app/assets/stylesheets/feature/_skip_nav.scss

@use 'shared/variables' as v;
@use 'shared/mixins'    as x;

//=============================================================================
// Internal constants
//=============================================================================

$sn-padding:   0.25rem;
$sn-margin:    3 * $sn-padding;
$sn-entry-gap: 0.1rem;

//=============================================================================
// "Skip navigation" menu
//=============================================================================

// Make the "skip navigation" menu visible when one of its links gets focus.
// @see file:app/views/layouts/_skip_nav.html.erb
.skip-nav {

    @include x.user-select(none);

    display:          block;
    position:         absolute;
    top:              $sn-margin;
    left:             $sn-margin;
    margin:           0;
    padding:          $sn-padding;
    background-color: v.$root-bg-color;
    border:           1px solid v.$root-fg-color;
    box-shadow:       0 0 0 1px v.$root-bg-color;

    &         { z-index: v.$z-hidden }
    &.visible { z-index: v.$z-popup; }

    .skip-nav-heading {

        // noinspection SassScssResolvedByNameOnly
        @extend %clear-default-styling;

        margin-bottom:           2 * $sn-entry-gap;
        font-style:              italic;
        text-decoration:         solid underline;
        text-underline-position: under;
    }

    .skip-nav-menu {

        // noinspection SassScssResolvedByNameOnly
        @extend %clear-default-styling;

        padding-top: $sn-entry-gap;

        a, a:visited {
            color:           v.$root-fg-color;
            text-decoration: none;
        }

        a:focus {
            outline-offset: 0.125rem;
        }

        li {

            // noinspection SassScssResolvedByNameOnly
            @extend %clear-default-styling;

            margin:     $sn-entry-gap;
            padding:    $sn-entry-gap $sn-entry-gap 0;
            list-style: none;
        }
    }
}
