<%# app/views/layouts/_copyright.html.erb -%>
<%-
  # Allows copyright and other disclaimers to be put at the end of <body> for
  # convenience when viewing the HTML in the browser console.
-%>
<!-- This site does not support Internet Explorer. -->
<!--[if lt IE 11]>
<noscript>
  <div class="ui-state-error error">
    <div class="notice">Notice</div>
    This site requires an HTML5-compliant browser and the use of JavaScript.
    Please view this site in Chrome, Firefox, Safari, Microsoft Edge or other
    modern web browser with JavaScript enabled.
  </div>
</noscript>
<![endif]-->
<!--
  Copyright 2018-2020 Rector and Visitors of the University of Virginia

  #############################################################################

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
