<%# app/views/layouts/_debug.html.erb -%>
<%-
  # Session debugging information.
  return unless session_debug?

  restore_system_availability =
    unless RunState::STATIC || RunState.available?
      label = 'Restore system availability' # TODO: I18n
      path  = set_run_state_health_path(state: :available)
      make_link(label, path, class: 'restore-availability', method: :put)
    end
-%>

<div class="footer-section session-debug">
  <%= restore_system_availability %>
  <%= session_debug %>
</div>
