<%# app/views/layouts/_debug.html.erb -%>
<%-
  # Session debugging information.
  return unless session_debug?

  restore_system_availability =
    unless RunState::STATIC || RunState.available?
      label = config_page(:health, :run_state, :restore)
      path  = set_run_state_health_path(state: :available)
      make_link(path, label, class: 'restore-availability', method: :put)
    end
-%>

<div class="footer-section page-debug">
  <%= restore_system_availability %>
  <%= session_debug_table %>
  <%= client_debug_table %>
</div>
