<%# app/views/layouts/_footer.html.erb -%>
<%-
  # Application footer.
-%>

<footer class="layout-footer">
  <div class="footer-section">
    <%= footer_table %>
  </div>
  <%= render 'layouts/debug' %>
</footer>
