<%# app/views/layouts/_messages.html.erb -%>
<%-
  # Flash messages.

  messages =
    %i[alert notice].flat_map { |type|
      [flash.now[type], flash[type]].flat_map { |flash_content|
        Array.wrap(flash_content).map { |msg|
          html_tag(:p, msg, class: type.to_s, role: 'alert')
        }
      }.uniq
    }.presence
  messages &&= safe_join(messages.unshift(nil).push(nil), "\n")

  css = 'flash-messages'
  css = css_classes(css, 'hidden') if messages.blank?

-%>

<div class="<%= css -%>">
  <%= messages %>
</div>
