<%# app/views/layouts/_messages.html.erb -%>
<%-
  # Flash messages.
  messages =
    %i[alert notice].flat_map { |type|
      [flash.now[type], flash[type]].map { |msg|
        content_tag(:p, msg, class: type.to_s) if msg.present?
      }
    }.compact.uniq.presence
  messages &&= safe_join(messages.unshift(nil).push(nil), "\n")

  flash.clear

  css = 'flash-messages'
  css = css_classes(css, 'hidden') if messages.blank?
-%>

<div class="<%= css -%>"><%= messages -%></div>
