<%# app/views/layouts/_nav_bar.html.erb -%>
<%-
  # Navigation bar.
  controls = (nav_bar_links if show_nav_bar?)
  return unless controls.present?
-%>

<nav class="layout-navbar">
  <%= controls %>
</nav>
