<%# app/views/layouts/_nav_bar.html.erb -%>
<%-
  # Navigation bar.
  skip ||= !show_nav_bar? and return
  controls = nav_bar_links.presence or return
-%>

<nav class="layout-navbar">
  <%= controls %>
</nav>
