<%# app/views/layouts/_overlays.html.erb -%>
<%-
  # Hidden element(s) that can be called up to cover the content area.

  #sip_content = 'Searching...' # TODO: I18n
  sip_content = nil

-%>

<div class="search-in-progress" aria-hidden="true">
  <div class="content" aria-hidden="true"><%= sip_content -%></div>
</div>
