<%# app/views/layouts/_overlays.html.erb -%>
<%-
  # Hidden element(s) that can be called up to cover the content area.

  #sip_content = 'Searching...' # TODO: I18n
  sip_content = nil

-%>

<div class="overlays" role="none" aria-hidden="true">
  <div class="search-in-progress">
    <div class="content"><%= sip_content -%></div>
  </div>
</div>
