<%# app/views/layouts/_search_controls.html.erb -%>
<%-
  # Search controls (sort, per-page).
  skip ||= !show_search_controls?
  return if skip
-%>

<div class="layout-section">
  <%= search_controls %>
</div>
