<%# app/views/layouts/_search_bar.html.erb -%>
<%-
  # Search input.
  skip ||= !show_search_bar?
  return if skip || (controls = search_bar).blank?
-%>

<div class="layout-section search" role="search">
  <%= controls %>
</div>
