<%# app/views/layouts/_search_bar.html.erb -%>
<%-
  # Search input.
  skip ||= !show_search_bar? and return
-%>

<div class="layout-section search input" role="search">
  <%= search_bar %>
  <%= advanced_search_button %>
</div>
