<%# app/views/layouts/_search_controls.html.erb -%>
<%-
  # Search controls (sort, per-page).
  skip ||= !show_search_controls?
  return if skip || (controls = search_controls).blank?
-%>

<div class="layout-section search controls">
  <%= controls %>
</div>
