<%# app/views/layouts/_search_bar.html.erb -%>
<%-
  # Search input and related controls.

  # noinspection RubyUnusedLocalVariable
  skip ||= !show_search_bar? and return
-%>

<div class="layout-section search bar" role="search">
  <div class="search-bar-container">
    <%= search_input_select %>
    <%= search_input_bar %>
    <%= reset_button %>
    <%= advanced_search_button %>
  </div>
</div>
