<%# app/views/layouts/_search_controls.html.erb -%>
<%-
  # Search controls (sort, per-page).

  # noinspection RubyUnusedLocalVariable
  skip ||= !show_search_controls? and return
  controls = search_controls.presence or return
-%>

<div class="layout-section search controls">
  <%= controls %>
  <%= advanced_search_button %>
</div>
