<%# app/views/layouts/_skip_nav.html.erb -%>
<%-
  # Hidden main "skip navigation" menu.

  lbl_id  = lbl_class = 'skip-nav-heading'
  menu    = render_skip_nav('aria-labelledby': lbl_id).presence or return
  label ||= config_term(:layout, :skip_nav, :label)
  label  += ':' unless label.end_with?(':')

-%>

<nav class="skip-nav main">
  <h2 class="<%= lbl_class -%>" id="<%= lbl_id -%>"><%= label -%></h2>
  <%= menu %>
</nav>
