<%# app/views/layouts/mailer.html.erb -%>
<!DOCTYPE html>
<html lang="<%= page_language -%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>E-mail</title>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
